<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html ; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" CONTENT="Fri, 01 Jan 1990 00:00:00 GMT">
    <meta http-equiv="Cache-Control"
          CONTENT="private, no-store, max-age=0, no-cache, must-revalidate, post-check=0, pre-check=0">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <title>Carlinbleu | Gestion et Suivi de Chantier</title>
    <meta content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" />
    <meta name="description" content="Votre application multi-utilisateurs de gestion de chantiers: Comptabilité, Gestion technique, Suivi et gestion de matériel,
         Gestion des articles, Planning, Gestionnaire de stock, etc.">
    <meta name="keywords"
          content="suivi, chantiers, gestion de chantiers, suivi de chantiers, projet, chantier, comptabilité, gestion technique, suivi , gestion de matériel, gestion de chantiersgestionnaire de projets, articles , showroom , matériels">
    <meta name="author" content="carlinGroup">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>
    <link rel="shortcut icon" type="image/png" href="https://www.carlinbleu.com/img/Icon-96.png">

    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}

</head>
<body class="bg-gradient-primary">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-10">
            <h2 class="tet text-white text-center" style="margin-top: 65px">BIENVENUE SUR CARLINBLEU</h2>
            <h4 class="text-center" style="color:#efd807;"> Votre application de suivi des chantiers </h4>

            <section class="features-icons" style="padding: 0 !important; margin-top: 40px">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 bg-light text-center p-0 hidere" style="border: 2px solid #4e73df">
                            <img src="{{ asset('img/cpter.png') }}" style="width: 100%;height: 100%">
                        </div>
                        <div class="col-lg-7 bg-light" style="border: 2px solid #4e73df; padding: 20px !important;">
                            <h4 class="text-center text-primary">Créez votre compte</h4>
                            <h5 class="text-center">Profitez de 3 mois d'essai gratuit ! </h5>
                            {% for message in app.flashes('success') %}
                                <h6 class="text-danger text-center">
                                    {{ message }}
                                </h6>
                            {% endfor %}

                            {% if errors is defined %}

                                {% for error in errors %}
                                    <h6 class="text-danger text-center">
                                        {{ error.message }}
                                    </h6>
                                {% endfor %}
                            {% endif %}

                            {% if rr is defined %}
                                <h6 class="text-danger text-center">
                                    {{ rr }}
                                </h6>
                            {% endif %}

                            <hr style="width: 50%;">

                            {{ form_start(registrationForm, {'attr': {'id': 'addUserForm'}}) }}
                            {{ form_row(registrationForm._token) }}
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <h6 class="text-primary" style="font-size: 13px">Nom<span class="text-danger">*</span></h6>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{ form_widget(registrationForm.nom,{'attr':{'class':'form-control form-control-user'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h6 class="text-primary" style="font-size: 13px">Prénoms<span class="text-danger">*</span></h6>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{ form_widget(registrationForm.prenoms,{'attr':{'class':'form-control form-control-user'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix m-b-10" style="margin-top: 5px">
                                <div class="col-sm-6">
                                    <h6 class="text-primary" style="font-size: 13px">Entreprise<span class="text-danger">*</span></h6>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{ form_widget(registrationForm.societe,{'attr':{'class':'form-control form-control-user'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h6 class="text-primary" style="font-size: 13px">Pays<span class="text-danger">*</span></h6>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{ form_widget(registrationForm.pays,{'attr':{'class':'form-control form-control-user','placeholder':'Pays'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix m-b-10" style="margin-top: 5px">
                                <div class="col-sm-6">
                                    <h6 class="text-primary" style="font-size: 13px">Email<span class="text-danger">*</span></h6>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{ form_widget(registrationForm.username,{'attr':{'class':'form-control form-control-user'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h6 class="text-primary" style="font-size: 13px">Contact<span class="text-danger">*</span></h6>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{ form_widget(registrationForm.contact,{'attr':{'class':'form-control form-control-user'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix m-b-10" style="margin-top: 5px">
                                <div class="col-sm-6">
                                    <h6 class="text-primary" style="font-size: 13px">Mot de passe<span class="text-danger">*</span></h6>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{ form_widget(registrationForm.password,{'attr':{'class':'form-control form-control-user','minlength':'8'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h6 class="text-primary" style="font-size: 13px">Confirmer<span class="text-danger">*</span></h6>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{ form_widget(registrationForm.confirm_passe,{'attr':{'class':'form-control form-control-user', 'minlength':'8'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6 style="font-size: 11px; margin-top: 20px">En cliquant sur "CRÉER VOTRE COMPTE", vous acceptez notre <a href="{{ path('privacy') }}" style="font-size: 12px">Politique de confidentialité</a>.
                                Vous recevrez peut-être des notifications par mail de notre part et vous pouvez à tout moment nous répondre.</h6>
                            <div class="text-center" style="margin-top: 20px">
                                <input type="button" id="addUser" value="CRÉER VOTRE COMPTE" class="btn btn-primary btn-block">
                                <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                     class="align-justify" id="loadccount">
                            </div>
                            {{ form_end(registrationForm) }}


                            <br>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
</body>
</html>
