<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html ; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="Fri, 01 Jan 1990 00:00:00 GMT">
    <meta http-equiv="Cache-Control"
          content="private, no-store, max-age=0, no-cache, must-revalidate, post-check=0, pre-check=0">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Carlinbleu | Gestionnaire de Chantiers</title>
    <meta content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0"/>
    <meta name="description" content="Votre application multi-utilisateurs de gestion de chantiers: Comptabilité, Gestion technique, Suivi et gestion de matériel,
         Gestion des articles, Planning, Gestionnaire de stock, etc.">
    <meta name="keywords"
          content="carlinbleu, carlin bleu, carlin, gestion , projet, chantier, comptabilité, gestion technique, suivi , gestion de matériel, gestion de chantiersgestionnaire de projets, articles , showroom , matériels">
    <meta name="author" content="carlinGroup">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="https://www.carlinbleu.com/img/Icon-96.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    {{ encore_entry_link_tags('admin') }}

    <style>
        h6{font-size:13px !important;}
        a{color: #3d67d0; font-weight: bold
        }
    </style>

</head>

<body class="bg-gradient-primary">

<div class="modal" id="searcheur" >
    <div class="modal-dialog" style="max-width: 700px !important;">
        <div class="modal-content" >
            <div style="background-color:#dddfeb; padding:2px !important">
                <h4 class="modal-title" id="Modaltitle"></h4>
                <i class="btn material-icons float-lg-right col-pink" id="closeframers"
                   style="font-size: 20px !important; color: #E91E63 !important; font-weight: bold !important;">clear</i>
                <h6 style="margin: 15px 0 0 10px; color: black; font-weight: bold">RECHERCHER</h6>
            </div>
            <div class="modal-body" style="height:75vh;padding:20px !important;  overflow-y: scroll" id="shaacontente">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Rechercher..." id="richis"
                           style="border: 2px solid dodgerblue; padding: 10px"/>
                </div>
                <div id="ressulte" style="width: 100%; color:black; padding-top: 20px;" class="text-left"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModale">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="background-color:#dddfeb; padding:2px !important">
                <h4 class="modal-title" id="Modaltitle"></h4>
                <i class="btn material-icons float-lg-right col-pink" id="closeframer"
                   style="font-size: 20px !important; color: #E91E63 !important; font-weight: bold !important;">clear</i>
                <i class="btn material-icons float-left col-blue" id="goback"
                   style="font-size: 20px !important;color: #2196F3 !important; font-weight: bold !important;">arrow_back</i>
                <i class="btn material-icons float-left col-blue" id="goforward"
                   style="font-size: 20px !important;color: #2196F3 !important; font-weight: bold !important;">arrow_forward</i>
                <i class="btn material-icons float-left col-blue" id="reloadframer"
                   style="font-size: 20px !important;color: #2b982b !important; font-weight: bold !important;">refresh</i>
            </div>
            <div class="modal-body" style="height:95vh;width:100%;padding:0 !important" id="shaacontent">
                <iframe id="framer" src=""></iframe>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modpara" >
    <div class="modal-dialog" style="max-width: 700px !important;">
        <div class="modal-content" >
            <div style="background-color:#dddfeb; padding:2px !important">
                <h4 class="modal-title" id="Modaltitle"></h4>
                <i class="btn material-icons float-lg-right col-pink" id="closefra"
                   style="font-size: 20px !important; color: #E91E63 !important; font-weight: bold !important;">clear</i>
                <h6 style="margin: 15px 0 0 10px; color: black; font-weight: bold">NUMÉROTATION DES ENTITÉS</h6>
            </div>
            <div class="modal-body" style="height:80vh;padding:20px !important; overflow-y: scroll" id="shacompte">
                {{ form_start(formCompte, {'attr': {'id': 'addFCompteForm'}}) }}
                {{ form_row(formCompte._token) }}
                <div class="row clearfix m-b-10" style="margin-top:20px">
                    <div class="col-sm-4">
                        <label class="form-label m-b--30 font-weight-bold" style="color: #6666dc">Nº Client<span
                                    class="col-red">*</span></label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(formCompte.coclient,{'attr':{'class':'form-control text-paimary'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label m-b--30 font-weight-bold" style="color: #6666dc">Devis<span
                                    class="col-red">*</span></label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(formCompte.compteDevis,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label m-b--30 font-weight-bold" style="color: #6666dc">Règlement<span
                                    class="col-red">*</span></label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(formCompte.compteReglement,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-b-10" style="margin-top:20px">
                    <div class="col-sm-4">
                        <label class="form-label m-b--30 font-weight-bold" style="color: #6666dc">Fournisseur<span
                                    class="col-red">*</span></label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(formCompte.compteFournisseur,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label m-b--30 font-weight-bold" style="color: #6666dc">Prestataire<span
                                    class="col-red">*</span></label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(formCompte.comptePrestataire,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label m-b--30 font-weight-bold" style="color: #6666dc">Matériel<span
                                    class="col-red">*</span></label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(formCompte.compteMateriel,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-b-10" style="margin-top:20px">
                    <div class="col-sm-4">
                        <label class="form-label m-b--30 font-weight-bold" style="color: #6666dc">Bon Fournisseur<span
                                    class="col-red">*</span></label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(formCompte.compteBonFournisseur,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label m-b--30 font-weight-bold" style="color: #6666dc">Bon Prestataire<span
                                    class="col-red">*</span></label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(formCompte.compteBonPrestataire,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label m-b--30 font-weight-bold" style="color: #6666dc">Bon de Livraison<span
                                    class="col-red">*</span></label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(formCompte.compteLivraison,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-b-10" style="margin-top:20px">
                    <div class="col-sm-4">
                        <label class="form-label m-b--30 font-weight-bold" style="color: #6666dc">Bon de Caisse<span
                                    class="col-red">*</span></label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(formCompte.compteCaisse,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label m-b--30 font-weight-bold" style="color: #6666dc">Facture<span
                                    class="col-red">*</span></label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(formCompte.compteFacture,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label m-b--30 font-weight-bold" style="color: #6666dc">Décompte<span
                                    class="col-red">*</span></label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(formCompte.compteDecompte,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-b-10" style="margin-top:20px">
                    <div class="col-sm-4">
                        <label class="form-label m-b--30 font-weight-bold" style="color: #6666dc">Fichier<span
                                    class="col-red">*</span></label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(formCompte.compteFichier,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label m-b--30 font-weight-bold" style="color: #6666dc">Planning<span
                                    class="col-red">*</span></label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(formCompte.comptePlanning,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label m-b--30 font-weight-bold" style="color: #6666dc">Tache<span
                                    class="col-red">*</span></label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(formCompte.compteTache,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-b-10" style="margin-top:20px">
                    <div class="col-sm-4">
                        <label class="form-label m-b--30 font-weight-bold" style="color: #6666dc">Sigle<span
                                    class="col-red">*</span></label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(formCompte.sigle,{'attr':{'class':'form-control text-paimary'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="margin-top:30px">
                    <input type="submit" value="MODIFIER" class="btn waves-effect text-white bg-success">
                </div>
                {{ form_end(formCompte) }}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center" style="margin-top:60px">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <h2 class="tet text-white text-center font-weight-bold">CARLINBLEU</h2>
            <h5 class="text-center" style="color:#efd807; "> GESTIONNAIRE DE CHANTIERS</h5>
            <section class="features-icons  text-center" style="padding: 0 !important">
                <div class="container" style="padding: 0 !important;">


                    <div class="btn-group" role="group" aria-label="Basic examples" style="margin-top: 20px !important">
                          <button  onclick="shashares();" class="btn" style="background-color: #03A9F4FF; color: #FFF">Rechercher</button>
                    </div>
                    <br>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" {% if checkMaster == "oui" %} onclick="shasharo();" {% endif %} class="btn btn-primary"
                                style="background-color: #a5a5c0 !important; color:black; margin-top: 10px !important;">
                            Numérotations
                        </button>
                        <button type="button" {% if arole == "oui" %} onclick="shashar('chantiers');" {% endif %} class="btn btn-primary"
                                style="background-color: #fff !important; color:black; margin-top: 10px !important;">
                            Gestion des chantiers
                        </button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" {% if arole == "oui" %} onclick="shashar('etat');" {% endif %} class="btn btn-primary"
                                style="background-color: #a5a5c0 !important; color:black; margin-top: 10px !important;">
                            Gestion des états
                        </button>
                        <button type="button" onclick="shashar('technique');" class="btn btn-primary"
                                style="background-color: #fff !important; color:black; margin-top: 10px !important;">
                            Gestion Technique
                        </button>
                    </div>

                    <div class="row" style='margin:10px 0 15px 0;'>
                        <div class="d-grid gap-2 col-4 mx-auto">
                            <button onclick="shashar('planning');" class="btn btn-primary" type="button">Planning
                            </button>
                            <button onclick="shashar('parametre');" class="btn btn-primary" type="button">Paramètre
                            </button>
                            <button onclick="shashar('historique');" class="btn btn-primary" type="button">Historique
                            </button>
                        </div>
                        <div class="d-grid gap-2 col-4 mx-auto">
                            <button onclick="shashar('start');" class="btn btn-primary" type="button">Agenda</button>
                            <button onclick="shashar('corbeille');" class="btn btn-primary" type="button">Corbeille
                            </button>
                            <button onclick="shashar('message');" class="btn btn-primary" type="button">Messages
                            </button>
                        </div>
                        <div class="d-grid gap-2 col-4 mx-auto">
                            <button onclick="shashar('chat');" class="btn btn-primary" type="button">Chat</button>
                            <button onclick="shashar('paie');" class="btn btn-primary" type="button">Paie</button>
                            <a href="{{ path('logout') }}" class="btn btn-danger" type="button">Quitter</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 bg-light"
                             style="border: 2px solid #4e73df; padding:20px; background-color:#03A9F4 !important">
                            <a href="#" onclick="shashar('materiel');" style="text-decoration: none; color:#FFF">
                                <div class="features-icons-item mx-auto">
                                    <h5 class="text-pri" style="margin-top: 20px">GESTION DU MATÉRIEL</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 bg-light"
                             style="border: 2px solid #4e73df; padding:20px; background-color:#03A9F4 !important">
                            <a href="#" onclick="shashar('documents');" style="text-decoration: none; color:#FFF">
                                <div class="features-icons-item mx-auto">
                                    <h5 class="text-pri" style="margin-top: 20px">GESTIONNAIRE DE FICHIERS</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 bg-light"
                             style="border: 2px solid #4e73df; padding:20px; background-color:#03A9F4 !important">
                            <a href="#" onclick="shashar('article');" style="text-decoration: none; color:#FFF">
                                <div class="features-icons-item mx-auto">
                                    <h5 class="text-pri" style="margin-top: 20px">GESTION DES ARTICLES</h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 bg-light"
                             style="border: 2px solid #4e73df; padding:20px; background-color:#03A9F4 !important">
                            <a href="#" onclick="shashar('personnel');" style="text-decoration: none; color:#FFF">
                                <div class="features-icons-item mx-auto">
                                    <h5 class="text-pri" style="margin-top: 20px">GESTION DU PERSONNEL</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <h6 style="float: left; color: #fff; margin-top:20px">©Carlinbleu. All rights reserved.</h6>
                    <h6 style="float: right; margin-top:20px">
                        <a href="https://www.facebook.com/profile.php?id=100088340186112"
                           style="color: #fff">facebook</a> |
                        <a href="https://www.linkedin.com/company/carlinbleu" style="color: #fff">linkedin</a>
                    </h6>

                </div>
            </section>
        </div>
    </div>
</div>
</body>

<script>

    window.shashares = function shashares() {
        const modal = document.getElementById("searcheur");
        modal.style.display = "block";
    }

    window.shasharo = function shasharo() {
        const modal = document.getElementById("modpara");
        modal.style.display = "block";
    }

    window.shashar = function shashar(a) {
        event.preventDefault();
        localStorage.setItem('reloadd', a);
        document.getElementById('shaacontent').innerText = ' ';
        const frame = document.createElement("IFRAME");
        frame.setAttribute("style", 'width: 100%; height: 100%; border: none;');
        frame.setAttribute("id", 'framer');
        frame.setAttribute("src", '/crm/' + a);
        document.getElementById('shaacontent').appendChild(frame);
        const modal = document.getElementById("myModale");
        modal.style.display = "block";
    }

    document.getElementById('closeframer').onclick = function () {
        const modal = document.getElementById("myModale");
        modal.style.display = "none";
    }

    document.getElementById('closeframers').onclick = function () {
        const modal = document.getElementById("searcheur");
        modal.style.display = "none";
    }

    document.getElementById('closefra').onclick = function () {
        const modal = document.getElementById("modpara");
        modal.style.display = "none";
    }

    document.getElementById('reloadframer').onclick = function () {
        const aa = localStorage.getItem('reloadd');
        const modal = document.getElementById("myModale");
        document.getElementById('shaacontent').innerText = ' ';
        const frame = document.createElement("IFRAME");
        frame.setAttribute("style", 'width: 100%; height: 100%; border: none;');
        frame.setAttribute("id", 'framer');
        frame.setAttribute("src", '/crm/' + aa);
        document.getElementById('shaacontent').appendChild(frame);
        modal.style.display = "block";
    }

    document.getElementById('goback').onclick = function () {
        window.history.back();
    }

    document.getElementById('goforward').onclick = function () {
        window.history.forward();
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
{{ encore_entry_script_tags('admin') }}
</body>
</html>
