{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section class="content" style="margin-top: 50px !important;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="padding: 10px">
                    <div class="card shadow mb-4" id="client">
                        <h4 class="text-left bg-pri col-white bolo600 bolderrer" style="width: 100%; padding: 20px">
                            CHARGES PRÉVISIONNELLES
                        </h4>
                        <div class="table-responsive" style="padding: 30px; overflow-x: scroll">
                            <h4 class="col-blue bolo700">Chantiers</h4>
                            <select id="chanchane">
                                {% if chantier  is null %}
                                    <option value="" disabled selected>Veuillez Choisir un Chantier svp !</option>
                                {% else %}
                                    <optgroup label="{{ chantier.client.nomclient|upper }}">
                                        <option value="{{ chantier.id }}"
                                                selected>{{ chantier.nomchantier|upper }}</option>
                                    </optgroup>
                                {% endif %}

                                {% for client in clients %}
                                    {% set chantiers = client.chantiers %}
                                    {% set cc = 0 %}
                                    {% for chan in chantiers %}
                                        {% if chan.corbeille is null and chan.type is null %}
                                            {% set cc = cc + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if cc > 0 %}
                                        <optgroup label="{{ client.nomclient|upper }}">
                                            {% for chan in chantiers %}
                                                {% if chan.corbeille is null and chan.type is null %}
                                                    <option value="{{ chan.id }}">{{ chan.nomchantier|upper }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </optgroup>
                                    {% endif %}
                                {% endfor %}

                            </select>
                            <br/>
                            <h4 class="col-blue bolo700">Devis</h4>
                            <select id="chdevis">
                                <option value="" disabled selected>Veuillez Choisir un Devis svp !</option>
                                {% if chantier is not null %}
                                    {% for dev in deviss %}
                                        {% if dev.corbeille is null and dev.type is null %}
                                            <option value="{{ dev.id }}">{{ dev.iddevis|upper }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <br/><br/><br/>

                            <div class="col-sm-12 text-center">
                                <h4 class="bolo700 col-blue">  {% if devis %}{{ devis.client.nomclient }}  {% endif %}</h4>
                                <h4 class="bolo700 col-pink">{% if devis %}{{ devis.chantier.nomchantier }}{% endif %}</h4>
                                <h4 class="bolo700 col-blue-grey">VUE DES CHARGES PRÉVISIONNELLES SUR
                                    {% if devis %}DEVIS N° {{ devis.iddevis }}{% endif %}</h4>
                            </div>
                            <br/>
                            <table class="table-striped table-bordered display nowrap" style="width:100%"
                                   id="dataBudget">
                                <thead>
                                <tr>
                                    <th> RÉF</th>
                                    <th> CATÉGORIES</th>
                                    <th style="text-align:right !important;">PREVISION (HT)</th>
                                    <th style="text-align:right !important;"> RÉALISÉ</th>
                                    <th style="text-align:right !important;">ECART(+/-)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if devis %}
                                    {% for lign in devis.lignes %}
                                        {% set too = 0 %}
                                        {% if devis.ptva == "oui" or devis.ptva == 'susp' %}
                                            {% if devis.aarem == "non" %}
                                                {% set too = lign.pu * lign.quantite %}
                                                {% set too = too * (1 + (devis.tva/100)) %}
                                            {% elseif devis.aarem == "oui" %}
                                                {% set too = lign.pu * lign.quantite * (100 - lign.remise) %}
                                                {% set too = too + (1 * (devis.tva/100)) %}
                                            {% endif %}
                                        {% endif %}
                                        {% if devis.ptva == "non" %}
                                            {% if devis.aarem == "non" %}
                                                {% set too = lign.pu * lign.quantite %}
                                            {% elseif devis.aarem == "oui" %}
                                                {% set too = lign.pu * lign.quantite * (100 - lign.remise) %}
                                            {% endif %}
                                        {% endif %}

                                        <tr>
                                            <td>{{ lign.reference }}</td>
                                            <td class="col-blue bolo600">{{ lign.designation|raw }}</td>
                                            <td style="text-align:right !important;"
                                                class="bolo600 col-blue-grey">{{ too|number_format(2,',',' ') }}</td>
                                            <td class="text-right bolo600 col-blue-grey">{{ lign.realiser|number_format(2,',',' ') }}</td>
                                            <td class="text-right bolo600 col-blue-grey">
                                                {% if lign.realiser is not null %}
                                                {{ (too - lign.realiser )|number_format(2,',',' ') }}</td>
                                            {% else %}
                                                {{ (0 - too)|number_format(2,',',' ') }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="col-md-12" style="padding: 10px">
                    <div class="card shadow mb-4" id="client">
                        <h4 class="text-left bg-pri col-white bolo600 bolderrer" style="width: 100%; padding: 20px">
                            JOURNAL DES DÉPENSES
                        </h4>
                        <div class="table-responsive" style="padding: 20px; overflow-x: scroll">
                            <table class="table-striped table-bordered display nowrap"
                                   style="width: 100%"
                                   id="dataJOURNALE">
                                <thead>
                                <tr class="text-center bolderr">
                                    <th>DATE</th>
                                    <th>DÉSIGNATION</th>
                                    <th>N° CAISSE</th>
                                    <th>MONTANT</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if devis %}
                                    {% for journal in journals %}
                                <tr>
                                        <td>{{ journal.caisse.date|date('d.m.Y') }}</td>
                                        <td>{{ journal.ligne.designation|striptags|raw }}</td>
                                        <td><a href="#">Paie {{ journal.caisse.numcaisse }}</a></td>
                                        <td class="text-right bolo600">{{ journal.caisse.montant }}</td>
                                </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>
                                <tr class="text-center bolderr">
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th class="text-right bg-blue col-white"></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        localStorage.setItem('reloadd', 'budget');
    </script>
{% endblock %}
