{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <section class="content m-t--25">
        <div class="container-fluid">
            <div class="row clearfix m-t-100">
                <div class="col-sm-12 text-center">
                    {% for me in met %}
                        <a href="{{ path('catalogue', {'idpays': 1 , 'metier': me.id}) }}" class="btn bg-blue text-center waves-effect">{{ me.nom }}</a>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="row clearfix">
                <div class="col-xs-12 col-md-8 col-sm-8">
                    <div class="card" style="padding: 20px; min-height: 800px">
                        <h4 class="col-pink" style="font-weight: bold">{{ metier.nom|upper }}</h4>
                    </div>

                </div>



                <div class="col-xs-12 col-md-4 col-sm-4">
                        <div class="card bg-blue-grey" style="padding: 10px;">
                    <h4 style="font-weight: bold">ENTREPRISES AGRÉÉES</h4><br>
                    {% for user in users %}
                    {% if user.presentation == 'oui' %}
                    <div class="card profile-card" style="margin-top: 70px">

                        <div class="profile-body">
                            <div class="image-area">
                                <img src="https://carlinbleu.com/eagles/public/gallery/{{ user.logo }}"  style="width: 96px; height: 96px" />
                            </div>
                            <div class="content-area">
                                <h3 class="col-pink bolo600">{{ user.societe|upper }}</h3>
                                <p>{{ user.nom|upper }} {{ user.prenoms|upper }}</p>
                                <p>{{ user.contact }}</p>
                            </div>
                        </div>
                        <div class="profile-footer">
                            <a href="{{ path('page',{'id':user.id}) }}" class="btn btn-primary btn-lg waves-effect btn-block">DÉCOUVRIR</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

