{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}

    <input type="text" class="hide" id="idchantier" value="{{ chantier.id }}"/>
    <input type="text" class="hide" id="page" value="chanetude"/>

    <div class="modal fade right" id="modalChantier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                {% if idchantier %}
                    <div class="modal-header col-white bg-green p-l-20">
                        <h3 class="modal-title" id="defaultModalLabel">
                            <i class="icofont-minus-circle icofont-1x"></i>
                            MODIFIER UN CHANTIER</h3>
                    </div>
                {% else %}
                    <div class="modal-header col-white bg-blue p-l-20">
                        <h3 class="modal-title" id="defaultModalLabel">
                            <i class="icofont-minus-circle icofont-1x"></i>
                            AJOUTER UN CHANTIER</h3>
                    </div>
                {% endif %}

                <div class="modal-body m-t-10 bien">
                    {{ form_start(formChantier, {'attr': {'id':'addChantierForm' }}) }}
                    <input type="hidden" name="token" value="{{ csrf_token('addChantierToken') }}"/>
                    <div class="row clearfix m-b-10">
                        <div class="col-sm-12">
                            <label class="form-label pri bolo">CLIENT<span class="col-red">*</span>
                            </label>
                            <div class="form-group m-t--5">
                                <div class="form-line">
                                    {{ form_widget(formChantier.client,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-10">
                        <div class="col-sm-12">
                            <label class="form-label pri bolo">NOM DU CHANTIER<span class="col-red">*</span>
                            </label>
                            <div class="form-group m-t--5">
                                <div class="form-line">
                                    {{ form_widget(formChantier.nomchantier,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-10">
                        <div class="col-sm-12">
                            <label class="form-label pri bolo">RÉFÉRENCE CONTRAT</label>
                            <div class="form-group m-t--5">
                                <div class="form-line">
                                    {{ form_widget(formChantier.contrat,{'attr':{'class':'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-10">
                        <div class="col-sm-12">
                            <label class="form-label pri bolo">SITUATION GÉOGRAPHIQUE</label>
                            <div class="form-group m-t--5">
                                <div class="form-line">
                                    {{ form_widget(formChantier.localisation,{'attr':{'class':'form-control chr'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-10">
                        <div class="col-sm-12">
                            <label class="form-label pri bolo">SOUS-CHANTIER DU CHANTIER</label>
                            <div class="form-group m-t--5">
                                <div class="form-line">
                                    {{ form_widget(formChantier.sous,{'required':'','attr':{'class':'form-control chr' }}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-10">
                        <div class="col-sm-12">
                            <label class="form-label pri bolo">DESCRIPTION</label>
                            <div class="form-group m-t--5">
                                <div class="form-line">
                                    {{ form_widget(formChantier.description,{'required':'','id':'description','attr':{'class':'form-control chr'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-10">

                        <div class="col-sm-6">
                            <div class="form-group m-t--5">
                                <label class="form-label pri bolo">DÉBUTE LE</label>
                                <div class="input-group date" id="id_0">
                                    <input type="text" placeholder="Date..." id="ddebut" name="ddebut"
                                           style="border-bottom: 1px solid #000" class="form-control chr"/>
                                    <div class="input-group-addon input-group-append">
                                        <div class="input-group-text">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group m-t--5">
                                <label class="form-label pri bolo">TERMINE LE</label>
                                <div class="input-group date" id="id_1">
                                    <input type="text" placeholder="Date..." id="dfin" name="dfin"
                                           style="border-bottom: 1px solid #000" class="form-control chr"/>
                                    <div class="input-group-addon input-group-append">
                                        <div class="input-group-text">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if idchantier %}
                        <div class="text-center " id="divChantiere">
                            <input type="submit" id="updateChanier" value="MODIFIER"
                                   class="btn btn-link waves-effect col-white bg-green">
                            <a href="{{ path('chancours') }}" type="button" id="closeChantier"
                               class="btn btn-link waves-effect col-white bg-pink"
                               data-dismiss="modal">
                                ANNULER
                            </a>
                        </div>
                    {% else %}
                        <div class="text-center" id="divChantiere">
                            <input type="submit" id="addChantier" value="ENREGISTRER"
                                   class="btn btn-link waves-effect col-white bg-pri">
                            <div type="button" id="closeChantier" class="btn btn-link waves-effect col-white bg-pink"
                                 data-dismiss="modal">
                                FERMER
                            </div>
                        </div>
                    {% endif %}
                    <div class="text-center">
                        <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                             class="align-justify" id="loadChantier"></div>
                    {{ form_end(formChantier) }}

                </div>
            </div>
        </div>
    </div>

    <section class="content" style="margin-top: 50px !important;">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix m-t-50">
                    <div class="col-sm-12 ">
                        <h4 class="bolo700 col-deep-orange">CHANTIERS EN ÉTUDE</h4>
                        <button type="button" data-toggle="modal" data-target="#modalChantier"
                                class="btn bg-blue text-white" style="border:1px solid #dddfeb">+ CHANTIER
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content" id="setchantier">
        <div class="container-fluid">
            <div class="block-header">
                <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-pri shadow"
                         style="border-left: 2px solid #6636f6;">
                        <div class="panel-heading" role="tab" id="headingEtu_1">
                            <h5 class="panel-title">
                                <a class="collapsed outai col-white" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseEtu_1p" aria-expanded="false"
                                   aria-controls="collapseEtu_1">
                                    <i class="material-icons col-white" style="font-size: 18px;float: left">keyboard_arrow_down</i>Chantiers
                                    en étude
                                </a>
                            </h5>
                        </div>
                        <div id="collapseEtu_1p" class="panel-collapse" role="tabpanel"
                             aria-labelledby="headingEtu_1">
                            <div class="panel-body">
                                <div class="table-responsive shadow" style="padding: 20px; overflow: scroll">
                                    <table class="table-striped table-bordered display nowrape" id="dataEtude"
                                           style="width:100%">
                                        {% set solde = 0 %}
                                        {% for client in clients %}
                                            {% if client.type is null %}
                                                {% if client.corbeille is null %}
                                                    {% set vp = 0 %}
                                                    {% set vr = 0 %}
                                                    {% set dp = 0 %}
                                                    {% for chantier in client.chantiers %}
                                                        {% if chantier.etat == "etude" and chantier.corbeille is null %}
                                                            {% set vp = chantier.cout + vp %}
                                                            {% set vr = chantier.reglement + vr %}
                                                            {% set dp = chantier.depense + dp %}
                                                        {% endif %}
                                                    {% endfor %}

                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <thead>
                                        <tr class="font-weight-normal">
                                            <th style="min-width: 30px !important;"></th>
                                            <th class="col-blue-grey">CHANTIERS / CLIENT</th>
                                            <th class="text-center col-blue-grey">CLIENT</th>
                                            <th class="text-center col-blue-grey">COÛT PRÉVU</th>
                                            <th class="text-center col-blue-grey">RÈGLEMENT</th>
                                            <th class="text-center col-blue-grey">SOLDE</th>
                                            <th class="text-center col-blue-grey">COMMANDES</th>
                                            <th class="text-center col-blue-grey">BALANCE</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for client in clients %}
                                            {% if client.type is null %}
                                                {% if client.corbeille is null %}
                                                    {% for chantier in client.chantiers %}
                                                        {% if chantier.etat == "etude" %}
                                                            {% if chantier.corbeille is null %}
                                                                {% set solde  = chantier.cout - chantier.reglement %}
                                                                <tr>
                                                                    <td class="text-center">
                                                                        <input type="checkbox" data-toggle="toggle"
                                                                               class="PROETU"
                                                                               value="{{ chantier.id }}">
                                                                    </td>
                                                                    <td>
                                                                        <a href="{{ path('chantier', {'id': chantier.id}) }}"
                                                                           title="{{ chantier.nomchantier }}"
                                                                           class="bolo600">
                                                                            {% if chantier.sous is not null %}
                                                                                <span class="badge bg-orange">SC</span>
                                                                            {% endif %}
                                                                            {{ chantier.nomchantier|upper|u.truncate(30, '...', false) }}
                                                                        </a>
                                                                    </td>
                                                                    <td class="bolo600"><a
                                                                                href="{{ path('client', {'id': client.id}) }}"
                                                                                class="col-white bolo700">{{ client.nomclient|upper }}</a>
                                                                    </td>
                                                                    <td class="text-right">{{ chantier.cout|number_format(2,',',' ') }}</td>
                                                                    <td class="text-right">{{ chantier.reglement|number_format(2,',',' ') }}</td>
                                                                    <td style="text-align: right">{{ solde|number_format(2,',',' ') }}</td>
                                                                    <td style="text-align: right">{{ chantier.depense|number_format(2,',',' ') }}</td>

                                                                    {% set balance = chantier.reglement|number_format(2,'.','') -  chantier.depense|number_format(2,'.','') %}

                                                                    <td style="text-align: right">{{ balance|number_format(2,',',' ') }}</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}

                                        </tbody>
                                        <tfoot>
                                        <tr class="font-weight-normal">
                                            <th style="width: 10px !important;"></th>
                                            <th></th>
                                            <th class="text-right bg-blue"></th>
                                            <th class="text-right bg-blue col-white"></th>
                                            <th class="text-right bg-blue col-white"></th>
                                            <th class="text-right bg-blue col-white"></th>
                                            <th class="text-right bg-blue col-white"></th>
                                            <th class="text-right bg-blue col-white"></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
