{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

    <style>
        table td {
            max-width: 150px !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
            overflow: hidden;
            padding: 2px !important;
        }
    </style>

    <input type="text" class="hide" id="idclient" value="{{ client.id }}">
    <input type="text" class="hide" id="pager" value="client"/>

    <div class="modal fade right" id="mdModalRegle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header bg-blue text-white">
                    <h4 class="modal-title" id="defaultModalLabel p-l-20">AJOUTER UN RÈGLEMENT</h4>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(formeRegle, {'attr': {'id': 'addReglementForm'}}) }}
                        <input type="hidden" name="token" value="{{ csrf_token('addReglementToken') }}"/>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 col-blue bolo">FACTURES NON VALIDÉES</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select id="facfac" name="facfac" class="form-control">
                                            <option value="" disabled selected>Faites votre choix</option>
                                            {% for client in clients %}
                                                {% if client.corbeille is null and client.type is null %}
                                                    {% for chantier in client.chantiers %}
                                                        {% if chantier.corbeille is null %}
                                                            {% set tt = 0 %}

                                                            {% for fac in chantier.factures %}
                                                                {% if fac.etat == "save" and fac.corbeille is null %}
                                                                    {% set tt = tt + 1 %}
                                                                {% endif %}
                                                            {% endfor %}

                                                            {% if  tt > 0 %}
                                                                <optgroup
                                                                        label="{{ client.nomclient|upper }} | {{ chantier.nomchantier|upper }}">
                                                                    {% for fac in chantier.factures %}
                                                                        {% if fac.etat == "save" %}
                                                                            <option value="{{ fac.id }}"
                                                                                    class="{{ fac.id }}">FACTURE
                                                                                Nº{{ fac.numfacture }}</option>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </optgroup>
                                                            {% endif %}

                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <p class="h6 dvfac"></p>
                                    <p class="h6 dvface"></p>
                                    <p class="h6 dvfaces"></p>
                                    <p class="h6 resta hide"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 col-blue bolo">MONTANT<span
                                            class="col-red">*</span></label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formeRegle.montant,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                    <p class="h6 restu col-pink"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 col-blue bolo">MOYEN DE PAIEMENTS</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formeRegle.moyen,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" id="addReglementChantiers" value="ENREGISTRER"
                                   class="btn btn-link waves-effect col-white bg-blue">
                            <div type="button" id="closeReglement" class="btn btn-link waves-effect col-white bg-pink"
                                 data-dismiss="modal">
                                FERMER
                            </div>
                            <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                 class="align-justify" id="loadReglement">
                        </div>
                        <br><br><br>
                        {{ form_end(formeRegle) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="mdModalClient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-green p-l-20">
                    <h3 class="modal-title" id="defaultModalLabel">MODIFIER UN CLIENT</h3>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(formClient, {'attr': {'id':'addClientForm'}}) }}
                        {{ form_row(formClient._token) }}
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label pri bolo">CLIENT<span class="col-red">*</span></label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formClient.nomclient,{'attr':{'class':'form-control col-pink'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label pri bolo">ADRESSE</label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formClient.adresse,{'attr':{'class':'form-control col-pink'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label pri bolo">CONTACTS</label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formClient.contact,{'attr':{'class':'form-control col-pink'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label pri bolo">COMPTE CONTRIBUABLE</label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formClient.contribuable,{'attr':{'class':'form-control col-pink'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="text" class="hide" id="idclient" value="{{ client.id }}">
                            <input type="submit" id="updClient" value="MODIFIER"
                                   class="btn btn-link waves-effect text-white bg-green">
                            <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                 class="align-justify" id="loadClient">
                        </div>
                        {{ form_end(formClient) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="content" style="margin-top: 80px !important;">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-sm-5">
                    <div class="panel-body bg-white shadow" style="height: 200px">
                        <div class="table-responsive">
                            <h3 class="bolo700" style="color: red"> {{ client.nomclient }}</h3>
                            <table class="table-striped" style="width: 100%">
                                <tr>
                                    <td class="pri">CODE CLIENT</td>
                                    <td class="col-black">{{ client.code }}</td>
                                </tr>
                                <tr>
                                    <td class="pri">COMPTE CONTRIBUABLE</td>
                                    <td class="col-black">{{ client.contribuable }}</td>
                                </tr>
                                <tr>
                                    <td class="pri">ADRESSE</td>
                                    <td class="col-black">{{ client.adresse }}</td>
                                </tr>
                                <tr>
                                    <td class="pri">CONTACTS</td>
                                    <td class="col-black">{{ client.contact }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel-body bg-white shadow" style="height: 200px">
                        <h4 class="pri bolo600">COMPTE CLIENT</h4>
                        {% set d = 0 %}
                        {% set v = 0 %}
                        {% set f = 0 %}
                        {% set sf = 0 %}
                        {% for releve in client.releves %}
                            {% if releve.devis %}
                                {% if releve.devis.etat == 'valide' %}
                                    {% if releve.type == 2 %}{% set f = releve.montant + f %}{% endif %}
                                    {% if releve.type == 3 %}{% set v = releve.montant + v %}{% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% for dev in client.devis %}
                            {% if dev.etat == 'valide' and dev.corbeille == null %}
                                {% if dev.type != 'esti'  %}
                                    {% set d = d + dev.totalttc %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <table class="table-bordered" style="width: 100%">
                            <tr>
                                <td class="bg-lig col-blue-grey bolo700">TOTAL DEVIS VALIDÉS</td>
                                <td class="text-right col-pink"
                                    style="font-size: 16px; font-weight: 600">{{ d|number_format(2, ',', ' ') }}</td>
                            </tr>

                            <tr>
                                <td class="bg-lig col-blue-grey bolo700">TOTAL RÈGLEMENT</td>
                                <td class="text-right col-pink"
                                    style="font-size: 16px; font-weight: 600">{{ v|number_format(2, ',', ' ') }}</td>
                            </tr>
                            <tr>
                                <td class="bg-lig col-blue-grey bolo700">SOLDE</td>
                                <td class="text-right col-pink"
                                    style="font-size: 16px; font-weight: 600">{{ (d-v)|number_format(2, ',', ' ') }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-3" style="height: 150px">
                    <div class="button-demo">

                        <button type="button" class="btn bg-green align-left m-b-10 text-white waves-effect"
                                data-toggle="modal" data-target="#mdModalClient" style="width: 100%;">MODIFIER LE CLIENT
                        </button>
                        <button type="button" class="btn bg-blue  align-left m-b-10 text-white waves-effect"
                                data-toggle="modal" data-target="#mdModalRegle" style="width: 100%;">AJOUTER UN
                            RÈGLEMENT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content" style="margin-top: 20px !important;">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="card shadow ">
                        <div class="card-body" style="padding: 20px">
                            <div class="table-responsive">
                                <h4 class="pri bolo600">RELEVÉ DE COMPTE</h4>
                                <hr class="m-t--5 bg-pri" style="height: 1px">
                                <div class="table-responsive" style="margin-bottom: 30px">
                                    <table class="table-striped table-bordered display nowrap" id="dataRELEVE"
                                           style="margin-top: 50px; width: 100%">
                                        <thead>
                                        <tr class="bolo600">
                                            <th style="text-align:center; width: 80px !important;">DATE</th>
                                            <th style="text-align:center;" class="mw400">ENREGISTREMENT</th>
                                            <th style="text-align:center;">MONTANT</th>
                                            <th style="text-align:center;">SOLDE</th>
                                            <th style="text-align:center;">CHANTIER</th>
                                            <th style="text-align:center; width: 10px !important"></th>
                                        </tr>
                                        </thead>
                                        <tbody>


                                        {% for chantier in client.chantiers %}
                                            {% set solde = 0 %}
                                            {% for releve in chantier.releves %}
                                                {% if releve.devis and  releve.devis.etat == 'valide' %}
                                                    {% if releve.type == 1 %}
                                                        {% set solde = releve.montant + solde %}
                                                        <tr>
                                                            <td>{{ releve.date|date('Y.m.d H.i.s') }}</td>
                                                            <td>
                                                                <a href="{{ path('editdevis', {'id': releve.devis.id,'idchantier':releve.devis.chantier.id}) }}"
                                                                   title="DEVIS N° {{ releve.devis.iddevis }}
                                                            | {{ releve.devis.chantier.nomchantier }}" class="bolo700">DEVIS
                                                                    N° {{ releve.devis.iddevis }}</a>
                                                            </td>
                                                            <td class="text-right bolo700">{{ releve.montant|number_format(2, ',', ' ') }}</td>
                                                            <td class="text-right bolo700"> {{ solde|number_format(2, ',', ' ') }}</td>
                                                            <td>
                                                                <a href="{{ path('chantier', {'id': releve.devis.chantier.id}) }}">{{ releve.devis.chantier.nomchantier|upper }}</a>
                                                            </td>
                                                            <td class="text-center"><a class="devaldevis"
                                                                                       id="{{ releve.devis.id }}"><i
                                                                            class="fa fa-trash col-pink"
                                                                            aria-hidden="true"
                                                                            title="Supprimer"></i></a></td>
                                                        </tr>
                                                        {% for rele in chantier.releves %}
                                                            {% if rele.type == 3 and  releve.devis.id == rele.devis.id %}
                                                                {% set solde = solde - rele.montant %}
                                                                <tr>
                                                                    <td>{{ rele.date|date('Y.m.d H.i.s') }}</td>
                                                                    <td class="col-pink bolo600">{{ rele.versement }}{% if rele.moyen %}({{ rele.moyen }}){% endif %}{% if rele.facture %} |
                                                                        <a href="{{ path('editfacture', {'id': rele.facture.id, 'idchantier':rele.devis.chantier.id}) }}"
                                                                           class="col-blue-grey"> Facture
                                                                            N° {{ rele.facture.numfacture }}
                                                                            ({{ rele.facture.totalttc|number_format(2, ',', ' ') }}
                                                                            )</a>{% endif %}</td>
                                                                    <td class="text-right">{{ rele.montant|number_format(2, ',', ' ') }}</td>
                                                                    <td class="text-right">{{ solde|number_format(2, ',', ' ') }}</td>
                                                                    <td>
                                                                        <a href="{{ path('chantier', {'id': releve.devis.chantier.id}) }}">{{ releve.devis.chantier.nomchantier|upper }}</a>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        {% if rele.type == 1 %}
                                                                            <a onclick="devaliderdevis('{{ rele.devis.id }}');"><i
                                                                                        class="fa fa-trash col-pink"
                                                                                        aria-hidden="true"
                                                                                        title="Supprimer"></i></a>
                                                                        {% endif %}
                                                                        {% if rele.type == 3 %}
                                                                            <a class="delreglement"
                                                                               id="{{ rele.id }}"><i
                                                                                        class="fa fa-trash col-pink"
                                                                                        aria-hidden="true"
                                                                                        title="Supprimer"></i></a>
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        localStorage.setItem('reloadd', 'client/' + document.getElementById('idclient').value);
    </script>

{% endblock %}
