{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}

    <input type="text" class="hide" id="page" value="dnbonsprestataires"/>

    <section class="content" style="margin-top: 50px !important;">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix m-t-50">
                    <div class="col-sm-12 ">
                        <h4 class="bolo700 col-deep-orange">BONS PRESTATAIRES NON VALIDÉS</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content" id="setchantier">
        <div class="container-fluid">
            <div class="block-header">
                <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-pri shadow"
                         style="border-left: 2px solid #E91E63;">
                        <div class="panel-heading" role="tab" id="headingOne_1">
                            <h5 class="panel-title">
                                <a class="collapsed outai col-white" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseOne_1p" aria-expanded="false"
                                   aria-controls="collapseOne_1">
                                    <i class="material-icons col-white" style="font-size: 18px;float: left">keyboard_arrow_down</i>Bons
                                    prestataires non validés
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne_1p" class="panel-collapse" role="tabpanel"
                             aria-labelledby="headingOne_1">
                            <div class="panel-body" style="overflow: scroll">
                                <div class="table-responsive shadow" style="padding: 10px">
                                    <table class="table-striped table-bordered display nowrap" style="width: 100%"
                                           id="dataDNBONSFOURNES">
                                        <thead>
                                        <tr class="text-center">
                                            <th class="mw30"></th>
                                            <th class="mw30"></th>
                                            <th>DATE</th>
                                            <th>N° BON</th>
                                            <th>N° DE DEVIS</th>
                                            <th>TOTAL HT</th>
                                            <th>TOTAL TTC</th>
                                            <th>PRESTATAIRES</th>
                                            <th>RÉFÉRENCE</th>
                                            <th>ETAT</th>
                                            <th>CREÉ PAR</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set dtth = 0 %}
                                        {% set dttc = 0 %}
                                        {% for client in clients %}
                                            {% if client.corbeille is null and client.type is null %}
                                                {% for bon in client.bons %}
                                                    {% if bon.chantier.corbeille  is null %}
                                                        {% if bon.chantier.etat == 'encours' or bon.chantier.etat == 'etude' %}
                                                            {% if bon.etat == 'save' %}
                                                                {% if bon.corbeille is null %}
                                                                    {% if bon.corbeille is null %}
                                                                        {% if  bon.type == 'pst' %}
                                                                            <tr>
                                                                                <td class="text-center">
                                                                                    <input type="checkbox" data-toggle="toggle"
                                                                                           class="BONNS2"
                                                                                           value="{{ bon.id }}"></td>
                                                                                <td class="text-center"><a href="#"
                                                                                                           onclick="shasha({{ bon.id }},'imprimbon');"><i
                                                                                                class="fa fa-eye col-green"
                                                                                                aria-hidden="true"></i></a></td>
                                                                                <td>{{ bon.date|date('Y-m-d') }}</td>
                                                                                <td>
                                                                                    {% if bon.type == "non" %}
                                                                                        <a href="{{ path('editbon',{'id':bon.id ,  'idchantier': bon.chantier.id}) }}">
                                                                            <span class="badge badge-pill bg-blue-grey text-white"
                                                                                  title="Dévalidé par {% if bon.vabyuser is not null %}{{ bon.vabyuser.prenoms|upper }}{% endif %}">V</span>
                                                                                            <span
                                                                                                    class="badge badvfjftuge-pill badge-danger text-white">BRC</span>
                                                                                            BON
                                                                                            N° {{ bon.numbon }}
                                                                                        </a>
                                                                                    {% else %}
                                                                                        <span
                                                                                                class="badge badge-pill bg-blue-grey text-white">V</span>
                                                                                        <a href="{{ path('editbon',{'id':bon.id ,  'idchantier': bon.chantier.id}) }}">BON
                                                                                            N° {{ bon.numbon }}</a>
                                                                                    {% endif %}
                                                                                </td>
                                                                                <td> {% if bon.devis is not null %}
                                                                                        {% if bon.devis.etat != 'valide' %}
                                                                                            <span class="badge badge-pill badge-blue-grey">V</span> {% else %}
                                                                                            <span class="badge badge-pill badge-primary">V</span>{% endif %}
                                                                                        <a href="{{ path('editdevis',{'id':bon.devis.id ,'idchantier':bon.chantier.id}) }}"
                                                                                           style="color:dodgerblue">DEVIS
                                                                                            N° {{ bon.devis.iddevis }}</a>
                                                                                    {% endif %}</td>
                                                                                <td class="text-right">{{ bon.totalht|number_format(2, ',', ' ') }}</td>
                                                                                <td class="text-right">{{ bon.totalttc|number_format(2, ',', ' ') }}</td>
                                                                                <td>{{ bon.fournisseur.fournisseur|upper}}</td>
                                                                                <td class="col-deep-orange"
                                                                                    title="{{ bon.bonreference|striptags|raw }}">
                                                                                    {{ bon.bonreference|striptags|raw }}
                                                                                </td>
                                                                                <td>{{ bon.client.nomclient|upper  }} | {{ bon.chantier.nomchantier|upper  }}</td>
                                                                                <td class="text-left col-blue bolderrer">{{ bon.dobyuser.nom|upper }}
                                                                                    &nbsp;{{ bon.dobyuser.prenoms|upper }}</td>
                                                                            </tr>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
