{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}

    <input type="text" class="hide" id="idchan" value="{{ chantier.id }}"/>
    <input type="text" class="hide" id="page" value="dnfactures"/>

    <section class="content" style="margin-top: 50px !important;">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix m-t-50">
                    <div class="col-sm-12 ">
                        <h4 class="bolo700 col-deep-orange">FACTURES NON VALIDÉES</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content" id="setchantier">
        <div class="container-fluid">
            <div class="block-header">
                <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-pri shadow"
                         style="border-left: 2px solid #E91E63;">
                        <div class="panel-heading" role="tab" id="headingOne_1">
                            <h5 class="panel-title">
                                <a class="collapsed outai col-white" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseOne_1p" aria-expanded="false"
                                   aria-controls="collapseOne_1">
                                    <i class="material-icons col-white" style="font-size: 18px;float: left">keyboard_arrow_down</i>Factures
                                    non validées
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne_1p" class="panel-collapse" role="tabpanel"
                             aria-labelledby="headingOne_1">

                            <div class="panel-body" style="overflow: scroll">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table-striped table-bordered display nowrap"
                                               style="width: 100%" id="dataFACTURE4">
                                            <thead>
                                            <tr class="text-center">
                                                <th class="mw30"></th>
                                                <th class="mw30"></th>
                                                <th>DATE</th>
                                                <th>N° FACTURE</th>
                                                <th>N° DEVIS</th>
                                                <th>N° DÉCOMPTE</th>
                                                <th>TOTAL HT</th>
                                                <th>TOTAL TTC</th>
                                                <th>RÉFÉRENCE</th>
                                                <th>ETAT</th>
                                                <th>CREÉ PAR</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for client in clients %}
                                                {% if client.type is null and  client.corbeille is null %}
                                                    {% for chantier in client.chantiers %}
                                                        {% if (chantier.etat == "encours" or chantier.etat == "etude" ) %}
                                                            {% for facture in chantier.factures %}
                                                                {% if facture.etat != 'valide' and facture.corbeille is null %}
                                                                    {% if (facture.client.corbeille is null) %}
                                                                        <tr>
                                                                            <td class="text-center">
                                                                                <input type="checkbox"
                                                                                       data-toggle="toggle"
                                                                                       class="FACTURE4"
                                                                                       value="{{ facture.id }}">
                                                                            </td>

                                                                            <td class="text-center">
                                                                                <a href="#"
                                                                                   onclick="shasha({{ facture.id }},'imprimfacture');">
                                                                                    <i class="fa fa-eye col-green"
                                                                                       aria-hidden="true"></i>
                                                                                </a>
                                                                            </td>
                                                                            <td>{{ facture.date|date('y.m.d H:m') }}</td>
                                                                            <td>
                                                                                {% if facture.type == "non" %}
                                                                                    <a href="{{ path('editfacture', {'id': facture.id, 'idchantier':facture.chantier.id}) }}"
                                                                                       class="bolo600">
                                                                                        <span class="badge badge-pill badge-blue-grey">V</span>
                                                                                        <span class="badge badge-pill badge-danger">FA</span>FACTURE
                                                                                        N°{{ facture.numfacture }}
                                                                                    </a>
                                                                                {% else %}
                                                                                    <span class="badge badge-pill badge-blue-grey">V</span>
                                                                                    <a href="{{ path('editfacture',{'id':facture.id, 'idchantier':facture.chantier.id}) }}"
                                                                                       class="bolo600">FACTURE
                                                                                        N° {{ facture.numfacture }}</a>
                                                                                {% endif %}
                                                                            </td>
                                                                            <td>
                                                                                {% if facture.type == "simple" %}
                                                                                    <a href="{{ path('editdevis', {'id': facture.devis.id, 'idchantier':facture.chantier.id}) }}"
                                                                                       class="bolo600">
                                                                                        {% if facture.devis.etat == 'valide' %}
                                                                                            <span class="badge badge-pill badge-primary">V</span>
                                                                                        {% else %}
                                                                                            <span class="badge badge-pill badge-blue-grey">V</span>
                                                                                        {% endif %}
                                                                                        DEVIS
                                                                                        N°{{ facture.devis.iddevis }}
                                                                                    </a>
                                                                                {% endif %}
                                                                                {% if facture.type == "devis" %}
                                                                                    <a href="{{ path('editdevis', {'id': facture.devis.id, 'idchantier':facture.chantier.id}) }}"
                                                                                       class="bolo600">
                                                                                        {% if facture.devis.etat == 'valide' %}
                                                                                            <span class="badge badge-pill badge-primary">V</span>
                                                                                        {% else %}
                                                                                            <span class="badge badge-pill badge-blue-grey">V</span>
                                                                                        {% endif %}
                                                                                        DEVIS
                                                                                        N°{{ facture.devis.iddevis }}
                                                                                    </a>
                                                                                {% endif %}
                                                                                {% if facture.type == "acompte" %}
                                                                                    <a href="{{ path('editdevis', {'id': facture.acompte.devis.id, 'idchantier':facture.chantier.id}) }}"
                                                                                       class="bolo600">
                                                                                        {% if facture.acompte.devis.etat == 'valide' %}
                                                                                            <span class="badge badge-pill badge-primary">V</span>
                                                                                        {% else %}
                                                                                            <span class="badge badge-pill badge-blue-grey">V</span>
                                                                                        {% endif %}
                                                                                        DEVIS
                                                                                        N°{{ facture.acompte.devis.iddevis }}
                                                                                    </a>
                                                                                {% endif %}
                                                                                {% if facture.type == "decompte" %}
                                                                                    <a href="{{ path('editdevis', {'id': facture.decompte.devis.id, 'idchantier':facture.chantier.id}) }}"
                                                                                       class="bolo600">
                                                                                        {% if facture.decompte.devis.etat == 'valide' %}
                                                                                            <span class="badge badge-pill badge-primary">V</span>
                                                                                        {% else %}
                                                                                            <span class="badge badge-pill badge-blue-grey">V</span>
                                                                                        {% endif %}
                                                                                        DEVIS
                                                                                        N°{{ facture.decompte.devis.iddevis }}
                                                                                    </a>
                                                                                {% endif %}
                                                                            </td>
                                                                            <td>
                                                                                {% if facture.decompte is not null %}
                                                                                    <a href="{{ path('editdecompte', {'id': facture.decompte.id, 'idchantier':facture.chantier.id}) }}"
                                                                                       class="bolo600">
                                                                                        {% if facture.decompte.etat == 'valide' %}
                                                                                            <span class="badge badge-pill badge-primary">V</span>
                                                                                        {% else %}
                                                                                            <span class="badge badge-pill badge-blue-grey">V</span>
                                                                                        {% endif %}
                                                                                        DÉCOMPTE
                                                                                        N° {{ facture.decompte.numdecompte }}
                                                                                    </a>
                                                                                {% endif %}
                                                                            </td>
                                                                            <td class="text-right bolo600">
                                                                                {% if facture.devis is not null %}
                                                                                    {{ facture.totalht|number_format(2, ',', ' ') }}
                                                                                {% endif %}

                                                                                {% if facture.decompte is not null %}
                                                                                    {{ facture.totalht|number_format(2, ',', ' ') }}
                                                                                {% endif %}
                                                                            </td>
                                                                            <td class="text-right bolo600">
                                                                                {% if facture.devis is not null %}
                                                                                    {{ facture.totalttc|number_format(2, ',', ' ') }}
                                                                                {% endif %}
                                                                                {% if facture.decompte is not null %}
                                                                                    {{ facture.totalttc|number_format(2, ',', ' ') }}
                                                                                {% endif %}
                                                                            </td>
                                                                            <td title="{{ facture.factreference|striptags|raw }}"
                                                                                class="col-deep-orange">{{ facture.factreference|striptags|raw }}</td>
                                                                            <td>
                                                                                <a href="{{ path('chantier',{'id':facture.chantier.id}) }}">{{ chantier.nomchantier }}
                                                                                    | {{ chantier.client.nomclient }}</a>
                                                                            </td>
                                                                            <td class="text-left col-blue bolo600">
                                                                                <i class="fa fa-user col-blue bolo600"></i>&nbsp;
                                                                                {% if facture.dobyuser is not null %}
                                                                                    {{ facture.dobyuser.nom|upper }}
                                                                                    &nbsp;{{ facture.dobyuser.prenoms|upper }}
                                                                                {% endif %}
                                                                            </td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
