{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}

    <input type="text" class="hide" id="page" value="dnbonsprestataires"/>

    <section class="content" style="margin-top: 50px !important;">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix m-t-50">
                    <div class="col-sm-12 ">
                        <h4 class="bolo700 col-deep-orange">PAIES PRESTATAIRES NON VALIDÉES</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content" id="setchantier">
        <div class="container-fluid">
            <div class="block-header">
                <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-pri shadow"
                         style="border-left: 2px solid #E91E63;">
                        <div class="panel-heading" role="tab" id="headingOne_1">
                            <h5 class="panel-title">
                                <a class="collapsed outai col-white" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseOne_1p" aria-expanded="false"
                                   aria-controls="collapseOne_1">
                                    <i class="material-icons col-white" style="font-size: 18px;float: left">keyboard_arrow_down</i>Paies
                                    prestataires non validées
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne_1p" class="panel-collapse" role="tabpanel"
                             aria-labelledby="headingOne_1">
                            <div class="panel-body " style="overflow: scroll; background-color: #dbdfef">
                                <div class="table-responsive shadow bg-white"
                                     style="padding: 10px 10px 50px 10px;color:#555; overflow: scroll">
                                    <table class="table-bordered display nowrape" style="width: 100%"
                                           id="dCAISSEP3">
                                        <thead>
                                        <tr class="text-center">
                                            <th>PRESTATAIRES</th>
                                            <th class="mw30"></th>
                                            <th class="mw30"></th>
                                            <th>DATE</th>
                                            <th>BON DE CAISSE</th>
                                            <th>MONTANT</th>
                                            <th>BONS</th>
                                            <th>CHANTIERS</th>
                                            <th>CREÉ PAR</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for client in clients %}
                                            {% if client.corbeille is null and client.type is null %}
                                                {% for bon in client.bons %}
                                                    {% if bon.chantier.corbeille  is null %}
                                                        {% if bon.chantier.etat == 'encours' or bon.chantier.etat == 'etude' %}
                                                                {% if bon.corbeille is null %}
                                                                    {% if bon.corbeille is null  %}
                                                                        {% if bon.type == "pst" %}
                                                                            {% for caisse in bon.caisses %}
                                                                                {% if caisse.etat == 'save' %}
                                                                                    {% if caisse.corbeille is null %}
                                                                                        <tr>
                                                                                            <td class="bolo700">{{ bon.fournisseur.fournisseur|upper }}
                                                                                                - {% if caisse.bon is not null %}BON N° {{ bon.numbon }}
                                                                                                    <span class="col-black">[ BON TTC: {{ bon.totalttc|number_format(2,',',' ') }} ]</span>
                                                                                                    <span class="col-pink">[ SOLDE: {{ bon.reste|number_format(2,',',' ') }} ]</span>
                                                                                                {% endif %} </td>
                                                                                            <td class="text-center">
                                                                                                <input type="checkbox"
                                                                                                       data-toggle="toggle"
                                                                                                       class="CSSE2"
                                                                                                       value="{{ caisse.id }}"></td>
                                                                                            <td class="text-center"><a href="#"
                                                                                                                       onclick="shasha({{ caisse.id }},'imprimcaisse');"><i
                                                                                                            class="fa fa-eye col-green"
                                                                                                            aria-hidden="true"></i></a>
                                                                                            </td>
                                                                                            <td>{{ caisse.date|date('Y.m.d') }}</td>
                                                                                            <td>
                                                                                                <a href="{{ path('editcaisse',{'idcaisse':caisse.id, 'idchantier':caisse.chantier.id}) }}"><span
                                                                                                            class="badge badge-pill bg-blue-grey text-white"
                                                                                                            title="Dévalidé par {% if caisse.vabyuser is not null %}{{ caisse.vabyuser.prenoms|upper }}{% endif %}">V</span>
                                                                                                    {{ caisse.numcaisse }}{% if caisse.moyen is not null %}
                                                                                                        <span class="col-blue-grey">
                                                                                                        ({{ caisse.moyen }})</span>{% endif %}
                                                                                                </a>
                                                                                            </td>
                                                                                            <td class="text-right">{{ caisse.montant|number_format(2,',',' ') }}</td>
                                                                                            <td>{% if bon.etat != 'valide' %}
                                                                                                        <span class="badge badge-pill badge-blue-grey">V</span> {% else %}
                                                                                                        <span class="badge badge-pill badge-primary">V</span>{% endif %}
                                                                                                    <a href="{{ path('editbon',{'id':bon.id ,'idchantier':bon.chantier.id}) }}"
                                                                                                       style="color:dodgerblue">BON
                                                                                                        N° {{ bon.numbon }}</a>
                                                                                                </td>
                                                                                            <td class="col-deep-orange">
                                                                                                {{ caisse.client.nomclient|upper }} | {{ caisse.chantier.nomchantier|upper }}
                                                                                            </td>

                                                                                            <td class="text-left col-blue bolo600"><i
                                                                                                        class="fa fa-user col-blue"></i>&nbsp; {% if caisse.dobyuser is not null %}{{ caisse.dobyuser.nom|upper }}
                                                                                                    &nbsp;{{ caisse.dobyuser.prenoms|upper }}  {% endif %}
                                                                                            </td>
                                                                                        </tr>
                                                                                    {% endif %}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
