{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-3">
                <div id="accordion">
                    {# CRÉER  OU MODIFIER UN CLIENT #}
                    <div class="card shadow mb-4" id="client">
                        <div id="headingDe">
                            <h5 class="mb-0">
                                <a class="btn text-left text-white bg-pri bolderrer" data-toggle="collapse"
                                   data-target="#collapseDe"
                                   aria-expanded="false" aria-controls="collapseDe"
                                   style="width: 100%; font-size: 14px">
                                    1- CHOISIR UN PROJET
                                </a>
                            </h5>

                        </div>
                        <div id="collapseDe" class="collapse show bg-light"
                             aria-labelledby="headingDe"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <select class="form-control" id="targetdevis">
                                        <option>CHOISIR UN PROJET</option>
                                        {% for client in clients %}
                                            {% for chantier in chantiers %}
                                                {% if client == chantier.client %}
                                                    <option value="{{ chantier.id }}">{{ client.client }} || {{ chantier.chantier }}</option>
                                                {% endif %}
                                            {%  endfor %}
                                        {%  endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# FIN #}
                </div>
            </div>
            <div class="col-xl-9 col-lg-9">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table-striped table-bordered display nowrap"
                                   style="width: 100%"
                                   id="dataDEVIS">
                                <thead>
                                <tr class="text-center bolderr bg-light">
                                    <th style="width: 10px !important;"></th>
                                    <th style="width: 80px !important;">DATE</th>
                                    <th>N° DEVIS</th>
                                    <th>RÉFÉRENCE</th>
                                    <th>TOTAL HT</th>
                                    <th>TOTAL TTC</th>
                                    <th>ETAT</th>
                                    <th style="background-color: #E8E8E8 !important;" >CREÉ PAR</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set vdth = 0 %}
                                {% set vdttc = 0 %}
                                {% set ndth = 0 %}
                                {% set ndttc = 0 %}

                                {% for devis in chantier.devis %}

                                    {% if devis.etat == 'valide' %}
                                        {% set vdth = devis.totalht + vdth %}
                                        {% set vdttc = devis.totalttc + vdttc %}
                                    {% endif %}
                                    {% if devis.etat == 'save' %}
                                        {% set ndth = devis.totalht + ndth %}
                                        {% set ndttc = devis.totalttc + ndttc %}
                                    {% endif %}
                                    {% if devis.etat == 'valide' %}
                                        <tr>

                                            <td class="text-center">
                                                <input type="checkbox" data-toggle="toggle"
                                                       class="DEVYS"
                                                       value="{{ devis.id }}"></td>

                                            <td>{{ devis.date|date('Y.m.d H.i.s') }}</td>

                                            <td>
                                                <a href="{{ path('editdevis',{'id':devis.id,'idchantier':chantier.id}) }}"
                                                   style="color:dodgerblue"><span
                                                            class="badge badge-pill badge-primary">V</span> Devis N° {{ devis.iddevis }}
                                                </a>
                                            </td>

                                            <td title="{{ devis.reference|striptags|raw }}">{{ devis.reference|striptags|raw }}</td>

                                            <td class="text-right">{{ devis.totalht|number_format(2,',',' ') }}</td>

                                            <td class="text-right">{{ devis.totalttc|number_format(2,',',' ') }}</td>
                                            <td>DEVIS VALIDÉS</td>
                                            <td class="text-left text-pri bolderrer" style="background-color: #E8E8E8 !important;"><i class="fa fa-user text-pri"></i>&nbsp;{{ devis.dobyuser.nom|upper }}&nbsp;{{ devis.dobyuser.prenoms|upper }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            <hr style="width: 100%; height: 2px; background-color: darkgrey">
                            <br>
                            <table class="table-striped table-bordered display nowrap"
                                   style="width: 100%"
                                   id="dataDEVIS2">
                                <thead>
                                <tr class="text-center bolderr bg-light">
                                    <th style="width: 10px !important;"></th>
                                    <th style="width: 80px !important;">DATE</th>
                                    <th>N° DEVIS</th>
                                    <th>RÉFÉRENCE</th>
                                    <th>TOTAL HT</th>
                                    <th>TOTAL TTC</th>
                                    <th>ETAT</th>
                                    <th style="background-color: #E8E8E8 !important;" >CREÉ PAR</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for devis in chantier.devis %}
                                    {% if devis.etat == 'save' %}
                                        <tr>
                                            <td class="text-center">
                                                <input type="checkbox" data-toggle="toggle"
                                                       class="DEVYS2"
                                                       value="{{ devis.id }}"></td>

                                            <td>{{ devis.date|date('Y.m.d H.i.s') }}</td>

                                            <td>
                                                <a href="{{ path('editdevis',{'id':devis.id,'idchantier':devis.chantier.id}) }}"
                                                   style="color:dodgerblue"><span
                                                            class="badge badge-pill badge-secondary">V</span> Devis N° {{ devis.iddevis }}
                                                </a>
                                            </td>

                                            <td title="{{ devis.reference|striptags|raw }}">{{ devis.reference|striptags|raw }}</td>

                                            <td class="text-right">{{ devis.totalht|number_format(2,',',' ') }}</td>

                                            <td class="text-right">{{ devis.totalttc|number_format(2,',',' ') }}</td>
                                            <td>DEVIS NON VALIDÉS</td>
                                            <td class="text-left text-pri bolderrer" style="background-color: #E8E8E8 !important;"><i class="fa fa-user text-pri"></i>&nbsp;{{ devis.dobyuser.nom|upper }}&nbsp;{{ devis.dobyuser.prenoms|upper }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                            <br>

                            <table class="table-bordered d reduire" style="float: right">
                                <tr style="background-color: slategrey; color: white">
                                    <th class="text-center"></th>
                                    <th class="text-center">TOTAL HT</th>
                                    <th class="text-center">TOTAL TTC</th>
                                </tr>
                                <tr style="background-color: slategrey; color: white">
                                    <td class="text-right">VALIDÉS</td>
                                    <td class="text-right">{{ vdth|number_format(2, ',', ' ') }}</td>
                                    <td class="text-right">{{ vdttc|number_format(2,',',' ') }}</td>
                                </tr>
                                <tr style="background-color: indianred; color: white">
                                    <td class="text-right">NON VALIDÉS</td>
                                    <td class="text-right">{{ ndth|number_format(2,',', ' ') }}</td>
                                    <td class="text-right">{{ ndttc|number_format(2,',',' ') }}</td>
                                </tr>
                                <tr class="bg-pri text-white">
                                    <td class="text-right">TOTAUX</td>
                                    <td class="text-right">{{ (ndth+vdth)|number_format(2, ',', ' ') }}</td>
                                    <td class="text-right">{{ (ndttc+vdttc)|number_format(2,',',' ') }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
