{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-left: 18px">
            <h5 class="h5 mb-0 text-gray-800">ÉTAT DES PROJETS</h5>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-pri"
                         id="info">
                        <h6 class="m-0 text-white">1- AJOUTER UN CLIENT</h6>
                    </div>
                    <div class="card-body bg-light">
                        {{ form_start(formClient, {'attr': {'novalidate': 'novalidate'}}) }}
                        {{ form_row(formClient._token) }}
                        <table style="width: 100%">
                            <tbody>
                            <tr>
                                <td class="text-pri bolderr" colspan="2">
                                    &raquo; Client <span class="text-dangerr">*</span><br>
                                    {{ form_widget(formClient.client,{'attr':{'class':'form-control form-control-user'}}) }}
                                    {{ form_errors(formClient.client) }}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-pri bolderr">
                                    &raquo; Code client<br>
                                    {{ form_widget(formClient.code,{'attr':{'class':'form-control form-control-user'}}) }}
                                    {{ form_errors(formClient.code) }}
                                </td>
                                <td class="text-pri bolderr">
                                    &raquo; Adresse<br>
                                    {{ form_widget(formClient.adresse,{'attr':{'class':'form-control form-control-user'}}) }}
                                    {{ form_errors(formClient.adresse) }}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-pri bolderr">
                                    &raquo; Contact<br>
                                    {{ form_widget(formClient.contact,{'attr':{'class':'form-control form-control-user'}}) }}
                                    {{ form_errors(formClient.contact) }}
                                </td>
                                <td class="text-pri bolderr">
                                    &raquo; Compte contribuable<br>
                                    {{ form_widget(formClient.compte,{'attr':{'class':'form-control form-control-user'}}) }}
                                    {{ form_errors(formClient.compte) }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;padding-top: 10px">{{ form_widget(formClient.saveclient,{ 'label': 'Enregistrer' }) }}</td>
                            </tr>
                            </tbody>
                        </table>
                        {{ form_end(formClient) }}
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9">
                <div class="card shadow mb-4" style="height:auto;">
                    <div id='DivIdToPrint' style="background-color: white;padding-left: 5px; padding: 20px;">
                        <div id="printRele">
                            <table class="table-bordered" width="100%" cellpadding="3" id="boner"
                                   border="1">
                                <thead>
                                <tr class="bg-light bolderrer">
                                    <td>CLIENT / PROJET</td>
                                    <td>DESCRIPTION</td>
                                    <td style="width:11%" align="center">VALEUR</td>
                                    <td style="width:11%" align="center">RÈGLEMENT</td>
                                    <td style="width:11%" align="center">SOLDE</td>
                                    <td style="width:11%" align="center">DÉPENSES</td>
                                    <td style="width:11%" align="center">MARGES EST.</td>
                                </tr>
                                </thead>
                                <tbody>

                                {% set cout = 0 %}
                                {% set reglement = 0 %}
                                {% set depense = 0 %}

                                {% for client in client %}
                                    {% set vp = 0 %}
                                    {% set vr = 0 %}
                                    {% set dp = 0 %}
                                    {% for chantier in client.chantiers %}
                                        {% set vp = chantier.cout + vp %}
                                        {% set vr = chantier.reglement + vr %}
                                        {% set dp = chantier.depense + dp %}
                                    {% endfor %}
                                    {% set cout = vp + cout %}
                                    {% set reglement = vr + reglement %}
                                    {% set depense = dp + depense %}
                                    <tr>
                                        <td colspan="2" style="background-color:#4e73df" >
                                            <a href="{{ path('echantier',{'id':client.id}) }}"
                                               class="text-white bolderrer">{{ client.client }}</a></td>
                                        <td align="right"
                                            style="color: white;background-color: darkcyan">{{ vp|number_format(2,'.',' ') }}</td>
                                        <td align="right"
                                            style="color: white;background-color: tan">{{ vr|number_format(2,'.',' ') }}</td>
                                        <td align="right"
                                            style="color: white;background-color: slategrey">{{ (vp|number_format(2,'.','') -  vr|number_format(2,'.',''))|number_format(2,'.',' ') }}</td>
                                        <td align="right"
                                            style="color: white;background-color: indianred">{{ dp|number_format(2,'.',' ') }}</td>
                                        <td align="right"
                                            style="color: white;background-color:#4e73df">{{ (vp|number_format(2,'.','') -  dp|number_format(2,'.',''))|number_format(2,'.',' ') }}</td>
                                    </tr>

                                        {% for chantier in client.chantiers %}
                                            <tr>
                                                <td title="{{ chantier.chantier }}">
                                                    &raquo; <a href="{{ chantier.chantier }}">{{ chantier.chantier }}</a></td>
                                                <td title="{{ chantier.description }}">{{ chantier.description }}</td>
                                                <td align="right"
                                                    style="color: #4e73df;width:12%">{{ chantier.cout|number_format(2,'.',' ') }}</td>
                                                <td align="right"
                                                    style="color: #4e73df;">{{ chantier.reglement|number_format(2,'.',' ') }}</td>
                                                <td align="right"
                                                    style="color: #4e73df;">{{ (chantier.cout|number_format(2,'.','') -  chantier.reglement|number_format(2,'.',''))|number_format(2,'.',' ') }}</td>
                                                <td align="right"
                                                    style="color: #4e73df;">{{ chantier.depense|number_format(2,'.',' ') }}</td>
                                                <td align="right"
                                                    style="color: #4e73df">{{ (chantier.cout|number_format(2,'.','') -  chantier.depense|number_format(2,'.',''))|number_format(2,'.',' ') }}</td>

                                            </tr>
                                        {% endfor %}

                                {% endfor %}

                                <tr class="bg-primary">
                                    <td colspan="2"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td colspan="2" align="right"><strong>TOTAUX</strong></td>
                                    <td align="right" style="color: #4e73df">{{ cout|number_format(2,'.',' ') }}</td>
                                    <td align="right"
                                        style="color: #4e73df">{{ reglement|number_format(2,'.',' ') }}</td>
                                    <td align="right"
                                        style="color: #4e73df">{{ (cout|number_format(2,'.','') - reglement|number_format(2,'.',''))|number_format(2,'.',' ') }}</td>
                                    <td align="right" style="color: #4e73df">{{ depense|number_format(2,'.',' ') }}</td>
                                    <td align="right"
                                        style="color: #4e73df">{{ (cout|number_format(2,'.','') -  depense|number_format(2,'.',''))|number_format(2,'.',' ') }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <p align="center">
                        <input type='button' id='btn' class="btn btn-primary" value='Imprimer' onclick='printRelev();'>
                    </p>

                </div>


            </div>
        </div>
    </div>
    </div>
{% endblock %}
