{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>

    <style>
        .dropdown-menu {
            margin-left: 30px !important;
            margin-top: -6px !important;
        }

        .dropdown-header {
            font-size: 12px;
        }

        .dropdown-menu > li > a {
            font-size: 12px;
        }
    </style>

    <input type="text" class="hide" id="idexer" value="{{ exercice.id }}"/>
    <input type="text" class="hide" id="page" value="exercices"/>

    <section class="content" style="margin-top: 50px !important;">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix m-t-50">
                    <div class="col-sm-12 ">
                        <h4 class="bolo700 col-deep-orange">EXERCICES COMPTABLES</h4>
                        <select class="selectpicker" id="multiple" multiple data-live-search="true"
                                style="font-size:12px !important" data-none-selected-text="Joindre des chantiers...">
                            {% for client in clients %}
                                {% if client.corbeille is null and client.chantiers.count > 0 %}
                                    {% if client.type is null %}
                                        <optgroup class="col-blue bolo600" label="{{ client.nomclient|upper }}"
                                                  style="padding-bottom: 20px;">
                                            {% for chantier in client.chantiers %}
                                                {% if chantier.corbeille is null %}
                                                    <option class="col-black"
                                                            value="{{ chantier.id }}">{{ chantier.nomchantier }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </optgroup>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                        <button id="joindreChantiers" class="btn" type="button"
                                style="background-color: #4e73df;color: #d9d9d9; font-size: 13px">JOINDRE
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content" id="setchantier">
        <div class="container-fluid">
            <div class="block-header">
                <h4 class="bolo600">{{ exercice.exercice|capitalize }} ( Du {{ exercice.debut|date('d-m-Y') }}
                    au {{ exercice.fin|date('d-m-Y') }} </span>)</h4>
                <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-pri shadow"
                         style="border-left: 2px solid #E91E63;">
                        <div class="panel-heading" role="tab" id="headingOne_1">
                            <h5 class="panel-title">
                                <a class="collapsed outai col-white" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseOne_1p" aria-expanded="false"
                                   aria-controls="collapseOne_1">
                                    <i class="material-icons col-white" style="font-size: 18px;float: left">keyboard_arrow_down</i>Chantiers
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne_1p" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne_1">
                            <div class="panel-body">
                                <div class="table-responsive shadow" style="padding: 20px; overflow: scroll">
                                    <h5>Cet exercice prend en compte tous les enregistrements(règlements et bons de
                                        caisse) <br>compris entre la date du {{ exercice.debut|date('d-m-Y') }}
                                        et {{ exercice.fin|date('d-m-Y') }}</h5>
                                    <table class="table-striped table-bordered display nowrape" id="dataExercices"
                                           style="width:100%">

                                        <thead>
                                        <tr class="font-weight-normal">
                                            <th style="min-width: 30px !important;"></th>
                                            <th style="min-width: 30px !important;"></th>
                                            <th class="text-center col-blue-grey">CHANTIERS / CLIENT</th>
                                            <th class="text-center col-blue-grey">CLIENT</th>
                                            <th class="text-center col-blue-grey">COÛT</th>
                                            <th class="text-center col-blue-grey">RÈGLEMENT</th>
                                            <th class="text-center col-blue-grey">BONS <br> PRESTATAIRES</th>
                                            <th class="text-center col-blue-grey">BONS <br> FOURNISSEURS</th>
                                            <th class="text-center col-blue-grey">PAIES <br> PRESTATAIRES</th>
                                            <th class="text-center col-blue-grey">PAIES <br> FOURNISSEURS</th>
                                            <th class="text-center col-blue-grey">CHARGES <br> CHANTIERS</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for client in exercice.clients %}
                                            {% if client.type is null %}
                                                {% if client.corbeille is null %}
                                                    {% for chantier in exercice.chantiers %}
                                                        {% if chantier.corbeille is null and chantier.client == client %}
                                                            {% set solde  = chantier.cout - chantier.reglement %}
                                                            {% set cout = 0 %}
                                                            {% set regle = 0 %}
                                                            {% set bonpresta = 0 %}
                                                            {% set bonfourni = 0 %}
                                                            {% set presta = 0 %}
                                                            {% set fourni = 0 %}
                                                            {% set chargechantier = 0 %}
                                                            {% for relever in chantier.releves %}
                                                                {% if relever.date|date('Y-m-d') > exercice.debut|date('Y-m-d') and  relever.date|date('Y-m-d') < exercice.fin|date('Y-m-d') %}
                                                                    {% if relever.type == 3 %}
                                                                        {% set regle = regle + relever.montant %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% for bon in chantier.bons %}
                                                                {% if bon.fournisseur is not null and bon.fournisseur.corbeille is null %}
                                                                    {% if bon.date|date('Y-m-d') > exercice.debut|date('Y-m-d') and bon.date|date('Y-m-d') < exercice.fin|date('Y-m-d') %}
                                                                        {% if bon.corbeille is null and bon.type == "pst" %}
                                                                            {% for caisse in bon.caisses %}
                                                                                {% if caisse.date|date('Y-m-d') > exercice.debut|date('Y-m-d') and caisse.date|date('Y-m-d') < exercice.fin|date('Y-m-d') %}
                                                                                    {% set presta = presta + caisse.montant %}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        {% if bon.corbeille is null and bon.type == "oui" %}
                                                                        {% endif %}
                                                                        {% if bon.corbeille is null and bon.type == "non" %}
                                                                            {% set bonfourni = bonfourni - bon.totalttc %}
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% for bon in chantier.bons %}
                                                                {% if bon.fournisseur is not null and bon.fournisseur.corbeille is null %}
                                                                    {% if bon.etat == "valide" %}
                                                                        {% if bon.corbeille is null and bon.type == "pst" %}
                                                                            {% set bonpresta = bonpresta + bon.totalttc %}
                                                                            {% for caisse in bon.caisses %}
                                                                                {% if caisse.date|date('Y-m-d') > exercice.debut|date('Y-m-d') and caisse.date|date('Y-m-d') < exercice.fin|date('Y-m-d') %}
                                                                                    {% set presta = presta + caisse.montant %}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        {% if bon.corbeille is null and bon.type == "oui" %}
                                                                            {% set bonfourni = bonfourni + bon.totalttc %}
                                                                        {% endif %}
                                                                        {% if bon.corbeille is null and bon.type == "non" %}
                                                                            {% set bonfourni = bonfourni - bon.totalttc %}
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% for caisse in chantier.caisses %}
                                                                {% if caisse.etat == "valide" %}
                                                                    {% if caisse.corbeille is null and caisse.type == 3 %}
                                                                        {% if caisse.date|date('Y-m-d') > exercice.debut|date('Y-m-d') and caisse.date|date('Y-m-d') < exercice.fin|date('Y-m-d') %}
                                                                            {% set chargechantier  = chargechantier  + caisse.montant %}
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            <tr>
                                                                <td class="text-center">
                                                                    <input type="checkbox" data-toggle="toggle"
                                                                           class="PROJY" value="{{ chantier.id }}">
                                                                </td>
                                                                <td style="text-align: center"
                                                                    title="Avancement selon décomptes validés">{{ chantier.progression|number_format(2,',',' ') }}
                                                                    %
                                                                </td>
                                                                <td>
                                                                    <a href="{{ path('chantier', {'id': chantier.id}) }}"
                                                                       title="{{ chantier.nomchantier }}"
                                                                       class="bolo600">
                                                                        {% if chantier.sous is not null %}
                                                                            <span class="badge bg-orange">SC</span>
                                                                        {% endif %}
                                                                        {{ chantier.nomchantier|upper|u.truncate(30, '...', false) }}
                                                                    </a>
                                                                </td>
                                                                <td class="bolo600"><a
                                                                            href="{{ path('client', {'id': client.id}) }}"
                                                                            class="col-white bolo700">{{ client.nomclient|upper }}</a>
                                                                </td>
                                                                <td class="text-right">{{ chantier.cout|number_format(2,',',' ') }}</td>
                                                                <td class="text-right">{{ chantier.reglement|number_format(2,',',' ') }}</td>
                                                                <td style="text-align: right">{{ bonpresta|number_format(2,',',' ') }}</td>
                                                                <td style="text-align: right">{{ bonfourni|number_format(2,',',' ') }}</td>
                                                                <td style="text-align: right">{{ presta|number_format(2,',',' ') }}</td>
                                                                <td style="text-align: right">{{ fourni|number_format(2,',',' ') }}</td>
                                                                <td style="text-align: right">{{ chargechantier|number_format(2,',',' ') }}</td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr class="font-weight-normal">
                                            <th style="width: 10px !important;"></th>
                                            <th></th>
                                            <th></th>
                                            <th class="text-right bg-blue col-white"></th>
                                            <th class="text-right bg-blue col-white"></th>
                                            <th class="text-right bg-blue col-white"></th>
                                            <th class="text-right bg-blue col-white"></th>
                                            <th class="text-right bg-blue col-white"></th>
                                            <th class="text-right bg-blue col-white"></th>
                                            <th class="text-right bg-blue col-white"></th>
                                            <th class="text-right bg-blue col-white"></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                    <br/>
                                    <p>
                                        <span class="col-orange">&raquo; SC:</span>
                                        <span class="col-blue-grey">SOUS-CHANTIER</span>
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-pri shadow"
                         style="border-left: 2px solid #E91E63;">
                        <div class="panel-heading" role="tab" id="headingRegle">
                            <h5 class="panel-title">
                                <a class="collapsed outai col-white" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseRegle" aria-expanded="false"
                                   aria-controls="collapseRegle">
                                    <i class="material-icons col-white" style="font-size: 18px;float: left">keyboard_arrow_down</i>Règlements
                                </a>
                            </h5>
                        </div>
                        <div id="collapseRegle" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingRegle">
                            <div class="panel-body">
                                <div class="table-responsive shadow" style="padding: 20px; overflow: scroll">
                                    <table class="table-striped table-bordered display nowrap" id="dataRELEVA"
                                           style="margin-top: 50px; width: 100%">
                                        <thead>
                                        <tr class="bolo600">
                                            <th>DATE</th>
                                            <th></th>
                                            <th>ENREGISTREMENTS</th>
                                            <th>MONTANT</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for chantier in exercice.chantiers %}
                                            {% set solde = 0 %}
                                            {% for releve in chantier.releves %}
                                                {% if releve.type == 3 %}
                                                <tr>
                                                    <td>{{ releve.date|date('Y.m.d') }}</td>
                                                    <td class="bolo700">{{ releve.devis.client.nomclient }} | {{ releve.devis.chantier.nomchantier }}</td>
                                                    <td class="col-pink bolo600">{{ releve.versement }}
                                                        {% if releve.moyen %}({{ releve.moyen }}){% endif %}{% if releve.facture %} |
                                                        <a href="{{ path('editfacture', {'id': releve.facture.id, 'idchantier':releve.devis.chantier.id}) }}"
                                                           class="col-blue-grey"> Facture
                                                            N° {{ releve.facture.numfacture }}</a>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-right">{{ releve.montant|number_format(2, ',', ' ') }}</td>
                                                </tr>
                                            {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr class="bolo600">
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <td class="text-right bg-blue bolo700 col-white"></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-pri shadow"
                         style="border-left: 2px solid #E91E63;">
                        <div class="panel-heading" role="tab" id="headingChchan">
                            <h5 class="panel-title">
                                <a class="collapsed outai col-white" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseChchan" aria-expanded="false"
                                   aria-controls="collapseChchan">
                                    <i class="material-icons col-white" style="font-size: 18px;float: left">keyboard_arrow_down</i>Charges
                                    chantiers
                                </a>
                            </h5>
                        </div>
                        <div id="collapseChchan" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingChchan">
                            <div class="panel-body">
                                <div class="table-responsive shadow" style="padding: 20px; overflow: scroll">
                                    <table class="table-striped table-bordered display nowrape"
                                           id="dataChargy"
                                           style="width:100%">
                                        <thead>
                                        <tr class="font-weight-normal">
                                            <th class="text-center col-blue-grey">DATE</th>
                                            <th class="text-center col-blue-grey">BON</th>
                                            <th class="text-center col-blue-grey">CHANTIERS | CLIENT</th>
                                            <th class="text-center col-blue-grey">DEVIS</th>
                                            <th class="text-center col-blue-grey">MONTANT</th>
                                            <th class="text-center col-blue-grey">REFERENCE</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for client in exercice.clients %}
                                            {% if client.type is null %}
                                                {% if client.corbeille is null %}
                                                    {% for chantier in exercice.chantiers %}
                                                        {% if chantier.corbeille is null and chantier.client == client %}
                                                            {% for caisse in chantier.caisses %}
                                                                {% if caisse.etat == 'valide' %}
                                                                    {% if caisse.corbeille is null and caisse.type == 3 %}
                                                                        {% if caisse.date|date('Y-m-d') > exercice.debut|date('Y-m-d') and  caisse.date|date('Y-m-d') < exercice.fin|date('Y-m-d') %}
                                                                            <tr>
                                                                                <td class="nowrape">{{ caisse.date|date('Y.m.d') }}</td>
                                                                                <td class="nowrape bolo600">
                                                                                    <a href="{{ path('editcaisse',{'idcaisse':caisse.id, 'idchantier':caisse.chantier.id}) }}">
                                                                                            {{ caisse.numcaisse }}
                                                                                            <span class="col-pink">
                                                                                            ({{ caisse.moyen }})</span>
                                                                                    </a></td>
                                                                                <td class="bolo700"> {{ caisse.client.nomclient|upper }} | {{ caisse.chantier.nomchantier|upper }}</td>
                                                                                <td class="nowrape bolo600">{% if caisse.devis is not null %}
                                                                                    <a href="{{ path('editdevis',{'id':caisse.devis.id, 'idchantier':caisse.devis.chantier.id}) }}">{{ caisse.devis.iddevis }} {% endif %}</a>
                                                                                </td>
                                                                                <td class="text-right nowrape">{{ caisse.montant|number_format(2,',',' ') }}</td>
                                                                                <td class="col-deep-orange"
                                                                                    title="{{ caisse.caissereference|striptags|raw }}">{{ caisse.caissereference|striptags }}</td>
                                                                            </tr>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr class="font-weight-normal">
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="text-right bg-blue col-white"></th>
                                            <th></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-pri shadow"
                         style="border-left: 2px solid #E91E63;">
                        <div class="panel-heading" role="tab" id="headingCharInt">
                            <h5 class="panel-title">
                                <a class="collapsed outai col-white" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseCharInt" aria-expanded="false"
                                   aria-controls="collapseCharInt">
                                    <i class="material-icons col-white" style="font-size: 18px;float: left">keyboard_arrow_down</i>Charges
                                    internes
                                </a>
                            </h5>
                        </div>
                        <div id="collapseCharInt" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingCharInt">
                            <div class="panel-body">
                                <div class="table-responsive shadow" style="padding: 20px; overflow: scroll">
                                    <table class="table-striped table-bordered display nowrape"
                                           id="dataChargo"
                                           style="width:100%">
                                        <thead>
                                        <tr class="font-weight-normal">
                                            <th class="col-blue-grey">CHARGE INTERNE</th>
                                            <th class="col-blue-grey">DATE</th>
                                            <th class="col-blue-grey">BON DE CAISSE</th>
                                            <th class="col-blue-grey">MONTANT</th>
                                            <th class="col-blue-grey">RÉFÉRENCE</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for caisse in caisseinterne %}
                                            {% if caisse.etat == 'valide' %}
                                                {% if caisse.corbeille is null and caisse.type == 2 %}
                                                    {% if caisse.date|date('Y-m-d') > exercice.debut|date('Y-m-d') and  caisse.date|date('Y-m-d') < exercice.fin|date('Y-m-d') %}
                                                        <tr>
                                                            <td class="bolo700">{{ caisse.personnel.noms|upper }}</td>
                                                            <td class="nowrape">{{ caisse.date|date('Y.m.d') }}</td>
                                                            <td class="nowrape bolo600">
                                                                <a href="{{ path('editcaisse',{'idcaisse':caisse.id, 'idchantier':caisse.chantier.id}) }}">
                                                                    {{ caisse.numcaisse }}{% if caisse.moyen is not null %}
                                                                        {{ caisse.numcaisse }}
                                                                        <span class="col-pink">
                                                                        ({{ caisse.moyen }})</span>{% endif %}
                                                                </a></td>
                                                            <td class="text-right nowrape">{{ caisse.montant|number_format(2,',',' ') }}</td>
                                                            <td class="col-deep-orange"
                                                                title="{{ caisse.caissereference|striptags|raw }}">{{ caisse.caissereference|striptags|replace({'&nbsp;': ""}) }}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr class="font-weight-normal">
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="text-right bg-blue col-white"></th>
                                            <th></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-pri shadow"
                         style="border-left: 2px solid #E91E63;">
                        <div class="panel-heading" role="tab" id="headingCharPers">
                            <h5 class="panel-title">
                                <a class="collapsed outai col-white" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseCharPers" aria-expanded="false"
                                   aria-controls="collapseCharPers">
                                    <i class="material-icons col-white" style="font-size: 18px;float: left">keyboard_arrow_down</i>Charges
                                    personnelles
                                </a>
                            </h5>
                        </div>
                        <div id="collapseCharPers" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingCharPers">
                            <div class="panel-body">
                                <div class="table-responsive shadow" style="padding: 20px; overflow: scroll">
                                    <table class="table-striped table-bordered display nowrape"
                                           id="dataChargoPerso"
                                           style="width:100%">
                                        <thead>
                                        <tr class="font-weight-normal">
                                            <th class="col-blue-grey">CHARGE INTERNE</th>
                                            <th class="col-blue-grey">DATE</th>
                                            <th class="col-blue-grey">BON DE CAISSE</th>
                                            <th class="col-blue-grey">MONTANT</th>
                                            <th class="col-blue-grey">RÉFÉRENCE</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for caisse in caisseperso %}
                                            {% if caisse.etat == 'valide' %}
                                                {% if caisse.corbeille is null and caisse.type == 5 %}
                                                    {% if caisse.date|date('Y-m-d') > exercice.debut|date('Y-m-d') and  caisse.date|date('Y-m-d') < exercice.fin|date('Y-m-d') %}
                                                        <tr>
                                                            <td class="bolo700">{{ caisse.personnel.noms|upper }}</td>
                                                            <td class="nowrape">{{ caisse.date|date('Y.m.d') }}</td>
                                                            <td class="nowrape bolo600">
                                                                <a href="{{ path('editcaisse',{'idcaisse':caisse.id, 'idchantier':caisse.chantier.id}) }}">
                                                                    {{ caisse.numcaisse }}{% if caisse.moyen is not null %}
                                                                        {{ caisse.numcaisse }}
                                                                        <span class="col-pink">
                                                                        ({{ caisse.moyen }})</span>{% endif %}
                                                                </a></td>
                                                            <td class="text-right nowrape">{{ caisse.montant|number_format(2,',',' ') }}</td>
                                                            <td class="col-deep-orange"
                                                                title="{{ caisse.caissereference|striptags|raw }}">{{ caisse.caissereference|striptags|replace({'&nbsp;': ""}) }}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr class="font-weight-normal">
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="text-right bg-blue col-white"></th>
                                            <th></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $('#joindreChantiers').off().on("click", function (event) {
            event.preventDefault()
            $('#multiple :selected').each(function (i, sel) {
                $('#Traitement').modal('show');
                $.ajax({
                    type: 'POST',
                    url: '/crm/exercices/joindre/' + $(sel).val() + "/" + $("#idexer").val(),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (respdata, textStatus, jqXHR) {
                        window.location.href = '/crm/exercices/' + $("#idexer").val()
                    },
                    error: function (xhr, resp, text) {
                        $('#ModalErreur').modal('show')
                    },
                })
            });
        })
    </script>

{% endblock %}
