{% extends 'base.html.twig' %}
{% block title %}Hello HistoriqueController!{% endblock %}
{% block body %}


    <section class="content" style="margin-top: 20px !important;">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix m-t-50">
                    <div class="col-sm-12 ">
                        {# POINT DE PAIE #}
                        <div class="panel panel-pri shadow hidere" style="margin-top: 20px !important">
                            <div class="panel-heading" role="tab" id="headingPaie">
                                <h4 class="panel-title">
                                    <a class="collapsed  col-white" role="button" data-toggle="collapse"
                                       data-parent="#accordionPaie" href="#collapsePaie" aria-expanded="false"
                                       aria-controls="collapsePaie" style="font-size: 16px!important">
                                        <i class="material-icons col-white"
                                           style="font-size: 18px;float: left">keyboard_arrow_down</i>Historique des
                                        actions
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsePaie" class="panel-collapse" role="tabpanel"
                                 aria-labelledby="headingPaie">
                                <div class="table-responsive shadow" style="padding: 20px; overflow-x: scroll">
                                    <table class="table-bordered nowrape" id="dataStory"
                                           style=" width: 100%">
                                        <thead>
                                        <th>DATE</th>
                                        <th>DATE</th>
                                        <th>ACTION</th>
                                        <th>RÉALISÉE PAR</th>
                                        </thead>
                                        <tbody>
                                        {% for history in history %}
                                            <tr>
                                                <td>Activités du {{ history.date|date('Y.m.d') }}</td>
                                                <td>{{ history.date|date('Y.m.d H.i.s') }}</td>
                                                <td class="col-black">{{ history.action|striptags|raw }}</td>
                                                <td class="col-blue bolo600">{{ history.dobyuser.nom|upper }} {{ history.dobyuser.prenoms|upper }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <br/>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# FIN #}
                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}
