{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
    <input type="text" id="ddclient" value="{{ ddclient }}"/>

    <div class="modal fade right" id="modalClient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                {% if ddclient %}
                <div class="modal-header col-white bg-green p-l-20">
                    <h3 class="modal-title" id="defaultModalLabel">
                        <i class="icofont-minus-circle icofont-1x"></i>
                        MODIFIER UN CLIENT{{ ddclient }}</h3>
                </div>
                {% else %}
                    <div class="modal-header col-white bg-blue p-l-20">
                        <h3 class="modal-title" id="defaultModalLabel">
                            <i class="icofont-minus-circle icofont-1x"></i>
                            AJOUTER UN CLIENT{{ ddclient }}</h3>
                    </div>
                {% endif %}
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(formClient, {'attr': {'id':'addClientForm' }}) }}
                        {{ form_row(formClient._token) }}
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label pri bolo h5">Client<span class="col-red">*</span>
                                </label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formClient.nomclient,{'attr':{'class':'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label pri bolo h5">Adresse</label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formClient.adresse,{'attr':{'class':'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label pri bolo h5">Contacts</label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formClient.contact,{'attr':{'class':'form-control cls' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label pri bolo h5">Compte contribuable</label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formClient.contribuable,{'attr':{'class':'form-control cls' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center" id="divClient">
                            {% if ddclient %}
                                <input type="submit" id="updateClient" value="MODIFIER"
                                       class="btn btn-link waves-effect col-white bg-green"/>
                            {% else %}
                                <input type="submit" id="addClient" value="ENREGISTRER"
                                       class="btn btn-link waves-effect col-white bg-blue"/>
                            {% endif %}
                            <a href="{{ path("listeclient") }}" type="button" id="closeClient" class="btn btn-link waves-effect col-white bg-pink"
                                 data-dismiss="modal">
                                ANNULER
                            </a>
                        </div>
                        <div class="text-center">
                            <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                 class="align-justify" id="loadClient"/>
                        </div>
                        {{ form_end(formClient) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <section class="content" style="margin-top: 50px !important;">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix m-t-20">
                    <div class="col-sm-12 ">
                        <h4 class="bolo700 col-deep-orange">GESTION DE CLIENTS</h4>
                        <button type="button" data-toggle="modal" data-target="#modalClient"
                                class="btn bg-blue-grey text-white" style="border:1px solid #dddfeb">+ CLIENT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content" >
        <div class="container-fluid">
            <div class="block-header">
                {% set countClient = 0 %}
                {% for client in clients %}
                    {% if client.type is null %}
                        {% if client.corbeille is null %}
                            {% set  countClient = countClient + 1 %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-pri shadow" style="border-left: 2px solid #A9A9A9">
                        <div class="panel-heading" role="tab" id="headingOne_1">
                            <h5 class="panel-title">
                                <a class="collapsed col-white outai" role="button" data-toggle="collapse"
                                   data-parent="#accordion_0" href="#collapseOne_0" aria-expanded="false"
                                   aria-controls="collapseOne_0">
                                    <i class="material-icons col-white" style="font-size: 18px;float: left">keyboard_arrow_down</i>Clients<span
                                            class="badge bg-pink"
                                            style="float: right !important;">{{ countClient }}</span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne_0" class="panel-collapse" role="tabpanel"
                             aria-labelledby="headingOne_0">
                            <div class="panel-body">
                                <div class="table-responsive shadow" style="padding: 20px; overflow:scroll">
                                    <table class="table-striped table-bordered display nowrape" style="width: 100%"
                                           id="dddClients">
                                        <thead>
                                        <tr>
                                            <th class="text-center" style="min-width: 30px !important;"></th>
                                            <th>CLIENTS</th>
                                            <th class="text-left">ADRESSE</th>
                                            <th class="text-left">CONTACTS</th>
                                            <th class="text-left">COMPTE&nbsp;C.</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for client in clients %}
                                            {% if client.type is null %}
                                                {% if client.corbeille is null %}
                                                    <tr>
                                                        <td class="text-center">
                                                            <input type="checkbox" data-toggle="toggle" class="CLYES"
                                                                   value="{{ client.id }}"></td>
                                                        <td>
                                                            <a href="{{ path('client', {'id': client.id}) }}"
                                                               class="col-blue bolo700"
                                                               title="{{ client.nomclient|upper }}">{{ client.nomclient|upper }}</a>
                                                        </td>
                                                        <td class="text-left">{{ client.adresse }}</td>
                                                        <td class="text-left">{{ client.contact }}</td>
                                                        <td class="text-left">{{ client.contribuable }}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
