{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

    <style>

        #borde td, th {
            border: solid #D3D3D3;
            border-width: 1px 1px 1px 1px;
            padding: 5px;
        }

        #borda td, th {
            border: solid #D3D3D3;
            border-width: 1px 1px 1px 1px;
            padding: 5px;
        }


        td.bord {
            border: 0 solid #FFFFFF !important;
            padding: 5px;
            text-align: right;
            font-weight: 600;
        }

        td.bordz {
            border: 0 solid #FFFFFF !important;
            padding: 0 0 0 5px !important;
        }


        page {
            position: relative;
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        }

        header,
        footer {
            position: absolute;
            left: 0;
            right: 0;
            padding-right: 1.5cm;
            padding-left: 1.5cm;
        }

        header:after {
            content: "Header";
        }

        header {
            top: 0;
            padding-top: 5mm;
            padding-bottom: 3mm;
        }

        footer {
            bottom: 0;
            color: #000;
            padding-top: 3mm;
            padding-bottom: 5mm;
        }

        @media print {
            body, page {
                margin: 0;
            }

            header,
            footer {
                position: fixed;
                left: 0;
                right: 0;
                padding-right: 1.5cm;
                padding-left: 1.5cm;
            }
        }

    </style>
    <script>
        function printFrame() {
            var frm = document.getElementById('frame').contentWindow;
            frm.focus();// focus on contentWindow is needed on some ie versions
            frm.print();
            return false;
        }
    </script>

    <input type="text" class="hide" id="idchantier" value="{{ chantier.id }}">
    <input type="text" class="hide" id="idlivraison" value="{{ livraison.id }}">
    <input type="text" class="hide" id="idligne" value="{{ idligne }}">

    <div class="modal fade right" id="modalChoisir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="p-5 bg-pri">
                    <div class="modal-header text-white">
                        <h4 class="modal-title text-white" id="defaultModalLabel">CHOISIR UN BIEN / SERVICE</h4>
                    </div>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(formez,{'attr': {'id': 'addChoisirLivraisonForm'}}) }}
                        {{ form_row(formez._token) }}
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">Rechercher</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formez.code,{'id':'refarticle','required':'','attr':{'class':'form-control refarticle'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">RÉFÉRENCE</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formez.reference,{'required':'','attr':{'class':'form-control','readonly':'true','placeholder':'Désactivé'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 col-blue bolo">ARTICLE</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formez.article,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">QUANTITÉ</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formez.quantite,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" id="addChoisirLivraison" value="ENREGISTRER"
                                   class="btn btn-link waves-effect text-white bg-pri">

                            <div type="button" id="closeChoisirLivraison"
                                 class="btn btn-link waves-effect text-white bg-pink"
                                 data-dismiss="modal">FERMER
                            </div>

                            <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                 class="align-justify" id="loadChoisirLivraison">
                        </div>
                        {{ form_end(formez) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="modalLivraison" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header bg-blue text-white">
                    <h4 class="modal-title" id="defaultModalLabel p-l-20">CRÉER UN BON DE LIVRAISON</h4>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(formeLivraison, {'attr': {'id': 'addLivraisonForm' }}) }}
                        {{ form_row(formeLivraison._token) }}
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">DEVIS</label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {{ form_widget(formeLivraison.devis,{'attr':{'class':'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">DATE</label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {{ form_widget(formeLivraison.date,{'attr':{'class':'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">RÉFÉRENCE</label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {{ form_widget(formeLivraison.livrereference,{'id':'editor1','attr':{'class':'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" id="addLivraison" value="ENREGISTRER"
                                   class="btn btn-link waves-effect text-white bg-blue">
                            <div type="button" id="closeLivraison" class="btn btn-link waves-effect text-white bg-pink"
                                 data-dismiss="modal">
                                FERMER
                            </div>
                            <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                 class="align-justify" id="loadLivraison">
                        </div>
                        <br>
                        <br>

                        {{ form_end(formeLivraison) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="modalDupliquer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="p-5 bg-pri">
                    <div class="modal-header text-white">
                        <h4 class="modal-title text-white" id="defaultModalLabel">DUPLIQUER CE BON DE LIVRAISON</h4>
                    </div>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="modalList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header bg-green text-white">
                    <h4 class="modal-title text-white" id="defaultModalLabel">MODIFIER LES LIGNES</h4>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        <div class="table-responsive">
                            <table id="borde" style="width:100%;">
                                <tr style="background-color:#4e73df; color: #FFFFFF !important; ">
                                    <th style="text-align: center">RÉF</th>
                                    <th style="text-align: left !important;">
                                        DÉSIGNATION
                                    </th>
                                </tr>
                                {% for lign in lignes %}
                                    {% if lign.groupe is null %}
                                        <tr>
                                            <td style="text-align: center">{{ lign.reference }}</td>
                                            <td>
                                                <span class="pri font-bold">{{ lign.designation|raw }}</span><br>
                                                <table style="width: 100%; margin-top: 10px">
                                                    <tr>
                                                        <td class="text-center bordz"><b>Unité:</b> {{ lign.unite }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center bordz">
                                                            <b>Quantité:</b> {{ lign.quantite|number_format(2, ',', ' ') }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center bordz">
                                                            {% if livraison.etat == 'save' %}
                                                                <a href="{{ path('editlignelivre',{'id':livre.id,  'idchantier':livre.chantier.id,   'idligne':lign.id}) }}"
                                                                   class="m-r-10"><i class="fa fa-edit col-green"
                                                                                     aria-hidden="true"
                                                                                     title="Modifier"></i></a>
                                                                <a href="{{ path('supligne',{'id':livre.id,  'idchantier':livre.chantier.id,   'idligne':lign.id, 'type':'livraison'}) }}"
                                                                   class="sholigne"><i class="fa fa-trash col-pink"
                                                                                       aria-hidden="true"
                                                                                       title="Supprimer"></i></a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="modalMise" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="p-5 bg-pri">
                    <div class="modal-header text-white">
                        <h4 class="modal-title text-white" id="defaultModalLabel">MISE EN FORME DU DEVIS</h4>
                    </div>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(formes, {'enctype':'multipart/form-data','attr': {'id': 'addforme'}}) }}
                        {{ form_row(formes._token) }}
                        <h5 class="col-pink bolo600">CORPS DU DEVIS</h5>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">TAILLE DU TEXTE(px)</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formes.dsize,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="col-pink bolo600">ENTÊTE DU DEVIS</h5>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-4">
                                <label class="form-label m-b--30 col-blue bolo">AVEC ENTÊTE?</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formes.info,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <label class="form-label m-b--30 col-blue bolo">LOGO DANS L'ENTÊTE</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formes.entete,{'required':'','attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">HAUTEUR</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formes.teteH,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">LARGEUR</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formes.teteY,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">DÉCALAGE EN HAUT</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formes.teteDH,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">DÉCALAGE EN BAS</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formes.teteDB,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">DÉCALAGE À DROITE</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formes.teteDD,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">DÉCALAGE À GAUCHE</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formes.teteDG,{'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="col-pink bolo600">PIED DE PAGE DU DEVIS</h5>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 col-blue bolo">PIED DE PAGE</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formes.pied,{'required':'','attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix m-b-10">
                                <div class="col-sm-6">
                                    <label class="form-label m-b--30 col-blue bolo">TAILLE DU TEXTE</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{ form_widget(formes.piedsize,{'attr':{'class':'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center" style="margin-bottom: 50px !important;">
                            <input type="submit" id="updateForme" value="MODIFIER"
                                   class="btn btn-link waves-effect text-white bg-green">
                            <div type="button" id="closeupForme" class="btn btn-link waves-effect text-white bg-pink"
                                 data-dismiss="modal">
                                FERMER
                            </div>
                            <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                 class="align-justify" id="loadupForme">
                        </div>
                        {{ form_end(formes) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header bg-green text-white">
                    <h4 class="modal-title" id="defaultModalLabel p-l-20">MODIFIER CE BON DE LIVRAISON</h4>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(formLivre, {'attr': {'id': 'updateLivraisonForm' }}) }}
                        {{ form_row(formLivre._token) }}
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">DEVIS</label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {{ form_widget(formLivre.devis,{'attr':{'class':'form-control col-pink' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">DATE</label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {{ form_widget(formLivre.date,{'attr':{'class':'form-control col-pink' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">RÉFÉRENCE</label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {{ form_widget(formLivre.livrereference,{'id':'editor2','attr':{'class':'form-control col-pink' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" id="updateLivraison" value="MODIFIER"
                                   class="btn btn-link waves-effect text-white bg-green">
                            <div type="button" id="closeupdLivraison"
                                 class="btn btn-link waves-effect text-white bg-pink"
                                 data-dismiss="modal">
                                FERMER
                            </div>
                            <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                 class="align-justify" id="loadupdLivraison">
                        </div>
                        <br>
                        <br>

                        {{ form_end(formeLivraison) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="modalLigne" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="p-5 bg-green">
                    <div class="modal-header text-white">
                        <h4 class="modal-title text-white" id="defaultModalLabel">MODIFIER UNE DÉSIGNATION</h4>
                    </div>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(forme, {'attr': {'id': 'updateLigneLivraisonForm'}}) }}
                        {{ form_row(forme._token) }}
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 pri bolo">RÉFÉRENCE</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(forme.reference,{'attr':{'class':'form-control col-green'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">DÉSIGNATION<span
                                            class="col-pink">*</span></label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(forme.designation,{'id':'editor4','attr':{'class':'form-control col-green'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix m-b-10">
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 pri bolo">UNITÉ<span
                                            class="col-pink">*</span></label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(forme.unite,{'attr':{'class':'form-control col-green'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 pri bolo">QUANTITÉ<span
                                            class="col-pink">*</span></label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(forme.quantite,{'type':'number','attr':{'class':'form-control col-green'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" id="updateLigneLivraison" value="MODIFIER"
                                   class="btn btn-link waves-effect text-white bg-green">
                            <a href="{{ path('editlivraison', {'id': livre.id}) }}" id="closeLigne"
                               class="btn btn-link waves-effect text-white bg-pink">FERMER
                            </a>
                            <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                 class="align-justify" id="loadLigne">
                        </div>
                        {{ form_end(forme) }}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="content" style="margin-top: 100px !important;">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="mb-2 m-t--25 "
                         style="background-color: #d1d3e2 !important;">
                        <div class="ont tohidbut">
                            <div class="row clearfix " style=" padding: 0.1cm;">
                                <div class="col-sm-12 text-center">
                                    <h3 class="font-bold col-pink">{{ chantier.nomchantier }}</h3>
                                    <h3 class="font-bold m-t--10 pri">LIVRAISON N°: {{ livre.numlivre }}</h3>
                                    <h3 class="font-bold m-t--10 pri">DEVIS N°: <a
                                                href="{{ path('editdevis', {'id': livre.devis.id}) }}">{{ livre.devis.iddevis }}</a>
                                    </h3>

                                    {% if livre.etat == "valide" %}
                                        <h4 class="font-bold col-black">CE BON EST VALIDÉ</h4>
                                    {% endif %}

                                    {% if livre.corbeille %}
                                        <h4 class="font-bold col-black">CE BON EST SUPPRIMÉ</h4>
                                        <a class="btn bg-deep-orange text-white" id="restaureLivraison"><i
                                                    class="fa fa-redo"></i> RESTAURER</a>
                                    {% else %}

                                        <div class="btn-group shoher">
                                            <button type="button" class="btn bg-pink dropdown-toggle m-r-5"
                                                    data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="true">
                                                <i class="fa fa-cog"></i> FAIRE <span class="caret"></span>
                                            </button>
                                            <div class="dropdown-menu p-l-10 p-r-10"
                                                 style="background-color: #e9e9e9; left: 50px; position: absolute">
                                                <a href="{{ path('chantier', {'id': livre.chantier.id}) }}"
                                                   class="btn btn-labeled bg-green text-white" style="width: 100%">
                                                    ACCÉDER AU CHANTIER</a>

                                                <button type="button" class="btn btn-labeled bg-blue col-white" style="width: 100%"
                                                        data-toggle="modal" data-target="#modalLivraison">CRÉER UN NOUVEAU
                                                    BON
                                                </button>
                                                {% if livre.etat == "save" %}
                                                    <button type="button" class="btn btn-labeled bg-pri col-white"
                                                            data-toggle="modal" data-target="#modalChoisir" style="width: 100%">CHOISIR UN
                                                        ARTICLE
                                                    </button>

                                                    <button type="button" class="btn btn-labeled bg-pri col-white" style="width: 100%"
                                                            id="duplivraison">DUPLIQUER CE BON
                                                    </button>

                                                    <button type="button" class="btn btn-labeled bg-pink col-white" style="width: 100%"
                                                            data-toggle="modal" data-target="#modalInfo">MODIFIER LES INFORMATIONS
                                                    </button>
                                                    <button type="button" class="btn btn-labeled bg-pink text-white" style="width: 100%"
                                                            data-toggle="modal" data-target="#modalList">MODIFIER LES LIGNES
                                                    </button>

                                                    <button type="button" class="btn btn-labeled bg-pink text-white" style="width: 100%"
                                                            data-toggle="modal" data-target="#modalMise">MISE EN FORME
                                                    </button><br>

                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="hidere">
                                            <a href="{{ path('chantier', {'id': livre.chantier.id}) }}"
                                               class="btn btn-labeled bg-green btn-sm text-white">
                                                ACCÉDER AU CHANTIER</a>

                                            <button type="button" class="btn btn-labeled bg-blue btn-sm col-white"
                                                    data-toggle="modal" data-target="#modalLivraison">CRÉER UN NOUVEAU
                                                BON
                                            </button>
                                            <br>
                                            {% if livre.etat == "save" %}
                                                <button type="button" class="btn btn-labeled bg-pri col-white btn-sm"
                                                        data-toggle="modal" data-target="#modalChoisir">CHOISIR UN
                                                    ARTICLE
                                                </button>

                                                <button type="button" class="btn btn-labeled bg-pri col-white btn-sm"
                                                        id="duplivraison">DUPLIQUER CE BON
                                                </button>
                                                <br>

                                                <button type="button" class="btn btn-labeled bg-pink btn-sm col-white"
                                                        data-toggle="modal"
                                                        data-target="#modalInfo">MODIFIER LES INFORMATIONS
                                                </button>
                                                <button type="button" class="btn btn-labeled bg-pink text-white btn-sm"
                                                        data-toggle="modal" data-target="#modalList">MODIFIER LES LIGNES
                                                </button>

                                                <button type="button" class="btn btn-labeled bg-pink text-white btn-sm"
                                                        data-toggle="modal"
                                                        data-target="#modalMise">MISE EN FORME
                                                </button><br>

                                            {% endif %}
                                        </div>
                                        {% if livre.etat == "valide" %}
                                            <a class="btn bg-pink text-white" id="devalideLivraison"><i
                                                        class="fa fa-check-circle"></i> DÉVALIDER</a>
                                        {% endif %}
                                    {% if livre.etat == "save" %}
                                        <a class="btn bg-pri text-white" id="valideLivraison"><i
                                                    class="fa fa-check-circle"></i> VALIDER</a>

                                        <a class="btn bg-pink text-white" id="deleteLivraison"><i
                                                    class="fa fa-trash"></i> SUPPRIMER</a>  {% endif %}
                                        <button type="button" class="btn btn-labeled bg-indigo
                                         text-white btn-sm" onclick='printFrame();'><i class="fa fa-print"></i> IMPRIMER</button>

                                        <button class="btn btn-labeled bg-deep-orange col-white btn-sm"
                                                onClick={handlePrint}><i class="fa fa-envelope"></i> MAIL</button>

                                        <a href="{{ path('attacher', {'charger': 'oui', 'id': livre.id, 'type': 'livraison'}) }}"
                                           class="btn btn-labeled bg-pri text-white btn-sm"><i class="fa fa-print"></i>PDF</a>

                                    {% endif %}
                                </div>
                            </div>
                            <br>
                            <page class="shadow bg-white devtohide"
                                  style="width: 21cm; height:29.7cm; margin: auto; padding: 0.6cm;">
                                <iframe id="frame"
                                        src="{{ path('attacher',{'id':livre.id, 'type':'imprimlivraison', 'charger':'oui'}) }}"
                                        style="width: 100%; height: 100%; border: none;"></iframe>
                            </page>

                            <table class="shoher" id="borda" style="width:100%; background-color: #fff">

                                <tr style="background-color:#4e73df; color: #FFFFFF !important; ">
                                    <th style="text-align: center">RÉF</th>
                                    <th style="text-align: left !important;">
                                        DÉSIGNATION
                                    </th>
                                </tr>
                                {% for lign in lignes %}
                                    {% if lign.groupe is null %}
                                        <tr>
                                            <td style="text-align: center">{{ lign.reference }}</td>
                                            <td>
                                                <span class="pri font-bold">{{ lign.designation|raw }}</span><br>
                                                <table style="width: 100%; margin-top: 10px">
                                                    <tr>
                                                        <td class="text-center bordz"><b>Unité:</b> {{ lign.unite }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center bordz">
                                                            <b>Quantité:</b> {{ lign.quantite|number_format(2, ',', ' ') }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center bordz">
                                                            {% if livraison.etat == 'save' %}
                                                                <a href="{{ path('editlignelivre',{'id':livre.id,  'idchantier':livre.chantier.id,   'idligne':lign.id}) }}"
                                                                   class="m-r-10"><i class="fa fa-edit col-green"
                                                                                     aria-hidden="true"
                                                                                     title="Modifier"></i></a>
                                                                <a href="{{ path('supligne',{'id':livre.id,  'idchantier':livre.chantier.id,   'idligne':lign.id, 'type':'livraison'}) }}"
                                                                   class="sholigne"><i class="fa fa-trash col-pink"
                                                                                       aria-hidden="true"
                                                                                       title="Supprimer"></i></a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>

                            <br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
