{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
    <input type="text" class="hide" id="idfamille" value="{{ famille.id }}"/>
    <input type="text" class="hide" id="idfourn" value="{{ fournisseur.id }}"/>
    <input type="text" class="hide" id="idmateriel" value="{{ materiel.id }}"/>
    <input type="text" class="hide" id="idbenef" value="{{ beneficiaire.id }}"/>

    <div class="modal fade right" id="ajouterMATERIEL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                {% if materiel.id is null %}
                    <div class="modal-header bg-blue text-white">
                        <h4 class="modal-title" id="defaultModalLabel p-l-20">AJOUTER UN MATÉRIEL</h4>
                    </div>
                {% else %}
                    <div class="modal-header bg-green text-white">
                        <h4 class="modal-title" id="defaultModalLabel p-l-20">MODIFIER UN MATÉRIEL</h4>
                    </div>
                {% endif %}
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(formMateriel, {'attr': {'id': 'addMaterielForm' }}) }}
                        {{ form_row(formMateriel._token) }}

                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">Matériel<span class="col-red">*</span>
                                </label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {% if materiel.id is null %}
                                            {{ form_widget(formMateriel.materiel,{'attr':{'class':'form-control' }}) }}
                                        {% else %}
                                            {{ form_widget(formMateriel.materiel,{'attr':{'class':'form-control col-pink' }}) }}
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">Famille</label>
                                <div class="form-group">
                                    <div class="form-line">

                                        {% if materiel.id is null %}
                                            {{ form_widget(formMateriel.famille,{'required':'','attr':{'class':'form-control' }}) }}
                                        {% else %}
                                            {{ form_widget(formMateriel.famille,{'required':'','attr':{'class':'form-control col-pink' }}) }}
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">Fournisseur</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {% if materiel.id is null %}
                                            {{ form_widget(formMateriel.fournisseur,{'required':'','attr':{'class':'form-control' }}) }}
                                        {% else %}
                                            {{ form_widget(formMateriel.fournisseur,{'required':'','attr':{'class':'form-control col-pink' }}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">Code du matériel<span
                                            class="col-red">*</span>
                                </label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {% if materiel.id is null %}
                                            {{ form_widget(formMateriel.code,{'attr':{'class':'form-control' }}) }}
                                        {% else %}
                                            {{ form_widget(formMateriel.code,{'attr':{'class':'form-control col-pink' }}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-4">
                                <label class="form-label m-b--30 pri bolo">Quantité</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {% if materiel.id is null %}
                                            {{ form_widget(formMateriel.stock,{'attr':{'class':'form-control' }}) }}
                                        {% else %}
                                            {{ form_widget(formMateriel.stock,{'attr':{'class':'form-control col-pink' }}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <label class="form-label m-b--30 pri bolo">Date d'acquisition</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {% if materiel.id is null %}
                                            {{ form_widget(formMateriel.date,{'required':'','attr':{'class':'form-control' }}) }}
                                        {% else %}
                                            {{ form_widget(formMateriel.date,{'required':'','attr':{'class':'form-control col-pink' }}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            {% if materiel.id is null %}
                                <input type="submit" id="addMateriel" value="ENREGISTRER"
                                       class="btn btn-link waves-effect text-white bg-blue">
                            {% else %}
                                <input type="submit" id="updateMateriel" value="MODIFIER"
                                       class="btn btn-link waves-effect text-white bg-green">
                            {% endif %}


                            <div type="button" id="closeMateriel" class="btn btn-link waves-effect text-white bg-pink" data-dismiss="modal">FERMER</div>
                            <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                 class="align-justify" id="loadMateriel"></div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        {{ form_end(formMateriel) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="affecterMATERIEL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="p-5 bg-pri">
                    <div class="modal-header text-white">
                        <h4 class="modal-title text-white" id="defaultModalLabel">
                            AFFECTER SUR UN CHANTIER
                        </h4>
                    </div>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        <form id="affMatChantierForm">
                            <input type="hidden" name="token" value="{{ csrf_token('affmatchantier') }}"/>
                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 col-blue bolo">MATERIELS</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control show-tick" name="mate">
                                                {% for materiel in materiels %}
                                                    {% if materiel.etat != 'occupe' %}
                                                        <optgroup label="" class=" bolo700 col-pink">
                                                            <option value="{{ materiel.id }}"
                                                                    title="{{ materiel.materiel }}"
                                                                    class="col-blue-grey"
                                                                    style="font-weight: 500 !important; font-size: 15px !important;">{{ materiel.materiel }}</option>
                                                        </optgroup>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 col-blue bolo">QUANTITÉ</label>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="number" class="form-control" name="qte"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 col-blue bolo">CHANTIERS</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control show-tick" name="chantier">
                                                {% for cli in clients %}
                                                    {% if cli.type is null %}
                                                    {% set count = 0 %}
                                                    {% for pro in cli.chantiers %}
                                                        {% if pro.corbeille is null and pro.archiver != 'oui' %}
                                                            {% set count = count + 1 %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if count > 0 %}
                                                        <optgroup label="{{ cli.nomclient }}" class=" bolo700 col-pink">
                                                            {% for pro in cli.chantiers %}
                                                                {% if pro.corbeille is null and pro.archiver != 'oui' %}
                                                                    <option value="{{ pro.id }}"
                                                                            title="{{ pro.nomchantier }}"
                                                                            class="col-blue"
                                                                            style="font-weight: 500 !important; font-size: 15px !important;">{{ pro.nomchantier|length > 40 ? pro.nomchantier|slice(0, 40)|upper ~ '…' : pro.nomchantier|upper }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </optgroup>
                                                     {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <input type="submit" id="affMatChantier" value="ENREGISTRER"
                                       class="btn btn-link waves-effect text-white bg-blue">
                                <div type="button" id="closeAffMatChantier"
                                     class="btn btn-link waves-effect text-white bg-pink" data-dismiss="modal">
                                    FERMER
                                </div>
                                <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                     class="align-justify" id="loadAffMatChantier"></div>
                            <br>
                            <br>
                            <br></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="addBENEFICIAIRE" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="p-5 bg-pri">
                    <div class="modal-header text-white">
                        <h4 class="modal-title text-white" id="defaultModalLabel">
                            AJOUTER UN BÉNÉFICIAIRE
                        </h4>
                    </div>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(formBeneficiaire, {'attr': {'id':'addBenefForm' }}) }}
                        {{ form_row(formBeneficiaire._token) }}
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">NOM & PRÉNOMS<span class="col-red">*</span>
                                </label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {% if editBenef %}
                                            {{ form_widget(formBeneficiaire.noms,{'attr':{'class':'form-control col-pink ' }}) }}
                                        {% else %}
                                            {{ form_widget(formBeneficiaire.noms,{'attr':{'class':'form-control' }}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">FONCTION</label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {% if editBenef %}
                                            {{ form_widget(formBeneficiaire.fonction,{'attr':{'class':'form-control col-pink ' }}) }}
                                        {% else %}
                                            {{ form_widget(formBeneficiaire.fonction,{'attr':{'class':'form-control' }}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">CONTACTS</label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {% if editBenef %}
                                            {{ form_widget(formBeneficiaire.contacts,{'attr':{'class':'form-control col-pink ' }}) }}
                                        {% else %}
                                            {{ form_widget(formBeneficiaire.contacts,{'attr':{'class':'form-control' }}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            {% if editBenef %}
                                <input type="submit" id="updBenef" value="MODIFIER" class="btn btn-link waves-effect text-white bg-green">
                            {% else %}
                                <input type="submit" id="addBenef" value="ENREGISTRER" class="btn btn-link waves-effect text-white bg-blue">
                            {% endif %}


                            <div type="button" id="closeBenef" class="btn btn-link waves-effect text-white bg-pink" data-dismiss="modal">FERMER
                            </div><img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;" class="align-justify" id="loadBenef"></div>
                        <br>
                        <br>
                        <br>
                        {{ form_end(formBeneficiaire) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="attribuerBENEFICIAIRE" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="p-5 bg-pri">
                    <div class="modal-header text-white">
                        <h4 class="modal-title text-white" id="defaultModalLabel">
                            ATTRIBUER DES MATÉRIELS À UN BÉNÉFICIAIRE
                        </h4>
                    </div>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        <form id="attribuerMatBenefForm">
                            <input type="hidden" name="token" value="{{ csrf_token('attribuerMatBenef') }}"/>

                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 col-blue bolo">MATÉRIELS</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control show-tick" name="mate">
                                                {% for materiel in materiels %}
                                                    {% if materiel.etat != 'occupe' %}
                                                        <optgroup label="" class=" bolo700 col-pink">
                                                            <option value="{{ materiel.id }}"
                                                                    title="{{ materiel.materiel }}"
                                                                    class="col-blue-grey"
                                                                    style="font-weight: 500 !important; font-size: 15px !important;">{{ materiel.materiel }}</option>
                                                        </optgroup>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 col-blue bolo">QUANTITÉ</label>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="number" class="form-control" name="qte"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 col-blue bolo">BÉNÉFICIAIRES</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control show-tick" name="benef">
                                                {% for benef in beneficiaires %}
                                                    <optgroup label="" class=" bolo700 col-pink">
                                                        <option value="{{ benef.id }}" title="{{ benef.noms }}"
                                                                class="col-blue-grey"
                                                                style="font-weight: 500 !important; font-size: 15px !important;">{{ benef.noms|length > 40 ? benef.noms|slice(0, 40)|upper ~ '…' : benef.noms|upper }}</option>
                                                    </optgroup>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <input type="submit" id="attrMatBenef" value="ENREGISTRER"
                                       class="btn btn-link waves-effect text-white bg-blue">
                                <div type="button" id="closeAttriMatBenef"
                                     class="btn btn-link waves-effect text-white bg-pink" data-dismiss="modal">
                                    FERMER
                                </div>
                                <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                     class="align-justify" id="loadAttribuerMatBenef"></div>
                            <br>
                            <br>
                            <br></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="restituerBenef" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="p-5 bg-pri">
                    <div class="modal-header text-white">
                        <h4 class="modal-title text-white" id="defaultModalLabel">
                            MATÉRIELS ATTRIBUÉS
                        </h4>
                    </div>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        <form id="restituerBenefForm">
                            <input type="hidden" name="token" value="{{ csrf_token('restBenef') }}"/>

                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 col-blue bolo">MATÉRIELS</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control" name="mate">
                                                {% for mate in matBeneficiaire %}
                                                        <optgroup label="" class=" bolo700 col-pink">
                                                            <option value="{{ mate.id }}"
                                                                    title="{{ mate.materiel.materiel }}"
                                                                    class="col-blue-grey"
                                                                    style="font-weight: 500 !important; font-size: 15px !important;">{{ mate.materiel.materiel }}</option>
                                                        </optgroup>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 col-blue bolo">QUANTITÉ</label>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="number" class="form-control" name="qte"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <input type="submit" id="restBenef" value="RESTITUER"
                                       class="btn btn-link waves-effect text-white bg-blue">
                                <div type="button" id="closeRestBenef"
                                     class="btn btn-link waves-effect text-white bg-pink" data-dismiss="modal">
                                    FERMER
                                </div>
                                <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                     class="align-justify" id="loadRestBenef"></div>
                            <br>
                            <br>
                            <br></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="restituerChantier" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="p-5 bg-pri">
                    <div class="modal-header text-white">
                        <h4 class="modal-title text-white" id="defaultModalLabel">
                            MATÉRIELS ATTRIBUÉS
                        </h4>
                    </div>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        <form id="restituerChantierForm">
                            <input type="hidden" name="token" value="{{ csrf_token('restChantier') }}"/>
                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 col-blue bolo">MATÉRIELS</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control" name="mat">
                                                {% for mater in matChantier %}
                                                    <optgroup label="" class=" bolo700 col-pink">
                                                        <option value="{{ mater.id }}"
                                                                title="{{ mater.materiel.materiel }}"
                                                                class="col-blue-grey"
                                                                style="font-weight: 500 !important; font-size: 15px !important;">{{ mater.materiel.materiel }}</option>
                                                    </optgroup>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 col-blue bolo">QUANTITÉ</label>
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="number" class="form-control" name="qte"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <input type="submit" id="restChantier" value="RESTITUER"
                                       class="btn btn-link waves-effect text-white bg-blue">
                                <div type="button" id="closeRestChantier"
                                     class="btn btn-link waves-effect text-white bg-pink" data-dismiss="modal">
                                    FERMER
                                </div>
                                <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                     class="align-justify" id="loadRestChantier"></div>
                            <br>
                            <br>
                            <br></form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="content" style="margin-top: 80px !important;">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix m-t-20 p-b-5">
                    <div class="col-xs-12 col-sm-12 ">
                        <h3 class="col-pink bolo700 text-center">MATÉRIEL</h3>

                        <div class=" row clearfix text-center m-t-20 p-b-5">
                            <div class="col-sm-12">
                                <div class="btn-group btn-group-sm " style="margin: auto"  role="group" aria-label="Small button group">


                                    {% if materiel.id is null %}
                                        <button type="button" data-toggle="modal" data-target="#ajouterMATERIEL"
                                                class="btn bg-blue text-white" style="border:1px solid #dddfeb">+ MATÉRIEL
                                        </button>
                                    {% else %}
                                        <button type="button" data-toggle="modal" data-target="#ajouterMATERIEL"
                                                class="btn bg-green text-white" style="border:1px solid #dddfeb">- MATÉRIEL
                                        </button>
                                    {% endif %}
                                    <button type="button" data-toggle="modal" data-target="#addBENEFICIAIRE"
                                            class="btn bg-blue text-white" style="border:1px solid #dddfeb">+ BÉNÉFICIAIRE
                                    </button>

                                </div>
                                <div class="btn-group btn-group-sm " style="margin: auto"  role="group" aria-label="Small button group">
                                    <button type="button" data-toggle="modal" data-target="#affecterMATERIEL"
                                            class="btn bg-blue text-white" style="border:1px solid #dddfeb"> AFFECTER SUR UN CHANTIER
                                    </button>

                                    <button type="button" data-toggle="modal" data-target="#attribuerBENEFICIAIRE"
                                            class="btn bg-blue text-white" style="border:1px solid #dddfeb"> ATTRIBUER À UN BÉNÉFICIAIRE
                                    </button>

                                    <button type="button" data-toggle="modal" data-target="#restituerBenef"
                                            class="btn bg-blue text-white" style="border:1px solid #dddfeb">RESTITUTION D'UN BÉNÉFICIAIRE
                                    </button>

                                    <button type="button" data-toggle="modal" data-target="#restituerChantier"
                                            class="btn bg-blue text-white" style="border:1px solid #dddfeb">RESTITUTION DU CHANTIER
                                    </button>

                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="card shadow ">
                                    <div class="card-body" style="padding: 20px">
                                        <div class="table-responsive" style="padding-bottom: 30px">
                                            <h4 class="pri  bolo700">FAMILLES</h4>
                                            <hr class="m-t--10">
                                            <table class="table-bordered" id="dataFAMILLEMAT"
                                                   style="padding: 0; width: 100%">
                                                <thead class="bg-blue">
                                                <th style="width: 10px !important;" class="col-white"></th>
                                                <th class="col-white">FAMILLES</th>
                                                <th></th>
                                                </thead>
                                                <tbody>
                                                {% for famille in app.user.famille %}
                                                    {% if famille.corbeille is null %}
                                                        <tr>
                                                            <td align="center">
                                                                <input type="checkbox" data-toggle="toggle" class="FAMY"
                                                                       value="{{ famille.id }}"></td>

                                                            <td class="col-black bolo600">{{ famille.famille|upper }}</td>
                                                            <td class="col-blue-grey bolo600 text-center">{{ famille.articles.count }}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                             
                            </div>
                            <div class="col-sm-6">
                                  <div class="card shadow ">
                                    <div class="card-body" style="padding: 20px">
                                        <div class="card-body">
                                            <div class="table-responsive" style="padding-bottom: 30px">
                                                <h4 class="pri  bolo700">FOURNISSEURS</h4>
                                                <hr class="m-t--10">
                                                <table class="table-bordered" id="dataFOURNISSEURMAT"
                                                       style="padding: 0; width: 100%">
                                                    <thead class="bg-blue">
                                                    <th style="width: 10px !important;" class="col-white"></th>
                                                    <th class="col-white">FOURNISSEURS</th>
                                                    </thead>
                                                    <tbody>
                                                    {% for fourn in app.user.fournisseurs %}
                                                            <tr>
                                                                <td class="text-center">
                                                                    <input type="checkbox" data-toggle="toggle" class="FOUR"
                                                                           value="{{ fourn.id }}"></td>

                                                                <td class="col-black bolo600">{{ fourn.fournisseur|upper }}</td>
                                                            </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                           <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="card shadow">
                                    <div class="table-responsive shadow" style="padding: 20px; overflow: scroll">
                                            <h4 class="bolo700 col-blue">BÉNÉFICIAIRES</h4>
                                            <table class="table-striped table-bordered display nowrap"
                                                   style="width: 100%;" id="dataBenef">
                                                <thead>
                                                <tr class="text-center">
                                                    <th class="mw10"></th>
                                                    <th class="mw200">NOM & PRÉNOMS</th>
                                                    <th class="mw150">PROFESSION</th>
                                                    <th class="mw100">CONTACTS</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for benef in beneficiaires %}

                                                        <tr>
                                                            <td class="text-center">
                                                                <input type="checkbox" data-toggle="toggle"
                                                                       class="BENEF"
                                                                       value="{{ benef.id }}"></td>

                                                            <td class="col-blue bolo600 text-left">{{ benef.noms|upper }}</td>
                                                            <td class="text-left bolo600">{{ benef.fonction|upper }}</td>
                                                            <td class="bolo600">{{ benef.contacts }}</td>
                                                        </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="card shadow">
                                    <div style="padding: 20px">
                                        <h4 class="pri  bolo700">CHANTIERS / MATERIELS</h4>
                                        <hr>
                                    </div>
                                    <div class="card-body" style="padding:20px">
                                        <div class="table-responsive" style="margin-top: -40px; overflow: scroll">
                                            <table class="table table-hover dashboard-task-infos">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Date d'attribution</th>
                                                    <th>Code</th>
                                                    <th>Matériels</th>
                                                    <th>Chantier</th>
                                                    <th>Qté</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% set i = 0 %}
                                                {% for mat in matChantier %}
                                                    {% set i = i + 1 %}
                                                    <tr>
                                                        <td>{{ i }}</td>
                                                        <td><span class="label bg-orange font-12">{{ mat.date|date('Y.m.d H.i') }}</span></td>
                                                        <td><span class="label bg-light-blue font-12">{{ mat.materiel.code }}</span></td>
                                                        <td><span class="label bg-pink font-12">{{ mat.materiel.materiel }}</span></td>
                                                        <td><span class="label bg-green font-12">{{ mat.chantier.nomchantier }}</span></td>
                                                        <td class="text-center"><span class="label bg-blue font-12">{{ mat.quantite }}</span></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow">
                                    <div style="padding: 20px">
                                        <h4 class="pri bolo700">BÉNÉFICIAIRES / MATÉRIELS</h4>
                                        <hr>
                                    </div>
                                    <div class="card-body" style="padding:20px">
                                        <div class="table-responsive" style="margin-top: -40px; overflow: scroll">
                                            <table class="table table-hover dashboard-task-infos">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Date d'attribution</th>
                                                    <th>Code</th>
                                                    <th>Matériels</th>
                                                    <th>Bénéficiaires</th>
                                                    <th>Qté</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% set i = 0 %}
                                                {% for matt in matBeneficiaire %}
                                                    {% set i = i + 1 %}
                                                    <tr>
                                                        <td>{{ i }}</td>
                                                        <td>
                                                            <span class="label bg-orange font-12">{{ matt.date|date('Y.m.d H.i') }}</span>
                                                        </td>
                                                        <td>
                                                            <span class="label bg-light-blue font-12">{{ matt.materiel.code }}</span>
                                                        </td>
                                                        <td>
                                                            <span class="label bg-pink font-12">{{ matt.materiel.materiel }}</span>
                                                        </td>
                                                        <td>
                                                            <span class="label bg-green font-12">{{ matt.beneficiaire.noms|upper }}</span>
                                                        </td>
                                                        <td class="text-center">
                                                            <span class="label bg-blue font-12">{{ matt.quantite }}</span>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="header" style="padding:10px !important">
                                        <h4 style="color:#4e73df !important; font-weight: bold ">LISTE COMPLÈTE DU MATÉRIEL</h4>
                                    </div>
                                    <div class="body">
                                        <div class="table-responsive" style="padding-bottom:20px">
                                            <table class="table-striped table-bordered display nowrap"
                                                   style="width: 100%" id="dataMateriel2">
                                                <thead>
                                                <tr class="text-center">
                                                    <th style="width: 10px !important;"></th>
                                                    <th style="min-width: 100px !important;">DATE&nbsp;D'AJOUT</th>
                                                    <th class="text-center">CODE</th>
                                                    <th>MATÉRIEL</th>
                                                    <th class="text-center">QUANTITÉ</th>
                                                    <th>FAMILLES</th>
                                                    <th class="text-center">ETAT</th>
                                                    <th class="text-center">AFFECTÉ</th>
                                                    <th class="text-center">RESTE</th>
                                                    <th class="text-center">FOURNISSEUR</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for materiel in materiels %}
                                                    <tr>
                                                        <td class="text-center">
                                                            <input type="checkbox" data-toggle="toggle" class="MATS"
                                                                   value="{{ materiel.id }}"></td>
                                                        <td>{{ materiel.date|date('Y.m.d H.m') }}</td>
                                                        <td title="{{ materiel.code }}"
                                                            class="bolo600 text-center">{{ materiel.code }}</td>
                                                        <td title="{{ materiel.materiel }}"
                                                            class="col-blue bolo600">{{ materiel.materiel }}</td>
                                                        <td title="{{ materiel.stock }}" class="col-blue bolo600 text-center">
                                                            <span class="label bg-green font-12">{{ materiel.stock }}</span></td>
                                                        <td>
                                                            {% if materiel.famille %}
                                                            {{ materiel.famille.famille|upper }}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center bolo600">
                                                            {% if materiel.etat == 'libre' %}
                                                                <span class="label bg-green font-12">Libre</span>
                                                            {% else %}
                                                                <span class="label bg-pink font-12">Utilisé</span>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center">
                                                            <span class="label bg-blue font-12">{{ materiel.stock - materiel.reste }}</span>
                                                        </td>
                                                        <td class="text-center">
                                                            <span class="label bg-pink font-12">{{ materiel.reste }}</span>
                                                        </td>
                                                        <td class="bolo600">
                                                            {% if materiel.fournisseur %}
                                                            {{ materiel.fournisseur.fournisseur|upper }}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="header" style="padding:10px !important">
                                        <h4 style="color:#4e73df !important; font-weight: bold">HISTORIQUE DES
                                            MOUVEMENTS</h4>
                                    </div>
                                    <div class="body">
                                        <div class="table-responsive" style="margin-bottom:30px">
                                            <table class="table-striped table-bordered display nowrap"
                                                   style="width: 100%" id="dataMateriel">
                                                <thead>
                                                <tr class="text-center">
                                                    <th style="width: 80px !important;">ENREGISTRÉ&nbsp;LE</th>
                                                    <th>CODE</th>
                                                    <th>MATÉRIEL</th>
                                                    <th>CHANTIERS OU BÉNÉFICIAIRES</th>
                                                    <th class="text-center">MOUVEMENT</th>
                                                    <th class="text-center">QUANTITÉ</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for matpr in matHistorique %}
                                                    <tr>
                                                        <td>{{ matpr.date|date('Y.m.d H.i.s') }}</td>
                                                        <td title="{{ matpr.code }}">{{ matpr.code }}</td>
                                                        <td title="{{ matpr.materiel }}"
                                                            class="col-blue bolo600">{{ matpr.materiel }}</td>
                                                        <td title="{{ matpr.receveur|upper }}"
                                                            class="col-pink bolo600">{{ matpr.receveur|upper }}</td>
                                                        <td class="text-center bolo600"
                                                            title="{{ matpr.mouvement|capitalize }}">
                                                            {% if matpr.mouvement == 'attribution' %}
                                                                <span class="label bg-green font-12"> {{ matpr.mouvement|upper }}</span>
                                                            {% else %}
                                                                <span class="label bg-pink font-12"> {{ matpr.mouvement|upper }}</span>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center bolo600"><span class="label bg-green font-12">{{ matpr.quantite }}</span></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            <br></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
