{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section class="content" style="margin-top: 50px !important;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5" style="padding: 10px">
                    <div class="card shadow mb-4" id="client">
                        <h4 class="text-left bg-pri col-white bolo600 bolderrer" style="width: 100%; padding: 20px">
                            MESSAGE
                        </h4>
                        <div class="table-responsive" style="padding: 30px">
                            {{ form_start(form, {'enctype':'multipart/form-data','attr': {'id': 'messageForm'}}) }}
                            <input type="hidden" name="token" value="{{ csrf_token('sendMessage') }}"/>
                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 col-blue bolo600">Envoyé à:</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {% if editMode %}
                                                {{ form_widget(form.receiver,{'required':'required','attr':{'class':'form-control text-danger'}}) }}
                                            {% else %}
                                                {{ form_widget(form.receiver,{'required':'required','attr':{'class':'form-control'}}) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 col-blue bolo600">CC:</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {% if editMode %}
                                                {{ form_widget(form.copies,{'required':'','attr':{'class':'form-control text-danger'}}) }}
                                            {% else %}
                                                {{ form_widget(form.copies,{'required':'','attr':{'class':'form-control'}}) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 col-blue bolo600">Objet:</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {% if editMode %}
                                                {{ form_widget(form.objet,{'required':'required','attr':{'class':'form-control text-danger'}}) }}
                                            {% else %}
                                                {{ form_widget(form.objet,{'required':'required','attr':{'class':'form-control'}}) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 col-blue bolo600">Message:</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            {% if editMode %}
                                                {{ form_widget(form.contenu,{'id':'message','attr':{'class':'form-control text-danger'}}) }}
                                            {% else %}
                                                {{ form_widget(form.contenu,{'id':'message','attr':{'class':'form-control'}}) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table style="width:100%; text-align: left">
                                <tr>
                                    <td>
                                        <h5 class="col-pink bolo600"><u>DOCUMENTS ATTACHÉS</u></h5>
                                        <table>
                                            {% for doc in docs %}
                                                <tr>
                                                    <td><a href=""><i class="fa fa-paperclip text-pri"
                                                                      aria-hidden="true"
                                                                      title="Détacher"></i></a></td>

                                                    {% if doc.type == 'devis' %}
                                                        <td>{{ doc.donner }} |
                                                            <a href="#"
                                                               onclick="shasha({{ doc.numero }},'imprimdevis');"><i
                                                                        class="fa fa-eye col-green"
                                                                        aria-hidden="true"></i></a></a>|
                                                            <a href="{{ path('deldoc', {'id': doc.id, 'type': 'null'}) }}"><i
                                                                        class="fa fa-trash col-pink"
                                                                        aria-hidden="true"></i></a>
                                                        </td>
                                                    {% endif %}
                                                    {% if doc.type == 'decompte' %}
                                                        <td>{{ doc.donner }} |
                                                            <a href="#"
                                                               onclick="shasha({{ doc.numero }},'imprimdecompte');"><i
                                                                        class="fa fa-eye col-green"
                                                                        aria-hidden="true"></i></a></a>|
                                                            <a href="{{ path('deldoc', {'id': doc.id, 'type': 'null'}) }}"><i
                                                                        class="fa fa-trash col-pink"
                                                                        aria-hidden="true"></i></a>
                                                        </td>
                                                    {% endif %}

                                                    {% if doc.type == 'bon' %}
                                                        <td>{{ doc.donner }} |
                                                            <a href="#" onclick="shasha({{ doc.numero }},'imprimbon');"><i
                                                                        class="fa fa-eye col-green"
                                                                        aria-hidden="true"></i></a></a>|
                                                            <a href="{{ path('deldoc', {'id': doc.id, 'type': 'null'}) }}"><i
                                                                        class="fa fa-trash col-pink"
                                                                        aria-hidden="true"></i></a>
                                                        </td>
                                                    {% endif %}

                                                    {% if doc.type == 'caisse' %}
                                                        <td>{{ doc.donner }} |
                                                            <a href="#"
                                                               onclick="shasha({{ doc.numero }},'imprimcaisse');"><i
                                                                        class="fa fa-eye col-green"
                                                                        aria-hidden="true"></i></a></a>|
                                                            <a href="{{ path('deldoc', {'id': doc.id, 'type': 'null'}) }}"><i
                                                                        class="fa fa-trash col-pink"
                                                                        aria-hidden="true"></i></a>
                                                        </td>
                                                    {% endif %}

                                                    {% if doc.type == 'facture' %}
                                                        <td>{{ doc.donner }} |
                                                            <a href="#"
                                                               onclick="shasha({{ doc.numero }},'imprimfacture');"><i
                                                                        class="fa fa-eye col-green"
                                                                        aria-hidden="true"></i></a></a>|
                                                            <a href="{{ path('deldoc', {'id': doc.id, 'type': 'null'}) }}"><i
                                                                        class="fa fa-trash col-pink"
                                                                        aria-hidden="true"></i></a>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                                </tr>
                                {% if idmessage == null %}
                                <tr>
                                    <td style="text-align: left;padding-top: 10px">
                                        <input type="submit" id="sendMessage" value="ENVOYER LE MESSAGE"
                                               class="btn btn-link waves-effect text-white bg-pri">
                                    </td>
                                </tr>
                                {% endif %}
                            </table>
                            {{ form_end(form) }}
                            {% if idmessage != null %}
                                <h5 class="text-center" style="margin-top: 50px"><a href="{{ path('message') }}">RETOUR</a></h5>
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div class="col-md-7" style="padding: 10px">
                    <div class="card shadow mb-4" id="client">
                        <h4 class="text-left bg-pri col-white bolo600 bolderrer" style="width: 100%; padding: 20px">
                            MESSAGES ENVOYÉS
                        </h4>
                        <div class="table-responsive" style="padding: 30px; overflow-x: scroll">
                            <table class="table-striped table-bordered display nowrap"
                                   style="width: 100%" id="dataMail">
                                <thead>
                                <tr>
                                    <th class="mw30"></th>
                                    <th style="width: 80px !important;">DATE</th>
                                    <th>À</th>
                                    <th>OBJET</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for message in messages %}
                                    <tr>
                                        <td class="text-center"><input type="checkbox" data-toggle="toggle" class="MESSAS" value="{{ message.id }}"></td>
                                        <td>{{ message.date|date('d.m.Y') }}</td>
                                        <td><a href="{{ path('editmessage', {'idmessage': message.id}) }}">{{ message.receiver }}</a></td>
                                        <td class="mw300">{{ message.objet }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        localStorage.setItem('reloadd', 'message');
    </script>
{% endblock %}
