{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}


    <input type="text" class="hide" id="idjourna" value="{{ idjournalier }}">
    <input type="text" class="hide" id="idfiche" value="{{ idfiche }}">

    <div class="modal fade right" id="modalJOURNAS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                {% if editJournalier %}
                    <div class="modal-header col-white bg-green p-l-20" id="clfa">
                        <h3 class="modal-title" id="defaultModalLabel">
                            <i class="icofont-minus-circle icofont-1x"></i>
                            MODIFIER UN JOURNALIER</h3>
                    </div>
                {% else %}
                    <div class="modal-header col-white bg-pri p-l-20" id="clfb">
                        <h3 class="modal-title" id="defaultModalLabel">
                            <i class="icofont-plus-circle icofont-1x"></i>
                            AJOUTER UN JOURNALIER</h3>
                    </div>
                {% endif %}
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(formJournalier, {'attr': {'id':'addJournalierForm' }}) }}
                        {{ form_row(formJournalier._token) }}
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label pri bolo">NOM ET PRÉNOMS<span class="col-red">*</span>
                                </label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formJournalier.noms,{'attr':{'class':'form-control cls' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label pri bolo">PROFESSION
                                </label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formJournalier.fonction,{'attr':{'class':'form-control cls' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label pri bolo">CONTACTS
                                </label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formJournalier.mobile,{'attr':{'class':'form-control cls' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            {% if editJournalier %}
                                <input type="submit" id="updateJournalier" value="MODIFIER"
                                       class="btn btn-link waves-effect text-white bg-green">
                                <a href="{{ path('paie') }}"
                                   id="closeJournalier" class="btn btn-link waves-effect text-white bg-pink">FERMER
                                </a>
                            {% else %}
                                <input type="submit" id="addJournalier" value="ENREGISTRER"
                                       class="btn btn-link waves-effect text-white bg-pri">
                                <div type="button" id="closeJournalier"
                                     class="btn btn-link waves-effect text-white bg-pink"
                                     data-dismiss="modal">FERMER
                                </div>
                            {% endif %}
                            <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                 class="align-justify" id="loadJournalier">
                        </div>
                        {{ form_end(formJournalier) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="modalPaie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header col-white bg-pri p-l-20" id="clfb">
                    <h3 class="modal-title" id="defaultModalLabel">
                        <i class="icofont-plus-circle icofont-1x"></i>
                        AJOUTER UN POINT PAIE </h3>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(formPaie, {'attr': {'id':'addPaieForm' }}) }}
                        {{ form_row(formPaie._token) }}
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label pri bolo">POINT DE PAIE<span class="col-red">*</span>
                                </label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formPaie.libelle,{'attr':{'class':'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" id="addPaie" value="ENREGISTRER"
                                   class="btn btn-link waves-effect text-white bg-pri">
                            <div type="button" id="closePaie" class="btn btn-link waves-effect text-white bg-pink"
                                 data-dismiss="modal">FERMER
                            </div>
                            <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                 class="align-justify" id="loadPaie">
                        </div>
                        {{ form_end(formPaie) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="modalFiche" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">

                {% if idfiche %}
                    <div class="modal-header col-white bg-green p-l-20" id="clfa">
                        <h3 class="modal-title" id="defaultModalLabel">
                            <i class="icofont-minus-circle icofont-1x"></i>
                            MODIFIER UNE FICHE DE PAIE</h3>
                    </div>
                {% else %}
                    <div class="modal-header col-white bg-pri p-l-20" id="clfb">
                        <h3 class="modal-title" id="defaultModalLabel">
                            <i class="icofont-plus-circle icofont-1x"></i>
                            AJOUTER UNE FICHE DE PAIE</h3>
                    </div>
                {% endif %}
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(formFiche, {'attr': {'id':'addFichePaieForm' }}) }}
                        {{ form_row(formFiche._token) }}
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label pri bolo">JOURNALIERS<span class="col-red">*</span>
                                </label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formFiche.journalier,{'attr':{'class':'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-4">
                                <label class="form-label pri bolo">DATE<span class="col-red">*</span>
                                </label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formFiche.date,{'attr':{'class':'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label pri bolo">UNITÉ<span class="col-red">*</span>
                                </label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formFiche.unite,{'attr':{'class':'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label pri bolo">TOTAL<span class="col-red">*</span>
                                </label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formFiche.heure,{'attr':{'class':'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-6">
                                <label class="form-label pri bolo">MONTANT PAR UNITÉ<span class="col-red">*</span>
                                </label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formFiche.prix,{'attr':{'class':'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label pri bolo">AVANCE DEMANDÉE
                                </label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formFiche.avance,{'attr':{'class':'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label pri bolo">CHANTIERS<span class="col-red">*</span>
                                </label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formFiche.chantier,{'attr':{'class':'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label pri bolo">POINT DE PAIE<span class="col-red">*</span>
                                </label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formFiche.paie,{'attr':{'class':'form-control' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            {% if idfiche %}
                                <input type="submit" id="updateFichePaie" value="MODIFIER"
                                       class="btn btn-link waves-effect text-white bg-green">
                                <a href="{{ path('paie') }}"
                                   id="closeFichePaie" class="btn btn-link waves-effect text-white bg-pink">FERMER
                                </a>
                            {% else %}
                                <input type="submit" id="addFichePaie" value="ENREGISTRER ET CRÉER L'ORDRE DE PAIEMENT"
                                       class="btn btn-link waves-effect text-white bg-pri">
                                <div type="button" id="closeFichePaie"
                                     class="btn btn-link waves-effect text-white bg-pink"
                                     data-dismiss="modal">FERMER
                                </div>
                            {% endif %}
                            <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                 class="align-justify" id="loadFichePaie">
                        </div>
                        {{ form_end(formFiche) }}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <section class="content" style="margin-top: 20px !important;">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix m-t-50">
                    <div class="col-sm-12 ">
                        <h3 class="bolo700">Bonjour {{ app.user.prenoms|upper }} !</h3>
                        <h4 class="bolo700 col-deep-orange">Gestion de la paie</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix p-b-5">
            <div class="col-sm-12">
                <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                    <button type="button" data-toggle="modal" data-target="#modalJOURNAS"
                            class="btn bg-purple text-white" style="border:1px solid #dddfeb">+ JOURNALIER
                    </button>
                    <button type="button" data-toggle="modal" data-target="#modalPaie"
                            class="btn bg-blue text-white" style="border:1px solid #dddfeb">+ POINT DE PAIE
                    </button>
                    <button type="button" data-toggle="modal" data-target="#modalFiche"
                            class="btn bg-blue-grey text-white" style="border:1px solid #dddfeb">+ FICHE DE PAIE
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix m-t-20">
                    <div class="col-sm-12 ">

                        <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-pri shadow">
                                <div class="panel-heading" role="tab" id="headingOne_1">
                                    <h5 class="panel-title">
                                        <a class="collapsed col-white outai" role="button" data-toggle="collapse"
                                           data-parent="#accordion_0" href="#collapseOne_0" aria-expanded="false"
                                           aria-controls="collapseOne_0">
                                            <i class="material-icons col-white" style="font-size: 18px;float: left">keyboard_arrow_down</i>Journaliers<span
                                                    class="badge bg-pink"
                                                    style="float: right !important;"></span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseOne_0" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingOne_0">
                                    <div class="panel-body">
                                        <div class="table-responsive shadow" style="padding: 20px; overflow:scroll">
                                            <table class="table-striped table-bordered display nowrape"
                                                   style="width: 100%"
                                                   id="dataJOURNALIER">
                                                <thead>
                                                <tr>
                                                    <th class="text-center" style="Emin-width: 30px !important;"></th>
                                                    <th>JOURNALIERS</th>
                                                    <th>PROFESSION</th>
                                                    <th>CONTACTS</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for journa in journaliers %}
                                                    <tr>
                                                        <td class="text-center">
                                                            <input type="checkbox" data-toggle="toggle"
                                                                   class="JOURNA"
                                                                   value="{{ journa.id }}"></td>
                                                        <td class="col-blue">{{ journa.noms|upper }}</td>
                                                        <td>{{ journa.fonction|upper }}</td>
                                                        <td>{{ journa.mobile }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            <br/>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-pri shadow">
                                <div class="panel-heading" role="tab" id="headingPaie">
                                    <h5 class="panel-title">
                                        <a class="collapsed col-white outai" role="button" data-toggle="collapse"
                                           data-parent="#accordion_0" href="#collapsePaie" aria-expanded="false"
                                           aria-controls="collapsePaie">
                                            <i class="material-icons col-white" style="font-size: 18px;float: left">
                                                keyboard_arrow_down</i>Fiches de paie pour les journaliers<span
                                                    class="badge bg-pink"
                                                    style="float: right !important;"></span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapsePaie" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingPaie">
                                    <div class="panel-body">
                                        <div class="table-responsive shadow" style="padding: 20px; overflow:scroll">
                                            <table class="table-bordered display nowrap" style="width: 100%"
                                                   id="dataFichePaie">
                                                <thead>
                                                <tr class="text-center">
                                                    <th style="width: 10px !important;"></th>
                                                    <th>DATE</th>
                                                    <th>POINT DE PAIE</th>
                                                    <th>JOURNALIERS</th>
                                                    <th>TOTAL</th>
                                                    <th class="text-center">UNITÉ</th>
                                                    <th>MONTANT</th>
                                                    <th>AVANCE</th>
                                                    <th>NET À PAYER</th>
                                                    <th>N° D'ORDRE</th>
                                                    <th>CLIENT</th>
                                                    <th>CHANTIER</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for fiche in fiches %}
                                                    <tr>
                                                        <td class="text-center">
                                                            <input type="checkbox" data-toggle="toggle"
                                                                   class="FICHA"
                                                                   value="{{ fiche.id }}"></td>
                                                        <td>{{ fiche.date|date('y.m.d') }}</td>
                                                        <td class="col-blue">{{ fiche.paie.libelle }}</td>
                                                        <td>{{ fiche.journalier.noms }}</td>
                                                        <td class="text-center">{{ fiche.heure }}</td>
                                                        <td class="text-center">{{ fiche.unite|upper }}</td>
                                                        <td class="text-right">{{ fiche.prix|number_format(2,',',' ') }}</td>
                                                        <td class="text-right">{{ fiche.avance|number_format(2,',',' ') }}</td>
                                                        <td class="text-right">{{ ((fiche.heure * fiche.prix)-fiche.avance)|number_format(2,',',' ') }}</td>
                                                        <td class="text-left">{% if fiche.caisse %}<a
                                                                    href="{{ path('editcaisse',{'idcaisse':fiche.caisse.id, 'idchantier':fiche.chantier.id}) }}">ORDRE
                                                                N° {{ fiche.caisse.numcaisse }}</a>{% endif %}</td>
                                                        <td class="col-pink">{{ fiche.chantier.client.nomclient|upper }}</td>
                                                        <td>{{ fiche.chantier.nomchantier|upper }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-pri shadow">
                                <div class="panel-heading" role="tab" id="headingPaiePoint">
                                    <h5 class="panel-title">
                                        <a class="collapsed col-white outai" role="button" data-toggle="collapse"
                                           data-parent="#accordion_0" href="#collapsePaiePoint" aria-expanded="false"
                                           aria-controls="collapsePaiePoint">
                                            <i class="material-icons col-white" style="font-size: 18px;float: left">
                                                keyboard_arrow_down</i>Points de paie<span
                                                    class="badge bg-pink"
                                                    style="float: right !important;"></span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapsePaiePoint" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingPaiePoint">
                                    <div class="panel-body">
                                        <div class="table-responsive shadow" style="padding: 20px; overflow:scroll">
                                            <table class="table-bordered display nowrap" style="width: 100%"
                                                   id="dataPAIE">
                                                <thead>
                                                <tr class="text-center">
                                                    <th class="mw100">DATE</th>
                                                    <th class="mw150">N° ORDRE</th>
                                                    <th class="mw150">N° DE BON</th>
                                                    <th>ETAT</th>
                                                    <th class="mw200">FACTURÉ À</th>
                                                    <th class="mw200">CLIENT/CHANTIER</th>
                                                    <th class="mw150">MONTANT</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% set ctth = 0 %}
                                                {% for caisse in cassa %}
                                                    {% if caisse.paie is not null %}
                                                        {% if caisse.corbeille is null %}
                                                            <tr>
                                                                <td>{{ caisse.date|date('y.m.d') }}</td>

                                                                <td><a
                                                                            href="{{ path('editcaisse',{'idcaisse':caisse.id , 'idchantier':caisse.chantier.id}) }}"
                                                                            title="{{ caisse.caissereference|striptags|raw }}">
                                                                        ORDRE N° {{ caisse.numcaisse }}
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    {% if caisse.bon %}
                                                                        <a
                                                                                href="{{ path('editbon', {'id': caisse.bon.id, 'idchantier': caisse.chantier.id}) }}">
                                                                            BON N° {{ caisse.bon.numbon }}
                                                                        </a>
                                                                    {% endif %}
                                                                </td>

                                                                <td class="col-blue">{{ caisse.paie.libelle }}</td>
                                                                <td>
                                                                    {% if caisse.personnel %}
                                                                        {{ caisse.personnel.noms|upper }}
                                                                    {% endif %}
                                                                    {% if caisse.intervenant %}
                                                                        {{ caisse.intervenant.nom|upper }}
                                                                    {% endif %}
                                                                    {% if caisse.fournisseur %}
                                                                        {{ caisse.fournisseur.fournisseur|upper }}
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ caisse.client.nomclient|upper ~' '~ caisse.chantier.nomchantier|upper }}</td>
                                                                <td class="text-right">{{ caisse.montant|number_format(2,',',' ') }}</td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

