{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}


    <div class="modal fade right" id="modalImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-blue p-l-20">
                    <h3 class="modal-title" id="defaultModalLabel">AJOUTER UNE IMAGE</h3>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        <form enctype="multipart/form-data" id="addImageForm">
                            <input type="hidden" name="token" value="{{ csrf_token('addImageToken') }}"/>

                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 pri bolo">IMPORTER UNE IMAGE</label>
                                    <div class="form-group">
                                        <div class="form-line col-pink">
                                            <input type="file" id="nomfichier" name="image" required="required"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <input type="submit" id="addImageUser" value="ENREGISTRER"
                                       class="btn btn-link waves-effect text-white bg-pri">
                                <div type="button" id="closeImageUser"
                                     class="btn btn-link waves-effect text-white bg-pink" data-dismiss="modal">
                                    FERMER
                                </div>
                                <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                     class="align-justify" id="loadImageUser">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="modalUpdateUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-green p-l-20">
                    <h3 class="modal-title" id="defaultModalLabel">MODIFIER MON COMPTE</h3>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(form, {'attr': {'id': 'updateUsereForm'}}) }}
                        {{ form_row(form._token) }}
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">Nom</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(form.nom,{'attr':{'class':'form-control '}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">Prénoms</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(form.prenoms,{'attr':{'class':'form-control '}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 col-blue bolo">Entreprise</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(form.societe,{'attr':{'class':'form-control '}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix m-b-10">
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">Contacts</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(form.contact,{'attr':{'class':'form-control '}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">E-Mail</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(form.username,{'attr':{'class':'form-control '}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix m-b-10">
                         <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">Adresse</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(form.adresse,{'attr':{'class':'form-control '}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">Compte contribuable</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(form.contribuable,{'attr':{'class':'form-control '}}) }}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="text-center">
                            <input type="submit" id="updateUsere" value="MODIFIER"
                                   class="btn btn-link waves-effect text-white bg-green">
                            <div type="button" id="closeUpdateUsere"
                                 class="btn btn-link waves-effect text-white bg-pink"
                                 data-dismiss="modal">FERMER
                            </div>
                            <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                 class="align-justify" id="loadUpdateUsere">
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="modalSousCpte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                {% if compte.id %}
                    <div class="modal-header text-white bg-green p-l-20">
                        <h3 class="modal-title" id="defaultModalLabel">MODIFIER UN SOUS-COMPTE</h3>
                    </div>
                {% else %}

                    <div class="modal-header text-white bg-blue p-l-20">
                        <h3 class="modal-title" id="defaultModalLabel">AJOUTER UN SOUS-COMPTE</h3>
                    </div>
                {% endif %}
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(formcompte, {'attr': {'id': 'addSoussForm'}}) }}
                        <input type="hidden" name="token" value="{{ csrf_token('addSousToken') }}"/>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">Nom</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formcompte.nom,{'attr':{'class':'form-control cpt'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">Prénoms</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formcompte.prenoms,{'attr':{'class':'form-control cpt'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 col-blue bolo">Email</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formcompte.username,{'attr':{'class':'form-control cpt'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 col-blue bolo">Contacts</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formcompte.contact,{'attr':{'class':'form-control cpt'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix m-b-10">
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">Mot de passe</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formcompte.password,{'attr':{'class':'form-control cpt','minlength':'8'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label m-b--30 col-blue bolo">Confirmer le mot de passe</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        {{ form_widget(formcompte.confirm_passe,{'attr':{'class':'form-control cpt','minlength':'8'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if compte.id %}
                            <div class="text-center">
                                <input type="submit" id="updss" value="MODIFIER"
                                       class="btn btn-link waves-effect text-white bg-green">
                                <div type="button" id="closeupdss"
                                     class="btn btn-link waves-effect text-white bg-pink"
                                     data-dismiss="modal">FERMER
                                </div>
                                <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                     class="align-justify" id="loadupdss">
                            </div>
                        {% else %}
                            <div class="text-center">
                                <input type="submit" id="addss" value="ENREGISTRER"
                                       class="btn btn-link waves-effect text-white bg-blue">
                                <div type="button" id="closeaddss"
                                     class="btn btn-link waves-effect text-white bg-pink"
                                     data-dismiss="modal">FERMER
                                </div>
                                <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                     class="align-justify" id="loadaddss">
                            </div>
                        {% endif %}

                        {{ form_end(formcompte) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="text" class="hide" id="sousid" value="{{ compte.id }}">
    <input type="text" class="hide" id="idcompte" value="{{ idcompte }}">

    <section class="content" style="margin-top: 80px !important;">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-8">
                    <div class="card shadow mb-4 bg-white" style=" padding:10px">
                        <h5 class="col-black bolo700">MON COMPTE</h5>
                        <hr class="bg-pri" style="width: 100%; margin-top: -5px">
                        <table class="table-striped" style="width: 100%">
                            <tr>
                                <td colspan="2" class="text-center">
                                    {% if app.user.photo is null %}
                                        <a href="#" id="addUsa">
                                            <img src="/images/personnel/user.png" class="img-circle" width="150"
                                                 height="150">
                                        </a>
                                    {% else %}
                                        <a href="#" id="addUsa">
                                            <img src="/gallery/{{ app.user.photo }}" width="150" height="150"
                                                 class="img-circle">
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="pri">Nom & Prénoms</td>
                                <td class="col-black">{{ user.nom }}
                                    {{ user.prenoms }}</td>
                            </tr>
                            <tr>
                                <td class="pri">Raison sociale</td>
                                <td class="col-black">{{ user.societe }}</td>
                            </tr>
                            <tr>
                                <td class="pri">Contact</td>
                                <td class="col-black">{{ user.contact }}</td>
                            </tr>
                            <tr>
                                <td class="pri">E-mail</td>
                                <td class="col-black">{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td class="pri">Adresse</td>
                                <td class="col-black">{{ user.adresse }}</td>
                            </tr>
                            <tr>
                                <td class="pri">Pays</td>
                                <td class="col-black">{% if user.pays %}{{ user.pays.nation }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td class="pri">C. contribuable</td>
                                <td class="col-black">{{ user.contribuable }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center">
                                    <input type="submit" id="updateUser" value="MODIFIER"
                                           class="btn btn-link waves-effect text-white bg-green">
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% if app.user.compte == null %}
                        <div class="card shadow mb-4 bg-white" style=" padding:10px">
                            <h5 class="col-black bolo700">DROITS D'ACCÈS DU COMPTE {% if userdroit is not null %}| <span class="col-pink">{{ userdroit.nom|upper }} {{ userdroit.prenoms|upper }}</span>{% endif %}</h5>
                            {% if userdroit is not null %}
                                <form id="addDroitUserForm">
                                    <p style="text-align: center"><input type="submit" id="saveDroit" value="VALIDER" class="btn btn-link waves-effect text-white bg-blue"></p>
                                    <input type="hidden" name="token" value="{{ csrf_token('addDroitUserToken') }}"/>
                                    <table class="table-bordered" style="width: 100%">
                                        <tr>
                                        <td  colspan="3" class="col-pink bolo700 bg-light">GESTION DES ADMINISTRATEURS</td>
                                        {% for dre in droits %}

                                            {% if dre.ggroup == "admin" %}
                                                <tr>
                                                    <td style="padding-left: 20px !important;">
                                                        <label class="col-black"
                                                               for="admin">&raquo; {{ dre.afaire|capitalize }}</label>
                                                    </td>
                                                    <td class="col-blue-grey text-center">
                                                        <select id="admin" name="admin" class="col-blue">
                                                            <option value="oui"
                                                                    {% if dre.actions == "oui" %}selected="selected"{% endif %}>
                                                                Oui
                                                            </option>
                                                            <option value="non"
                                                                    {% if dre.actions == "non" %}selected="selected"{% endif %}>
                                                                Non
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td class="col-blue-grey">
                                                        {% if dre.actions == "oui" %}Administrateur de compte{% endif %}
                                                        {% if dre.actions == "non" %}Pas administrateur de compte{% endif %}
                                                    </td>
                                                </tr>
                                            {% endif %}

                                            {% if dre.ggroup == "comptable" %}
                                                <tr>
                                                    <td style="padding-left: 20px !important;">
                                                        <label class="col-black"
                                                               for="admin">&raquo; {{ dre.afaire|capitalize }}</label>
                                                    </td>
                                                    <td class="col-blue-grey text-center">
                                                        <select id="comptable" name="comptable" class="col-blue">
                                                            <option value="oui"
                                                                    {% if dre.actions == "oui" %}selected="selected"{% endif %}>
                                                                Oui
                                                            </option>
                                                            <option value="non"
                                                                    {% if dre.actions == "non" %}selected="selected"{% endif %}>
                                                                Non
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td class="col-blue-grey">
                                                        {% if dre.actions == "oui" %}Ce compte gère la comptabilté{% endif %}
                                                        {% if dre.actions == "non" %}Ce compte ne gère pas la comptabilté{% endif %}
                                                    </td>
                                                </tr>
                                            {% endif %}

                                        {% endfor %}
                                        </tr>
                                        <tr>
                                        <td  colspan="3" class="col-pink bolo700 bg-light">GESTION DES CLIENTS</td>
                                        {% for dre in droits %}
                                            {% if dre.ggroup == "client" %}
                                                <tr>
                                                    <td style="padding-left: 20px !important;">
                                                        <label class="col-black">&raquo; {{ dre.afaire|capitalize }}</label>
                                                    </td>
                                                    <td class="col-blue-grey text-center">
                                                        <select id={{ dre.lier }} name={{ dre.lier }} class="col-blue">
                                                            <option value="oui"
                                                                    {% if dre.actions == "oui" %}selected="selected"{% endif %}>
                                                                Oui
                                                            </option>
                                                            <option value="non"
                                                                    {% if dre.actions == "non" %}selected="selected"{% endif %}>
                                                                Non
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td class="col-blue-grey">
                                                        {% if dre.actions == "oui" and dre.lier == "add_client" %}Ce compte peut ajouter un client{% endif %}
                                                        {% if dre.actions == "non" and dre.lier == "add_client"%}Ce compte ne peut pas ajouter un client{% endif %}

                                                        {% if dre.actions == "oui" and dre.lier == "upd_client" %}Ce compte peut modifier un client{% endif %}
                                                        {% if dre.actions == "non" and dre.lier == "upd_client"%}Ce compte ne peut pas modifier un client{% endif %}

                                                        {% if dre.actions == "oui" and dre.lier == "del_client" %}Ce compte peut supprimer un client{% endif %}
                                                        {% if dre.actions == "non" and dre.lier == "del_client"%}Ce compte ne peut pas supprimer un client{% endif %}

                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tr>
                                        <tr>
                                        <td  colspan="3" class="col-pink bolo700 bg-light">GESTION DES CHANTIERS</td>
                                        {% for dre in droits %}
                                            {% if dre.ggroup == "chantier" %}
                                                <tr>
                                                    <td style="padding-left: 20px !important;">
                                                        <label class="col-black">&raquo; {{ dre.afaire|capitalize }}</label>
                                                    </td>
                                                    <td class="col-blue-grey text-center">
                                                        <select id={{ dre.lier }} name={{ dre.lier }} class="col-blue">
                                                            <option value="oui"
                                                                    {% if dre.actions == "oui" %}selected="selected"{% endif %}>
                                                                Oui
                                                            </option>
                                                            <option value="non"
                                                                    {% if dre.actions == "non" %}selected="selected"{% endif %}>
                                                                Non
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td class="col-blue-grey">
                                                        {% if dre.actions == "oui" and dre.lier == "add_chantier" %}Ce compte peut ajouter un chantier{% endif %}
                                                        {% if dre.actions == "non" and dre.lier == "add_chantier"%}Ce compte ne peut pas ajouter un chantier{% endif %}

                                                        {% if dre.actions == "oui" and dre.lier == "upd_chantier" %}Ce compte peut modifier un chantier{% endif %}
                                                        {% if dre.actions == "non" and dre.lier == "upd_chantier"%}Ce compte ne peut pas modifier un chantier{% endif %}

                                                        {% if dre.actions == "oui" and dre.lier == "del_chantier" %}Ce compte peut supprimer un chantier{% endif %}
                                                        {% if dre.actions == "non" and dre.lier == "del_chantier"%}Ce compte ne peut pas supprimer un chantier{% endif %}


                                                        {% if dre.actions == "oui" and dre.lier == "voir_page_chantier" %}Ce compte peut consulter les chantiers {% endif %}
                                                        {% if dre.actions == "non" and dre.lier == "voir_page_chantier"%}Ce compte ne peut pas consulter les chantiers {% endif %}

                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tr>
                                        <tr>
                                        <td  colspan="3" class="col-pink bolo700 bg-light">GESTION DES DEVIS</td>
                                        {% for dre in droits %}
                                            {% if dre.ggroup == "devis" %}
                                                <tr>
                                                    <td style="padding-left: 20px !important;">
                                                        <label class="col-black">&raquo; {{ dre.afaire|capitalize }}</label>
                                                    </td>
                                                    <td class="col-blue-grey text-center">
                                                        <select id={{ dre.lier }} name={{ dre.lier }} class="col-blue">
                                                            <option value="oui"
                                                                    {% if dre.actions == "oui" %}selected="selected"{% endif %}>
                                                                Oui
                                                            </option>
                                                            <option value="non"
                                                                    {% if dre.actions == "non" %}selected="selected"{% endif %}>
                                                                Non
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td class="col-blue-grey">
                                                        {% if dre.actions == "oui" and dre.lier == "add_devis" %}Ce compte peut créer un devis{% endif %}
                                                        {% if dre.actions == "non" and dre.lier == "add_devis"%}Ce compte ne peut pas créer un devis{% endif %}

                                                        {% if dre.actions == "oui" and dre.lier == "upd_devis" %}Ce compte peut modifier un devis{% endif %}
                                                        {% if dre.actions == "non" and dre.lier == "upd_devis"%}Ce compte ne peut pas modifier un devis{% endif %}

                                                        {% if dre.actions == "oui" and dre.lier == "del_devis" %}Ce compte peut supprimer un devis{% endif %}
                                                        {% if dre.actions == "non" and dre.lier == "del_devis"%}Ce compte ne peut pas supprimer un devis{% endif %}

                                                        {% if dre.actions == "oui" and dre.lier == "voir_devis" %}Ce compte peut consulter un devis{% endif %}
                                                        {% if dre.actions == "non" and dre.lier == "voir_devis"%}Ce compte ne peut pas consulter un devis{% endif %}

                                                        {% if dre.actions == "oui" and dre.lier == "valide_devis" %}Ce compte peut valider un devis{% endif %}
                                                        {% if dre.actions == "non" and dre.lier == "valide_devis"%}Ce compte ne peut pas valider un devis{% endif %}

                                                        {% if dre.actions == "oui" and dre.lier == "devalide_devis" %}Ce compte peut dévalider un devis{% endif %}
                                                        {% if dre.actions == "non" and dre.lier == "devalide_devis"%}Ce compte ne peut pas dévalider un devis{% endif %}

                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tr>
                                        <tr>
                                            <td  colspan="3" class="col-pink bolo700 bg-light">GESTION DES BESOINS</td>
                                            {% for dre in droits %}
                                            {% if dre.ggroup == "besoin" %}
                                        <tr>
                                            <td style="padding-left: 20px !important;">
                                                <label class="col-black">&raquo; {{ dre.afaire|capitalize }}</label>
                                            </td>
                                            <td class="col-blue-grey text-center">
                                                <select id={{ dre.lier }} name={{ dre.lier }} class="col-blue">
                                                    <option value="oui"
                                                            {% if dre.actions == "oui" %}selected="selected"{% endif %}>
                                                        Oui
                                                    </option>
                                                    <option value="non"
                                                            {% if dre.actions == "non" %}selected="selected"{% endif %}>
                                                        Non
                                                    </option>
                                                </select>
                                            </td>
                                            <td class="col-blue-grey">
                                                {% if dre.actions == "oui" and dre.lier == "add_besoin" %}Ce compte peut ajouter des besoins{% endif %}
                                                {% if dre.actions == "non" and dre.lier == "add_besoin"%}Ce compte ne peut ajouter des besoins{% endif %}

                                                {% if dre.actions == "oui" and dre.lier == "upd_besoin" %}Ce compte peut modifier des besoins{% endif %}
                                                {% if dre.actions == "non" and dre.lier == "upd_besoin"%}Ce compte ne peut pas modifier des besoins{% endif %}

                                                {% if dre.actions == "oui" and dre.lier == "del_besoin" %}Ce compte peut supprimer des besoins{% endif %}
                                                {% if dre.actions == "non" and dre.lier == "del_besoin"%}Ce compte ne peut pas supprimer des besoins{% endif %}

                                                {% if dre.actions == "oui" and dre.lier == "cloturer_besoin" %}Ce compte peut clotûrer des besoins{% endif %}
                                                {% if dre.actions == "non" and dre.lier == "cloturer_besoin"%}Ce compte ne peut pas clotûrer des besoins{% endif %}

                                                {% if dre.actions == "oui" and dre.lier == "commenter_besoin" %}Ce compte peut commenter des besoins{% endif %}
                                                {% if dre.actions == "non" and dre.lier == "commenter_besoin"%}Ce compte ne peut pas commenter des besoins{% endif %}
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tr>
                                    </table>
                                </form>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <div class="card shadow mb-4 bg-white" style=" padding:10px">
                        <h5 class="col-black bolo700">MODIFIER MON MOT DE PASSE</h5>
                        <hr class="bg-pri" style="width: 100%; margin-top: -5px;">
                        <h5 id="messar" class="col-pink text-center bolo600"></h5>
                        <form id="updPassForm">
                            <input type="hidden" name="token" value="{{ csrf_token('updPassToken') }}"/>

                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label pri m-b--30 bolo600">ANCIEN MOT DE PASSE</label>
                                    <div class="form-group">
                                        <div class="form-line col-pink">
                                            <input type="password" name="ancien" required="required"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 pri bolo600">NOUVEAU MOT DE PASSE</label>
                                    <div class="form-group">
                                        <div class="form-line col-pink">
                                            <input type="password" id="nouveau" name="nouveau"
                                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required="required"
                                                   minlength="8" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 pri bolo600">CONFIRMER NOUVEAU MOT DE PASSE</label>
                                    <div class="form-group">
                                        <div class="form-line col-pink">
                                            <input type="password" id="confirmer" name="confirmer"
                                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required="required"
                                                   minlength="8" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <input type="submit" id="updPasse" value="MODIFIER"
                                       class="btn btn-link waves-effect text-white bg-green">
                                <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                     class="align-justify" id="loadUpdPasse">
                            </div>

                        </form>
                    </div>
                    {% if app.user.compte == null %}
                        <div class="card shadow mb-4 bg-white" style=" padding:10px">
                            <h5 class="col-black bolo700">SOUS-COMPTES</h5>
                            <table class="table-bordered"
                                   style="padding: 0; width: 100%">
                                <tbody>
                                {% for compte in comptes %}
                                    {% if compte.corbeille is null %}
                                        <tr>
                                            <td class="col-black bolo600"><a
                                                        href="{{ path('droitcompte', {'idcompte':compte.id}) }}">{{ compte.nom|upper }}
                                                    &nbsp;{{ compte.prenoms|upper }}</a></td>
                                            <td class="text-center"><a
                                                        href="{{ path('editsouscompte', {'id': compte.id}) }}"><i
                                                            class="fa fa fa-edit text-success"></i></a></td>
                                            <td class="text-center"><a href="#" onclick="delcompte({{ compte.id }});"><i
                                                            class="fa fa-trash col-pink"></i></a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                <tr>
                                    <td colspan="3" class="text-center">
                                        <input type="submit" id="addSousCpte" value="AJOUTER"
                                               class="btn btn-link waves-effect text-white bg-blue">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
