{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <style>
        table td {
            max-width: 150px !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
            overflow: hidden;
            padding: 2px !important;
        }
    </style>
    <section class="content" style="margin-top: 80px !important;">
        <div class="container-fluid">
            <div class="row clearfix" style="margin-bottom: 20px">
                <div class="col-sm-12 text-center">
                    {% for me in met %}
                        {% if me.id == 9 %}
                            <br>
                        {% endif %}
                        <a href="{{ path('partage', {'idpays': 1, 'metier': me.id}) }}" class="btn bg-blue
                         text-center waves-effect">{{ me.nom }}</a>
                    {% endfor %}
                    <br>
                </div>
            </div>
            <div class="row clearfix" style="margin-top: 30px">
                <div class="col-sm-8">
                    <div class="card shadow ">
                        <div class="card-body" style="padding: 20px">
                    <div class="table-responsive" style="padding-bottom: 30px !important;">
                        <h4 class="col-pink bolo700">{{ metier.nom|upper }}</h4>
                        <table class="table-striped table-bordered display nowrap" style="width: 100%"
                               id="dataPARTAGER">
                            <thead>
                            <tr style="color: dimgray !important;">
                                <th style="width: 10px !important;"></th>
                                <th class="text-left col-blue" style="font-size:16px">ARTICLES</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for partage in partage %}
                                {% set p = 0 %}
                                {% if partage.metier.id == metier.id %}
                                    <tr>
                                        <td class="text-center"><input type="checkbox" data-toggle="toggle"
                                                                       class="PARTA"
                                                                       value="{{ partage.id }}"></td>
                                        <td class="pri">
                                            <img src="{{ asset('articles/') }}{{ partage.article.link1 }}"
                                                 style="float: left; width: 100px; height: 100px;margin-right: 10px">
                                            <a href="#" data-toggle="modal"
                                               data-target="#article{{ partage.article.id }}"
                                               title="{{ partage.article.designation|upper }}"
                                               style="font-size: 12px; font-weight: bold">
                                                {{ partage.article.designation|upper }}</a>
                                            <br>
                                            <span class="col-pink" style="font-size: 15px; font-weight: bold">
                                                {{ partage.article.pu|number_format(2, ',', ' ') }} {{ partage.article.monnaies.code }}/{{ partage.article.unite }}
                                                </span><br>
                                            Par: {{ partage.user.societe|upper }} <br>
                                            <span class="col-grey">Ajouté le: {{ partage.date|date('d/m/y H:m') }}</span><br>
                                            {% if app.user %}
                                                {% for article in articles %}
                                                    {% if article.article and article.article.id == partage.article.id %}
                                                        <a href="#" class="btn btn-sm bg-pink"
                                                           style="font-size: 12px"> <i
                                                                    class="fa fa-check text-white"
                                                                    aria-hidden="true"
                                                                    title="Article présent"></i> ARTICLE DÉJÀ
                                                            DANS
                                                            VOTRE LISTE</a>
                                                        {% set p = 1 %}
                                                    {% endif %}
                                                {% endfor %}

                                                {% if p == 0 %}
                                                    {% if app.user == partage.user %}
                                                        <a href="#" class="btn btn-sm bg-pink"
                                                           style="font-size: 11px"> <i
                                                                    class="fa fa-check text-white"
                                                                    aria-hidden="true"
                                                                    title="Article présent"></i> ARTICLE DÉJÀ
                                                            DANS
                                                            VOTRE STOCK</a>
                                                    {% else %}
                                                        <a href="#" onclick="addparticle({{ partage.article.id }});"
                                                           class="btn btn-sm bg-blue"
                                                           style="font-size: 11px" id="particle">AJOUTER
                                                            CET
                                                            ARTICLE</a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>


                        {% for partage in partage %}
                            {% if partage.metier.id == metier.id %}
                                <!-- Modal -->
                                <div class="modal fade" id="article{{ partage.article.id }}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"
                                                    id="exampleModalLongTitle">Description de l'article</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <img src="{% if partage.article.info1 == 'oui' %}{{ asset('articles/') }}{{ partage.article.link1 }}{% endif %}"
                                                     style="width:100%;border: 1px solid #000">
                                                <div class="card shadow mb-4" style="height:auto; padding: 15px">
                                                    <h4>{{ partage.article.designation }}</h4>
                                                    <h5 class="text-danger">{{ partage.article.pu|number_format(2, ',', ' ') }} {{ partage.article.monnaies.code }}</h5>
                                                    <table class="table-striped border" style="font-size: 1rem">
                                                        {% if partage.article.code != null %}
                                                            <tr>
                                                                <td>Code Article</td>
                                                                <td class="text-pri">{{ partage.article.code }}</td>
                                                            </tr>
                                                        {% endif %}
                                                        {% if partage.article.marque != null %}
                                                            <tr>
                                                                <td>Marque</td>
                                                                <td class="text-pri">{{ partage.article.marque }}</td>
                                                            </tr>
                                                        {% endif %}
                                                        {% if partage.article.reference != null %}
                                                            <tr>
                                                                <td>Référence</td>
                                                                <td class="text-pri">{{ partage.article.reference }}</td>
                                                            </tr>
                                                        {% endif %}
                                                        {% if partage.article.unite != null %}
                                                            <tr>
                                                                <td>Vendu en</td>
                                                                <td class="text-pri">{{ partage.article.unite }}</td>
                                                            </tr>
                                                        {% endif %}
                                                        {% if partage.article.description != null %}
                                                            <tr>
                                                                <td>Description</td>
                                                                <td class="text-pri">{{ partage.article.description }}</td>
                                                            </tr>
                                                        {% endif %}

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card shadow ">
                        <div class="card-body" style="padding: 20px">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

