{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
    <style>
        .pp20{
            padding-right: 20px !important;
        }
    </style>

    <input type="text" class="hide" id="pager" value="personnel"/>
    <input type="text" class="hide" id="idservice" value="{{ service.id }}">
    <input type="text" class="hide" id="idperson" value="{{ person.id }}">


    <div class="modal fade right" id="modalPersonnel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                {% if editPer %}
                    <div class="modal-header bg-green col-white p-l-20">
                        <h4 class="modal-title" id="defaultModalLabel">MODIFIER UNE PERSONNE</h4>
                    </div>
                {% else %}
                    <div class="modal-header bg-pri col-white p-l-20">
                        <h4 class="modal-title" id="defaultModalLabel">AJOUTER UNE PERSONNE</h4>
                    </div>
                {% endif %}
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(formPersonnel, {'attr': {'id':'addPersonnelForm' }}) }}
                        {{ form_row(formPersonnel._token) }}
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">NOM & PRÉNOMS<span class="col-red">*</span>
                                </label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {% if editPer %}
                                            {{ form_widget(formPersonnel.noms,{'attr':{'class':'form-control col-pink ' }}) }}
                                        {% else %}
                                            {{ form_widget(formPersonnel.noms,{'attr':{'class':'form-control' }}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">SERVICE</label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {% if editPer %}
                                            {{ form_widget(formPersonnel.service,{'attr':{'class':'form-control col-pink ' }}) }}
                                        {% else %}
                                            {{ form_widget(formPersonnel.service,{'attr':{'class':'form-control' }}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">FONCTION</label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {% if editPer %}
                                            {{ form_widget(formPersonnel.fonction,{'attr':{'class':'form-control col-pink ' }}) }}
                                        {% else %}
                                            {{ form_widget(formPersonnel.fonction,{'attr':{'class':'form-control' }}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">SALAIRE</label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {% if editPer %}
                                            {{ form_widget(formPersonnel.salaire,{'attr':{'class':'form-control col-pink ' }}) }}
                                        {% else %}
                                            {{ form_widget(formPersonnel.salaire,{'attr':{'class':'form-control' }}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">TYPE DE CONTRAT</label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {% if editPer %}
                                            {{ form_widget(formPersonnel.contrat,{'attr':{'class':'form-control col-pink ' }}) }}
                                        {% else %}
                                            {{ form_widget(formPersonnel.contrat,{'attr':{'class':'form-control' }}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">EMAIL</label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {% if editPer %}
                                            {{ form_widget(formPersonnel.mail,{'attr':{'class':'form-control col-pink ' }}) }}
                                        {% else %}
                                            {{ form_widget(formPersonnel.mail,{'attr':{'class':'form-control' }}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">CONTACTS</label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {% if editPer %}
                                            {{ form_widget(formPersonnel.contact,{'attr':{'class':'form-control col-pink ' }}) }}
                                        {% else %}
                                            {{ form_widget(formPersonnel.contact,{'attr':{'class':'form-control' }}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            {% if editPer %}
                                <input type="text" class="hide" id="idperson" value="{{ person.id }}"/>
                                <input type="submit" id="updatePers" value="MODIFIER"
                                       class="btn btn-link waves-effect col-white bg-green">
                            {% else %}
                                <input type="submit" id="addPers" value="ENREGISTRER"
                                       class="btn btn-link waves-effect col-white bg-blue">
                            {% endif %}

                            <a href="{{ path('personnel') }}" type="button" id="closePers" class="btn btn-link waves-effect col-white bg-pink">
                                FERMER
                            </a>
                            <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                 class="align-justify" id="loadPers"></div>
                        <br>
                        <br>
                        <br>
                        {{ form_end(formPersonnel) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="modalService" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                {% if editSer %}
                    <div class="modal-header bg-green col-white p-l-20">
                        <h4 class="modal-title" id="defaultModalLabel">MODIFIER UN SERVICE</h4>
                    </div>
                {% else %}
                    <div class="modal-header bg-pri col-white p-l-20">
                        <h4 class="modal-title" id="defaultModalLabel">AJOUTER UN SERVICE</h4>
                    </div>
                {% endif %}
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(formService, {'attr': {'id':'addServiceForm' }}) }}
                        {{ form_row(formService._token) }}
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">RANG<span class="col-red">*</span>
                                </label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {% if editSer %}
                                            {{ form_widget(formService.rang,{'attr':{'class':'form-control col-pink ' }}) }}
                                        {% else %}
                                            {{ form_widget(formService.rang,{'attr':{'class':'form-control' }}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label m-b--30 pri bolo">SERVICE</label>
                                <div class="form-group">
                                    <div class="form-line col-pink">
                                        {% if editSer %}
                                            {{ form_widget(formService.service,{'attr':{'class':'form-control col-pink ' }}) }}
                                        {% else %}
                                            {{ form_widget(formService.service,{'attr':{'class':'form-control' }}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            {% if editSer %}
                                <input type="text" class="hide" id="idservice" value="{{ service.id }}"/>
                                <input type="submit" id="updateSer" value="MODIFIER"
                                       class="btn btn-link waves-effect col-white bg-green">
                            {% else %}
                                <input type="submit" id="addSer" value="ENREGISTRER"
                                       class="btn btn-link waves-effect col-white bg-blue">
                            {% endif %}

                            <div type="button" id="closeSer" class="btn btn-link waves-effect col-white bg-pink"
                                 data-dismiss="modal">
                                FERMER
                            </div>
                            <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                 class="align-justify" id="loadSer"></div>
                        <br>
                        <br>
                        <br>
                        {{ form_end(formService) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="modalImager" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-blue p-l-20">
                    <h3 class="modal-title" id="defaultModalLabel">AJOUTER UNE IMAGE</h3>
                </div>
                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        <form enctype="multipart/form-data" id="addImagerForm">
                            <input type="hidden" name="token" value="{{ csrf_token('addImagerToken') }}"/>

                            <div class="row clearfix m-b-10">
                                <div class="col-sm-12">
                                    <label class="form-label m-b--30 pri bolo">IMPORTER UNE IMAGE</label>
                                    <div class="form-group">
                                        <div class="form-line col-pink">
                                            <input type="file" id="nomfichie" name="image" required="required"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <input type="submit" id="addImagePer" value="ENREGISTRER"
                                       class="btn btn-link waves-effect text-white bg-pri">
                                <div type="button" id="closeImagePer"
                                     class="btn btn-link waves-effect text-white bg-pink" data-dismiss="modal">
                                    FERMER
                                </div>
                                <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                     class="align-justify" id="loadImagePer">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade right" id="modalEquipe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-green p-l-20 hide" id="tlfa">
                    <h3 class="modal-title" id="defaultModalLabel">MODIFIER UNE EQUIPE</h3>
                </div>

                <div class="modal-header text-white bg-pri p-l-20" id="tlfb">
                    <h3 class="modal-title" id="defaultModalLabel">AJOUTER UNE EQUIPE</h3>
                </div>

                <div class="modal-body m-t-10 bien">
                    <div class="body">
                        {{ form_start(formEquipe, {'attr': {'id':'addEquipeForm'}}) }}
                        <input type="hidden" name="token" value="{{ csrf_token('addEquipeToken') }}"/>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label col-blue bolo">Équipe<span class="col-red">*</span>
                                </label>
                                <div class="form-group m-t--5">
                                    <div class="form-line">
                                        {{ form_widget(formEquipe.designation,{'id':'edesign','attr':{'class':'form-control equi'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label col-blue bolo">Chef d'équipe</label>
                                <div class="form-group m-t--5">
                                    <select class="js-example-basic-single" name="chef"
                                            id="chef"
                                            style="width: 100%">
                                        <option>Aucun</option>
                                        {% for personnel in personnels %}
                                            <option value="{{ personnel.id }}">{{ personnel.noms|upper }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10">
                            <div class="col-sm-12">
                                <label class="form-label col-blue bolo">Membre</label>
                                <div class="form-group m-t--5">
                                    <select class="js-example-basic-multiple" name="membre[]" multiple="multiple"
                                            id="membre"
                                            style="width: 100%">
                                        {% for personnel in personnels %}
                                            <option value="{{ personnel.id }}">{{ personnel.noms|upper }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="text-center m-t-10">
                            <div class="hide" id="divupdEquipe">
                                <input type="submit" id="updEquipe" value="MODIFIER"
                                       class="btn btn-link waves-effect text-white bg-green">
                                <a href="" id="closeEquipe"
                                   class="btn btn-link waves-effect text-white bg-pink">
                                    ANNULER
                                </a>
                            </div>
                            <div id="divaddequipe">
                                <input type="submit" id="addEquipe" value="ENREGISTRER"
                                       class="btn btn-link waves-effect text-white bg-pri">
                                <div type="button" id="closeEquipe" class="btn btn-link waves-effect text-white bg-pink"
                                     data-dismiss="modal">
                                    FERMER
                                </div>
                            </div>
                            <img src="{{ asset('img/loading.gif') }}" style="width: 50px; display:none;"
                                 class="align-justify" id="loadEquipe">
                        </div>
                        <br><br><br><br>
                        {{ form_end(formEquipe) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="content" style="margin-top: 80px !important;">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix m-t-20 p-b-5">
                    <div class="col-xs-12 col-sm-12 ">
                        <h3 class="col-pink bolo700 text-center">GESTION DU PERSONNEL</h3>

                        {% if droitAdmin.actions == "oui" or droitComptable.actions == "oui" %}
                        <div class="button-demo text-center" style="margin:15px">
                            <button type="button" data-color="blue"
                                    class="btn bg-blue col-white text-center waves-effect"
                                    data-toggle="modal" data-target="#modalService">AJOUTER UN
                                SERVICE
                            </button>
                            <button type="button" data-color="blue"
                                    class="btn bg-blue col-white text-center waves-effect"
                                    data-toggle="modal" data-target="#modalPersonnel">AJOUTER UNE
                                PERSONNE
                            </button>
                            <button type="button" data-color="blue"
                                    class="btn bg-blue col-white text-center waves-effect"
                                    data-toggle="modal" data-target="#modalEquipe">AJOUTER UNE EQUIPE
                            </button>
                        </div>
                        {% endif %}

                        <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                            {% if droitAdmin.actions == "oui" or droitComptable.actions == "oui" %}
                            <div class="panel panel-pri shadow m-t-5">
                                <div class="panel-heading" role="tab" id="headingPers">
                                    <h4 class="panel-title">
                                        <a class="collapsed  outai col-white" role="button" data-toggle="collapse"
                                           data-parent="#accordionPers" href="#collapsePers" aria-expanded="false"
                                           aria-controls="collapsePers">
                                            <i class="material-icons col-white"
                                               style="font-size: 18px;float: left">keyboard_arrow_down</i>Personnel & Services
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapsePers" class="panel-collapse  collapse" role="tabpanel"
                                     aria-labelledby="headingPers">
                                    <div class="panel-body"
                                         style="overflow: scroll;background-color: #dbdfef; padding: 2px !important">
                                        <div class="table-responsive shadow">
                                            <div class="table-responsive shadow bg-white"
                                                 style="padding: 10px 10px 50px 10px; color:#555; overflow: scroll">
                                                <h4 class="bolo700 col-blue">SERVICES</h4>
                                                <table class="table-striped table-bordered display nowrap"
                                                       id="dataSERVICE" style="width: 100%;">
                                                    <thead>
                                                    <tr class="text-center">
                                                        <th class="text-center"></th>
                                                        <th class="text-center">RANG</th>
                                                        <th>SERVICES</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for service in services %}
                                                        <tr>
                                                            <td class="text-center"><input type="checkbox" data-toggle="toggle" class="SER" value="{{ service.id }}"></td>
                                                            <td class="text-center">{{ service.rang }}</td>
                                                            <td class="text-left bolo700" style="width: 80%">{{ service.service|upper }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                <h4 class="bolo700 col-blue" style="margin-top: 50px">Le Personnel</h4>
                                                <table class="table-striped table-bordered display nowrap"
                                                       style="width: 100%;" id="dataPERSONNEL">
                                                    <thead>
                                                    <tr class="text-center">
                                                        <th class="mw30"></th>
                                                        <th>NOM & PRÉNOMS</th>
                                                        <th>PROFESSION</th>
                                                        <th>SERVICE</th>
                                                        <th>CONTACTS</th>
                                                        <th>EMAIL</th>
                                                        {% if app.user.compte == null %}
                                                        <th>SALAIRE</th>
                                                        {% endif %}
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for person in personnels %}
                                                        {% if person.corbeille is null and person.type == "personnelle" %}
                                                            <tr>
                                                                <td class="text-center">
                                                                    <input type="checkbox" data-toggle="toggle"
                                                                           class="PERSON"
                                                                           value="{{ person.id }}"></td>

                                                                <td class="text-left col-blue">{{ person.noms|upper }}</td>
                                                                <td class="text-left">{{ person.fonction|upper }}</td>
                                                                <td class="text-left"> {% if person.service is not null %}{{ person.service.service|upper }}  {% endif %}</td>
                                                                <td>{{ person.contact }}</td>
                                                                <td>{{ person.mail }}</td>
                                                        {% if app.user.compte == null %}
                                                                <td class="text-right">{{ person.salaire|number_format(2,',',' ') }}</td>
                                                        {% endif %}
                                                            </tr>
                                                        {% endif %}

                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="panel panel-pri shadow m-t-5">
                                <div class="panel-heading" role="tab" id="headingPersPho">
                                    <h4 class="panel-title">
                                        <a class="collapsed  outai col-white" role="button" data-toggle="collapse"
                                           data-parent="#accordionPersPho" href="#collapsePersPho" aria-expanded="false"
                                           aria-controls="collapsePersPho">
                                            <i class="material-icons col-white"
                                               style="font-size: 18px;float: left">keyboard_arrow_down</i>Le Personnel
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapsePersPho" class="panel-collapse  collapse" role="tabpanel"
                                     aria-labelledby="headingPersPho">
                                    <div class="panel-body"
                                         style="overflow: scroll;background-color: #dbdfef; padding: 2px !important">
                                        <div class="table-responsive shadow">
                                            <div class="table-responsive shadow bg-white"
                                                 style="padding: 10px 10px 50px 10px; color:#555; overflow: scroll">
                                                {% for service in services %}
                                                    <h4 class="bolo700"><u>{{ service.rang }} - {{ service.service|upper }}</u></h4>
                                                    <div class="row">
                                                        {% for personne in service.personnel %}
                                                            {% if personne.corbeille is null and personne.type == "personnelle" %}
                                                            <div class="col-md-2 mb-4">
                                                                <div class="text-center">
                                                                    {% if personne.photo is null %}
                                                                        <a href="#"  {% if droitAdmin.actions == "oui" %}class="addPersa" id="{{ personne.id }}"   {% endif %}>
                                                                            <img src="/images/personnel/user.png" class="img-circle" style="width: 100%">
                                                                        </a>
                                                                    {% else%}
                                                                        <a href="#" class="addPersa" id="{{ personne.id }}">
                                                                            <img src="/images/personnel/{{ personne.photo }}" class="img-circle" style="width: 100%">
                                                                        </a>
                                                                    {% endif %}
                                                                    <h5 class="mt-4 font-weight-medium mb-0 bolo600">{{ personne.noms|upper }}</h5>
                                                                    <h6 class="subtitle mb-3" style="margin-top: -10px">{{ personne.fonction|capitalize }}</h6>
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-pri shadow m-t-5">
                                <div class="panel-heading" role="tab" id="headingEquipes">
                                    <h4 class="panel-title">
                                        <a class="collapsed  outai col-white" role="button" data-toggle="collapse"
                                           data-parent="#accordionEquipes" href="#collapseEquipes" aria-expanded="false"
                                           aria-controls="collapseEquipes">
                                            <i class="material-icons col-white"
                                               style="font-size: 18px;float: left">keyboard_arrow_down</i>Gestion des équipes
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseEquipes" class="panel-collapse  collapse" role="tabpanel"
                                     aria-labelledby="headingEquipes">
                                    <div class="panel-body"
                                         style="overflow: scroll;background-color: #dbdfef; padding: 2px !important">
                                        <div class="table-responsive shadow">
                                            <div class="table-responsive shadow bg-white"
                                                 style="padding: 10px 10px 50px 10px; color:#555; overflow: scroll">

                                                <div class="row">
                                                    {% for equipe in equipes %}
                                                        <div class="col-lg-4 col-md-4">
                                                            <div style="width: 100%; height: 300px; border-left: 3px solid #4e73df; border-right: 3px solid #4e73df; border-radius: 20px; background-color: #fffdfd; padding: 20px">
                                                                <h5>{{ equipe.designation|upper }}</h5>
                                                                <span class='badge badge-pill bg-blue col-white' style='font-size: 11px'>Satut: Libre</span>
                                                            </div>
                                                        </div>
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}