{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <script>
        function printFrame() {
            var frm = document.getElementById('frame').contentWindow;
            frm.focus();// focus on contentWindow is needed on some ie versions
            frm.print();
            return false;
        }
    </script>
    <style>
        .btn {
            text-align: left !important;
        }
        .floater {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 40px;
            background-color: #FF5722;
            color: #FFF;
            font-weight: 600;
            border-radius: 50px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;
            z-index: 1000;
            animation: bot-to-top 2s ease-out;
        }

    </style>
    <input type="text" class="hide" id="idligne" value="{{ idligne }}">
    <button type="button"
            class="btn bg-pink btn-circle-lg waves-effect waves-circle waves-float floater fonter text-white"
            data-toggle="modal" data-target="#sideModalTR">
        FAIRE
    </button>



<section class="content" style="margin-top: 80px !important;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="mb-2 m-t--25 "
                     style="padding:20px; background-color: #d1d3e2 !important;">
                    <div class="ont tohidbut">
                        <div class="row clearfix " style=" padding: 0.1cm;">
                            <div class="col-sm-12 text-center">
                                <h3 class="font-bold col-pink">{{ chantier.chantier }}</h3>
                                <h3 class="font-bold m-t--10 pri">PRÉVISION N°: {{ prevision.numprevision }}</h3>
                                <a href="{{ path('chantier', {'id': bon.chantier.id}) }}" class="btn bg-green  align-left m-b-10 text-white waves-effect ">
                                    ACCÉDER AU PROJET</a>
                                <button type="button"  class="btn bg-blue  align-left m-b-10 text-white waves-effect"
                                        data-toggle="modal" data-target="#mdModalBon">CRÉER UN NOUVEAU BON
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
