{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-3">
                <div id="accordion">
                    {# CRÉER  OU MODIFIER UN CLIENT #}
                    <div class="card shadow mb-4" id="client">
                        <div id="headingDe">
                            {% if editClient %}
                                <h5 class="mb-0">
                                    <a class="btn text-left text-white bg-danger bolderrer" data-toggle="collapse"
                                       data-target="#collapseDe"
                                       aria-expanded="false" aria-controls="collapseDe" style="width: 100%;">
                                        1- MODIFIER UN CLIENT
                                    </a>
                                </h5>
                            {% else %}
                                <h5 class="mb-0">
                                    <a class="btn text-left text-white bg-pri bolderrer" data-toggle="collapse"
                                       data-target="#collapseDe"
                                       aria-expanded="false" aria-controls="collapseDe" style="width: 100%;">
                                        1- AJOUTER UN CLIENT
                                    </a>
                                </h5>
                            {% endif %}
                        </div>
                        <div id="collapseDe" class="collapse {% if editClient %}show{% endif %} bg-light"
                             aria-labelledby="headingDe"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div class="table-responsive">
                                    {{ form_start(formClient, {'attr': {'novalidate': 'novalidate'}}) }}
                                    {{ form_row(formClient._token) }}
                                    <table style="width: 100%">
                                        <tbody>
                                        <tr>
                                            <td class="text-pri bolderr" colspan="2">
                                                &raquo; Client <span class="text-dangerr">*</span><br>
                                                {% if editClient %}
                                                    {{ form_widget(formClient.client,{'attr':{'class':'form-control form-control-user text-danger'}}) }}
                                                {% else %}
                                                    {{ form_widget(formClient.client,{'attr':{'class':'form-control form-control-user'}}) }}
                                                {% endif %}
                                                {{ form_errors(formClient.client) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-pri bolderr">
                                                &raquo; Code client<br>
                                                {{ form_widget(formClient.code,{'attr':{'class':'form-control form-control-user'}}) }}
                                                {{ form_errors(formClient.code) }}
                                            </td>
                                            <td class="text-pri bolderr">
                                                &raquo; Adresse<br>
                                                {{ form_widget(formClient.adresse,{'attr':{'class':'form-control form-control-user'}}) }}
                                                {{ form_errors(formClient.adresse) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-pri bolderr">
                                                &raquo; Contact<br>
                                                {{ form_widget(formClient.contact,{'attr':{'class':'form-control form-control-user'}}) }}
                                                {{ form_errors(formClient.contact) }}
                                            </td>
                                            <td class="text-pri bolderr">
                                                &raquo; Compte contribuable<br>
                                                {{ form_widget(formClient.compte,{'attr':{'class':'form-control form-control-user'}}) }}
                                                {{ form_errors(formClient.compte) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left;padding-top: 10px">{{ form_widget(formClient.saveclient,{ 'label': 'Enregistrer' }) }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    {{ form_end(formClient) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {# FIN #}



                    {# CRÉER OU MODIFER UN PROJET #}
                    <div class="card shadow mb-4" id="chantier">
                        <div id="headingPl">
                            {% if editP %}
                                <h5 class="mb-0">
                                    <a class="btn text-left bg-danger text-white bolderrer" data-toggle="collapse"
                                       data-target="#collapsePl"
                                       aria-expanded="false" aria-controls="collapsePl" style="width: 100%;">
                                        2- MODIFIER UN PROJET
                                    </a>
                                </h5>
                            {% else %}
                                <h5 class="mb-0">
                                    <a class="btn text-left bg-pri text-white bolderrer" data-toggle="collapse"
                                       data-target="#collapsePl"
                                       aria-expanded="false" aria-controls="collapsePl" style="width: 100%;">
                                        2- CRÉER UN PROJET
                                    </a>
                                </h5>
                            {% endif %}
                        </div>
                        <div id="collapsePl" class="collapse {% if editP %}show{% endif %} bg-light"
                             aria-labelledby="headingPl"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div class="table-responsive">
                                    {{ form_start(formChantier, {'attr': {'novalidate': 'novalidate'}}) }}
                                    {{ form_row(formChantier._token) }}
                                    <table style="width: 100%;text-align: left">
                                        <tbody>
                                        <tr>
                                            <td class="text-pri bolderr" colspan="2">
                                                &raquo; Client <span class="text-dangerr">*</span><br>
                                                {% if editP %}
                                                    {{ form_widget(formChantier.client,{'attr':{'class':'form-control form-control-user text-danger'}}) }}
                                                {% else %}
                                                    {{ form_widget(formChantier.client,{'attr':{'class':'form-control form-control-user'}}) }}
                                                {% endif %}

                                                {{ form_errors(formChantier.chantier) }}</td>
                                        </tr>
                                        <tr>

                                            <td class="text-pri bolderr" colspan="2">
                                                &raquo; Nom du chantier <span class="text-dangerr">*</span><br>
                                                {% if editP %}
                                                    {{ form_widget(formChantier.chantier,{'attr':{'class':'form-control form-control-user text-danger'}}) }}
                                                {% else %}
                                                    {{ form_widget(formChantier.chantier,{'attr':{'class':'form-control form-control-user'}}) }}
                                                {% endif %}

                                                {{ form_errors(formChantier.chantier) }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-pri bolderr" colspan="2">
                                                &raquo; Description<br>
                                                {% if editP %}
                                                    {{ form_widget(formChantier.description,{'attr':{'class':'form-control form-control-user text-danger'}}) }}
                                                {% else %}
                                                    {{ form_widget(formChantier.description,{'attr':{'class':'form-control form-control-user'}}) }}
                                                {% endif %}

                                                {{ form_errors(formChantier.description) }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-pri bolderr" colspan="2">
                                                &raquo; Phase actuelle<br>
                                                {% if editP %}
                                                    {{ form_widget(formChantier.phase,{'attr':{'class':'form-control form-control-user text-danger'}}) }}
                                                {% else %}
                                                    {{ form_widget(formChantier.phase,{'attr':{'class':'form-control form-control-user'}}) }}
                                                {% endif %}

                                                {{ form_errors(formChantier.phase) }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-pri bolderr">&raquo; Date de debut<br>
                                                {% if editP %}
                                                    {{ form_widget(formChantier.ddebut,{'attr':{'class':'form-control form-control-user text-danger'}}) }}
                                                {% else %}
                                                    {{ form_widget(formChantier.ddebut,{'attr':{'class':'form-control form-control-user'}}) }}
                                                {% endif %}

                                                {{ form_errors(formChantier.ddebut) }}</td>
                                            <td class="text-pri bolderr">
                                                &raquo; Date de fin<br>
                                                {% if editP %}
                                                    {{ form_widget(formChantier.dfin,{'attr':{'class':'form-control form-control-user text-danger'}}) }}
                                                {% else %}
                                                    {{ form_widget(formChantier.dfin,{'attr':{'class':'form-control form-control-user'}}) }}
                                                {% endif %}

                                                {{ form_errors(formChantier.dfin) }}</td>
                                        </tr>
                                        <td align="left"
                                            style="padding-top: 10px">
                                            {% if editP %}
                                                {{ form_widget(formChantier.savechantier,{
                                                    'label': 'Modifier',
                                                    'attr':{'class':'btn btn-danger'}
                                                }) }}
                                            {% else %}
                                                {{ form_widget(formChantier.savechantier,{
                                                    'label': 'Enregistrer',
                                                }) }}
                                            {% endif %}
                                        </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    {{ form_end(formChantier) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {# FIN #}
                </div>
            </div>
            <div class="col-xl-9 col-lg-9">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            {% set cout = 0 %}
                            {% set reglement = 0 %}
                            {% set depense = 0 %}
                            {% set p = 1 %}
                            {% for client in clients %}
                                {% set vp = 0 %}
                                {% set vr = 0 %}
                                {% set dp = 0 %}
                                {% set cc = 0 %}
                                {% for chantier in client.chantiers %}
                                    {% if chantier.archiver == 'oui' %}
                                    {% set vp = chantier.cout + vp %}
                                    {% set vr = chantier.reglement + vr %}
                                    {% set dp = chantier.depense + dp %}
                                        {% set cc = cc + 1 %}
                                    {% endif %}
                                {% endfor %}
                                {% set cout = vp + cout %}
                                {% set reglement = vr + reglement %}
                                {% set depense = dp + depense %}
                                <table class="d  table-bordered bg-pri text-white shadow" width="100%" style="margin-bottom: 10px">
                                    {% if p == 1 %}
                                        <tr class="bg-white bolderrer text-primary">
                                            <td colspan="2" style="width: 300px; padding-left: 5px">CLIENT / PROJETS</td>
                                            <td sty align="center" style="width: 150px">VALEUR DES PROJETS</td>
                                            <td align="center" style="width: 150px">RÈGLEMENT</td>
                                            <td align="center" style="width: 150px">SOLDE</td>
                                            <td align="center" style="width: 150px">DÉPENSES</td>
                                            <td align="center" style="width: 150px">MARGES EST.</td>
                                            <td style="width: 50px"></td>
                                        </tr>
                                    {% endif %}
                                    {% if cc > 0 %}
                                    <tr>
                                        <td colspan="2" class="text-white bg-pri" style="width: 300px;padding-left: 5px"><a
                                                    href="{{ path('client',{'id':client.id}) }}"
                                                    class="text-white" title="{{ client.client }}"> {{ p }}
                                                - {{ client.client }}</a></td>
                                        <td align="right"
                                            style="color: white;background-color: darkcyan;width:150px">{{ vp|number_format(2,'.',' ') }}</td>
                                        <td align="right"
                                            style="color: white;background-color: tan;width:150px">{{ vr|number_format(2,'.',' ') }}</td>
                                        <td align="right"
                                            style="color: white;background-color: slategrey;width:150px">{{ (vp|number_format(2,'.','') -  vr|number_format(2,'.',''))|number_format(2,'.',' ') }}</td>
                                        <td align="right"
                                            style="color: white;background-color: indianred;width:150px">{{ dp|number_format(2,'.',' ') }}</td>
                                        <td align="right"
                                            style="color: white;background-color:#4e73df;width:150px">{{ (vp|number_format(2,'.','') -  dp|number_format(2,'.',''))|number_format(2,'.',' ') }}</td>
                                        <td class="bg-white" align="center" style="width: 50px">
                                            <a href="{{ path('editclient', {'idclient': client.id}) }}">
                                                <img src="{{ asset('img/modifier.png') }}" style="width: 20px"></a>
                                            <a href="{{ path('delClient', {'id': client.id}) }}" class="sholigne">
                                                <img src="{{ asset('img/signaler.png') }}" style="width: 20px"></a>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% for chantier in client.chantiers %}
                                        {% if chantier.archiver == 'oui' %}
                                        <tr>
                                            <td style="width: 300px ;padding-left: 5px" colspan="2" class="bg-light">
                                                <a href="{{ path('chantier', {'id': chantier.id}) }}" class="text-pri"
                                                   title="{{ chantier.chantier }}">{{ chantier.chantier[0:55] }}</a></td>
                                            <td align="right"
                                                style="width: 150px"
                                                class="bg-light text-pri">{{ chantier.cout|number_format(2,'.',' ') }}</td>
                                            <td align="right"
                                                style="width: 150px"
                                                class="bg-light text-pri">{{ chantier.reglement|number_format(2,'.',' ') }}</td>
                                            <td align="right"
                                                style="width: 150px"
                                                class="bg-light text-pri">{{ (chantier.cout|number_format(2,'.','') -  chantier.reglement|number_format(2,'.',''))|number_format(2,'.',' ') }}</td>
                                            <td align="right"
                                                style="width: 150px"
                                                class="bg-light text-pri">{{ chantier.depense|number_format(2,'.',' ') }}</td>
                                            <td align="right"
                                                style="width: 150px"
                                                class="bg-light text-pri">{{ (chantier.cout|number_format(2,'.','') -  chantier.depense|number_format(2,'.',''))|number_format(2,'.',' ') }}</td>
                                            <td class="bg-white" align="center" style="width: 50px">
                                                <a href="{{ path('editechantier', {'idchantier': chantier.id}) }}">
                                                    <img src="{{ asset('img/modifier.png') }}" style="width: 20px"
                                                         title="Modifier"></a>
                                                <a href="{{ path('delchantier', {'id': chantier.id}) }}" class="sholigne">
                                                    <img src="{{ asset('img/signaler.png') }}" style="width: 20px"></a>
                                            </td>
                                        </tr>
                                        {%endif %}
                                    {% endfor %}
                                </table>
                                {% set p = p + 1 %}
                            {% endfor %}

                        </div>
                    </div>
                    <p align="center" style="margin-top: 40px">
                        <input type='button' id='btn' class="btn btn-primary" value='Imprimer'
                               onclick='printRelev();'>
                    </p>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
