{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mb-12">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-pri"
                     id="info" style="margin-bottom: 20px">
                    <h6 class="m-0  text-white">&raquo; Recherche de <span class="text-warning">{{ id }}</h6></div>
                <div class="row">
                    {% for ar in articles %}
                    {% if ar.vente == 'oui' %}
                    <div class="col-md-2">
                        <div class="shadow bg-light">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><a href="{{ path('varticle',{'id':ar.id}) }}">
                                            <img src=" {{ vich_uploader_asset(ar, 'imageFile') }}"
                                                 alt="{{ ar.designation }}" style="width: 100%;"> </a></td>
                                </tr>
                                <tr>
                                    <td valign="top" style="padding: 3px"><span
                                                style="font-size: 18px; margin-top: -20px;font-weight: 600">{{ ar.designation }}</span>
                                        <p style="margin-left: 5px; color: gray">{{ ar.marque }}<br>
                                            &raquo; Réf: {{ ar.reference }}<br>
                                            &raquo; <span
                                                    style="color: orangered; font-size: 16px; font-weight:600">{{ ar.pu|number_format(2, '.', ' ') }} {{ ar.monnaies.code }}/{{ ar.unite }}</span><br>
                                            &raquo; Vendu par: <a href="#">{{ ar.user.societe }}</a></p>
                                        {% set chek = 0 %}
                                        {% for arti in mesarticles %}
                                            {% if arti.idarticle == ar.idarticle %}

                                                <button class="btn btn-sm btn-danger" id="{{ ar.getId() }}"
                                                        onclick="aamigrate({{ ar.getId() }})" style="width: 100%">
                                                    Article présent
                                                </button>
                                                {% set chek = 1 %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if chek == 0 %}

                                            <button class="btn btn-sm btn-success" id="{{ ar.getId() }}"
                                                    onclick="aamigrate({{ ar.getId() }})" style="width: 100%">Ajouter
                                                cet article
                                            </button>
                                        {% else %}
                                            {% set chek = 1 %}
                                        {% endif %}

                                        <button class="btn btn-sm btn-secondary" style="width: 100%">Commander</button>
                                        <button class="btn btn-sm btn-primary" style="width: 100%">Description</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                        {% endif %}
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

