{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h5 style="color: red">TRAVAUX DU JOUR</h5>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div id="accordion">
                    {# DEVIS #}
                    <div class="card shadow mb-4" style="margin-bottom: 20px">
                        <div id="headingTr">
                            <h5 class="mb-0">
                                <a class="btn bg-pri text-left text-white" data-toggle="collapse"
                                   data-target="#collapseTr"
                                   aria-expanded="true" aria-controls="collapseTr" style="width: 100%;">
                                    1- DEVIS<span class="badge badge-light float-right"
                                                  style="margin-top: 5px">{{ devis.count }}</span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTr" class="collapse" aria-labelledby="headingTr"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table-striped table-bordered display nowrap"
                                           style="width: 100%"
                                           id="dataDEVIS">
                                        <thead>
                                        <tr class="text-center bolderr bg-light">
                                            <th style="width: 10px !important;"></th>
                                            <th style="width: 80px !important;">DATE</th>
                                            <th>N° DEVIS</th>
                                            <th>RÉFÉRENCE</th>
                                            <th>TOTAL HT</th>
                                            <th>TOTAL TTC</th>
                                            <th>ETAT</th>
                                            <th style="background-color: #E8E8E8 !important;" >CREÉ PAR</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set vdth = 0 %}
                                        {% set vdttc = 0 %}
                                        {% set ndth = 0 %}
                                        {% set ndttc = 0 %}

                                        {% for devis in deviss %}

                                            {% if devis.etat == 'valide' %}
                                                {% set vdth = devis.totalht + vdth %}
                                                {% set vdttc = devis.totalttc + vdttc %}
                                            {% endif %}
                                            {% if devis.etat == 'save' %}
                                                {% set ndth = devis.totalht + ndth %}
                                                {% set ndttc = devis.totalttc + ndttc %}
                                            {% endif %}
                                            {% if devis.etat == 'valide' %}
                                                <tr>

                                                    <td class="text-center">
                                                        <input type="checkbox" data-toggle="toggle"
                                                               class="DEVYS"
                                                               value="{{ devis.id }}"></td>

                                                    <td>{{ devis.date|date('Y.m.d H.i.s') }}</td>

                                                    <td>
                                                        <a href="{{ path('editdevis', {'id': devis.id, 'idchantier': devis.chantier.id}) }}"
                                                           style="color:dodgerblue"><span
                                                                    class="badge badge-pill badge-primary">V</span> {{ devis.iddevis }}
                                                        </a>
                                                    </td>

                                                    <td title="{{ devis.reference|striptags|raw }}">{{ devis.reference|striptags|raw }}</td>

                                                    <td class="text-right">{{ devis.totalht|number_format(2,',',' ') }}</td>

                                                    <td class="text-right">{{ devis.totalttc|number_format(2,',',' ') }}</td>
                                                    <td>DEVIS VALIDÉS | <span style="color:#dc3545 !important;">{{ devis.client.client}} - {{ devis.chantier.chantier }}</span></td>
                                                    <td class="text-left text-pri bolderrer" style="background-color: #E8E8E8 !important;"><i class="fa fa-user text-pri"></i>&nbsp;{{ devis.dobyuser.nom|upper }}&nbsp;{{ devis.dobyuser.prenoms|upper }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                                    <hr style="width: 100%; height: 2px; background-color: darkgrey">
                                    <br>
                                    <table class="table-striped table-bordered display nowrap"
                                           style="width: 100%"
                                           id="dataDEVIS2">
                                        <thead>
                                        <tr class="text-center bolderr bg-light">
                                            <th style="width: 10px !important;"></th>
                                            <th style="width: 80px !important;">DATE</th>
                                            <th>N° DEVIS</th>
                                            <th>RÉFÉRENCE</th>
                                            <th>TOTAL HT</th>
                                            <th>TOTAL TTC</th>
                                            <th>ETAT</th>
                                            <th style="background-color: #E8E8E8 !important;" >CREÉ PAR</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for devis in deviss %}
                                            {% if devis.etat == 'save' %}
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" data-toggle="toggle"
                                                               class="DEVYS2"
                                                               value="{{ devis.id }}"></td>

                                                    <td>{{ devis.date|date('Y.m.d H.i.s') }}</td>

                                                    <td>
                                                        <a href="{{ path('editdevis', {'id': devis.id, 'idchantier': devis.chantier.id}) }}"
                                                           style="color:dodgerblue"><span
                                                                    class="badge badge-pill badge-secondary">V</span> {{ devis.iddevis }}
                                                        </a>
                                                    </td>

                                                    <td title="{{ devis.reference|striptags|raw }}">{{ devis.reference|striptags|raw }}</td>
                                                    <td class="text-right">{{ devis.totalht|number_format(2,',',' ') }}</td>
                                                    <td class="text-right">{{ devis.totalttc|number_format(2,',',' ') }}</td>
                                                    <td>DEVIS NON VALIDÉS | <span style="color:#4e73df !important;">{{ devis.client.client}} - {{ devis.chantier.chantier }}</span></td>
                                                    <td class="text-left text-pri bolderrer" style="background-color: #E8E8E8 !important;"><i class="fa fa-user text-pri"></i>&nbsp;{{ devis.dobyuser.nom|upper }}&nbsp;{{ devis.dobyuser.prenoms|upper }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# FIN DEVIS #}

                    {# BON DE COMMANDE #}
                    <div class="card shadow mb-4" style="margin-bottom: 20px">
                        <div id="headingQu">
                            <h5 class="mb-0">
                                <a class="btn bg-pri text-left text-white" data-toggle="collapse"
                                   data-target="#collapseQu"
                                   aria-expanded="true" aria-controls="collapseQu" style="width: 100%;">
                                    2- BONS DE COMMANDE<span class="badge badge-light float-right"
                                                             style="margin-top: 5px">{{ chantier.bons.count }}</span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseQu" class="collapse" aria-labelledby="headingQu"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div class="table-responsive">
                                    {% for message in app.flashes('errbon') %}
                                        <div class="alert alert-danger">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    {% for message in app.flashes('subon') %}
                                        <div class="alert alert-success">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    <table class="table-striped table-bordered display nowrap"
                                           style="width: 100%" id="dataBON">
                                        <thead>
                                        <tr class="text-center bg-light">
                                            <th style="width: 10px !important;"></th>
                                            <th style="width: 80px !important;">DATE</th>
                                            <th>N° BON</th>
                                            <th>RÉFÉRENCE</th>
                                            <th>TOTAL HT</th>
                                            <th>TOTAL TTC</th>
                                            <th style="width: 10px !important;">ETAT</th>
                                            <th style="background-color: #E8E8E8 !important;" >CREÉ PAR</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for bon in bons %}
                                            {% if bon.etat == 'valide' %}
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" data-toggle="toggle"
                                                               class="BONNS"
                                                               value="{{ bon.id }}"></td>
                                                    <td>{{ bon.date|date('Y.m.d H.i.s') }}</td>
                                                    <td>
                                                        {% if bon.type == "non" %}
                                                            <a href="{{ path('editbon', {'id': bon.id, 'idchantier': bon.chantier.id}) }}">
                                                                <span class="badge badge-pill badge-primary">V</span>
                                                                <span class="badge badge-pill badge-danger">BRC</span> {{ bon.numbon }}
                                                            </a>
                                                        {% else %}
                                                            <span
                                                                    class="badge badge-pill badge-primary">V</span>
                                                            <a href="{{ path('editbon', {'id': bon.id, 'idchantier': bon.chantier.id}) }}">{{ bon.numbon }}</a>
                                                        {% endif %}
                                                    </td>
                                                    <td title="{{ bon.reference|striptags|raw }}">{{ bon.reference|striptags|raw }}</td>
                                                    <td class="text-right">{{ bon.totalht|number_format(2, ',', ' ') }}</td>
                                                    <td class="text-right">{{ bon.totalttc|number_format(2, ',', ' ') }}</td>
                                                    <td>BONS DE COMMANDE VALIDÉS | <span style="color:#dc3545 !important;">{{ bon.client.client}} - {{ bon.chantier.chantier }}</span></td>
                                                    <td class="text-left text-pri bolderrer" style="background-color: #E8E8E8 !important;"><i class="fa fa-user text-pri"></i>&nbsp;{{ bon.dobyuser.nom|upper }}&nbsp;{{ bon.dobyuser.prenoms|upper }}</td>

                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                                    <hr style="width: 100%; height: 2px; background-color: darkgrey">
                                    <br>
                                    <table class="table-striped table-bordered display nowrap"
                                           style="width: 100%" id="dataBON2">
                                        <thead>
                                        <tr class="text-center bg-light">
                                            <th style="width: 10px !important;"></th>
                                            <th style="width: 80px !important;">DATE</th>
                                            <th>N° BON</th>
                                            <th>RÉFÉRENCE</th>
                                            <th>TOTAL HT</th>
                                            <th>TOTAL TTC</th>
                                            <th style="width: 10px !important;">ETAT</th>
                                            <th style="background-color: #E8E8E8 !important;" >CREÉ PAR</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for bon in bons %}
                                            {% if bon.etat == 'save' %}
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" data-toggle="toggle"
                                                               class="BONNS2"
                                                               value="{{ bon.id }}"></td>
                                                    <td>{{ bon.date|date('Y.m.d H.i.s') }}</td>
                                                    <td>
                                                        {% if bon.type == "non" %}
                                                            <a href="{{ path('editbon', {'id': bon.id, 'idchantier': bon.chantier.id}) }}"><span
                                                                        class="badge badge-pill badge-secondary">V</span>
                                                                <span
                                                                        class="badge badge-pill badge-danger">BRC</span> {{ bon.numbon }}
                                                            </a>
                                                        {% else %}
                                                            <span
                                                                    class="badge badge-pill badge-secondary">V</span>
                                                            <a href="{{ path('editbon', {'id': bon.id, 'idchantier': bon.chantier.id}) }}">{{ bon.numbon }}</a>
                                                        {% endif %}
                                                    </td>
                                                    <td title="{{ bon.reference|striptags|raw }}">{{ bon.reference|striptags|raw }}</td>
                                                    <td class="text-right">{{ bon.totalht|number_format(2, ',', ' ') }}</td>
                                                    <td class="text-right">{{ bon.totalttc|number_format(2, ',', ' ') }}</td>
                                                    <td>BONS DE COMMANDE NON VALIDÉS |  <span style="color:#4e73df !important;">{{ bon.client.client}} - {{ bon.chantier.chantier }}</span></td>
                                                    <td class="text-left text-pri bolderrer" style="background-color: #E8E8E8 !important;"><i class="fa fa-user text-pri"></i>&nbsp;{{ bon.dobyuser.nom|upper }}&nbsp;{{ bon.dobyuser.prenoms|upper }}</td>

                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# END BON DE COMMANDE#}

                    {# CAISSES #}
                    <div class="card shadow mb-4" style="margin-bottom: 20px">
                        <div id="headingCi">
                            <h5 class="mb-0">
                                <a class="btn bg-pri text-left text-white" data-toggle="collapse"
                                   data-target="#collapseCi"
                                   aria-expanded="true" aria-controls="collapseCi" style="width: 100%;">
                                    3- BON DE CAISSE<span class="badge badge-light float-right"
                                                          style="margin-top: 5px">{{ caisses.count }}</span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseCi" class="collapse" aria-labelledby="headingCi"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div class="table-responsive" style="overflow-x: scroll">
                                    <table class="table-bordered display nowrap" style="width: 100%"
                                           id="dataCAISSE">
                                        <thead>
                                        <tr class="text-center bg-light">
                                            <th style="width: 10px !important;"></th>
                                            <th style="width: 80px">DATE</th>
                                            <th>N° BON</th>
                                            <th>FACTURÉ À</th>
                                            <th>CLIENT | PROJET</th>
                                            <th>MONTANT</th>
                                            <th style="background-color: #E8E8E8 !important;" >CREÉ PAR</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for caisse in caisses %}
                                            {% if caisse.etat == 'valide' %}
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" data-toggle="toggle"
                                                               class="CAYSS"
                                                               value="{{ caisse.id }}"></td>

                                                    <td>{{ caisse.date|date('Y.m.d H.i.s') }}</td>
                                                    <td><a
                                                                href="{{ path('editcaisse', {'idcaisse': caisse.id, 'idchantier': caisse.chantier.id}) }}"><span
                                                                    class="badge badge-pill badge-primary">V</span> {{ caisse.numcaisse }}
                                                        </a>
                                                    </td>
                                                    <td title="{{ caisse.intervenant.nom|upper }}">
                                                        {% if caisse.intervenant.reste <= 0 %}
                                                            <span class="text-dangerr">SOLDÉ</span> | {{ caisse.intervenant.nom|upper }}
                                                            <br>
                                                        {% else %}
                                                            <span class="text-success">NON SOLDÉ</span> | {{ caisse.intervenant.nom|upper }}
                                                            <br>
                                                        {% endif %}

                                                        {% if caisse.intervenant.reste <= 0 %}
                                                            <span class="text-black-50">
                                                                MONTANT À RECEVOIR : {{ caisse.intervenant.payer|number_format(2,',',' ') }}<br>
                                                                MONTANT RECU : {{ caisse.intervenant.recu|number_format(2,',',' ') }}<br>
                                                                <u class="text-success">RESTE À PAYER : {{ caisse.intervenant.reste|number_format(2,',',' ') }}</u><br>
                                                            </span>
                                                        {% else %}
                                                            <span class="text-black-50">
                                                                MONTANT À RECEVOIR : {{ caisse.intervenant.payer|number_format(2,',',' ') }}<br>
                                                                MONTANT RECU : {{ caisse.intervenant.recu|number_format(2,',',' ') }}<br>
                                                                <u class="text-danger">RESTE À PAYER : {{ caisse.intervenant.reste|number_format(2,',',' ') }}</u><br>
                                                            </span>
                                                        {% endif %}
                                                    </td>
                                                    <td title="{{ caisse.client.client}} | {{ caisse.chantier.chantier }}">{{ caisse.client.client}} | {{ caisse.chantier.chantier }}</td>
                                                    <td class="text-right">{{ caisse.montant|number_format(2,',',' ') }}</td>
                                                    <td class="text-left text-pri bolderrer" style="background-color: #E8E8E8 !important;"><i class="fa fa-user text-pri"></i>&nbsp;{{ caisse.dobyuser.nom|upper }}&nbsp;{{ caisse.dobyuser.prenoms|upper }}</td>

                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                                    <hr style="width: 100%; height: 2px; background-color: darkgrey">
                                    <br>
                                    <table class="table-bordered display nowrap" style="width: 100%"
                                           id="dataCAISSE2">
                                        <thead>
                                        <tr class="text-center bg-light">
                                            <th style="width: 10px !important;"></th>
                                            <th style="width: 80px">DATE</th>
                                            <th>N° BON</th>
                                            <th>ETAT</th>
                                            <th>FACTURÉ À</th>
                                            <th>RÉFÉRENCE</th>
                                            <th>MONTANT</th>
                                            <th style="background-color: #E8E8E8 !important;" >CREÉ PAR</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for caisse in caisses %}
                                            {% if caisse.etat == 'save' %}
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" data-toggle="toggle"
                                                               class="CAYSS2"
                                                               value="{{ caisse.id }}"></td>

                                                    <td>{{ caisse.date|date('Y.m.d H.i.s') }}</td>
                                                    <td><a
                                                                href="{{ path('editcaisse', {'idcaisse': caisse.id, 'idchantier': caisse.chantier.id}) }}"><span
                                                                    class="badge badge-pill badge-secondary">V</span> {{ caisse.numcaisse }}
                                                        </a>
                                                    </td>
                                                    <td>BONS DE CAISSE NON VALIDÉS | <span style="color:#4e73df !important;">{{ caisse.client.client}} - {{ caisse.chantier.chantier }}</span></td>
                                                    <td title="{{ caisse.intervenant.nom|upper }}">{{ caisse.intervenant.nom|upper }}
                                                    </td>
                                                    <td title="{{ caisse.reference|striptags|raw }}">{{ caisse.reference|striptags }}</td>
                                                    <td class="text-right">{{ caisse.montant|number_format(2,',',' ') }}</td>
                                                    <td class="text-left text-pri bolderrer" style="background-color: #E8E8E8 !important;"><i class="fa fa-user text-pri"></i>&nbsp;{{ caisse.dobyuser.nom|upper }}&nbsp;{{ caisse.dobyuser.prenoms|upper }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# END CAISSE #}

                    {# BONS DE LIVRAISON #}
                    <div class="card shadow mb-4" style="margin-bottom: 20px">
                        <div id="headingSepT">
                            <h5 class="mb-0">
                                <a class="btn bg-pri text-left text-white" data-toggle="collapse"
                                   data-target="#collapseSepT"
                                   aria-expanded="true" aria-controls="collapseSepT" style="width: 100%;">
                                    4- BONS DE LIVRAISON<span class="badge badge-light float-right"
                                                              style="margin-top: 5px">{{ chantier.livraisons.count }}</span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseSepT" class="collapse" aria-labelledby="headingSepT"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div class="table-responsive">

                                    {% for message in app.flashes('errlivraison') %}
                                        <div class="alert alert-danger">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    {% for message in app.flashes('sulivraison') %}
                                        <div class="alert alert-success">
                                            {{ message }}
                                        </div>
                                    {% endfor %}

                                    <table class="table-striped table-bordered display nowrap"
                                           style="width: 100%" id="dataLIVRAISON">
                                        <thead>
                                        <tr class="text-center bg-light">
                                            <th style="width: 10px !important;"></th>
                                            <th style="width: 80px !important;">DATE</th>
                                            <th style="width: 150px">N° BON DE LIVRAISON</th>
                                            <th style="width: 160px">INTERVENANT</th>
                                            <th style="width: 300px">RÉFÉRENCE</th>
                                            <th style="width: 10px !important;">ETAT</th>
                                            <th style="background-color: #E8E8E8 !important;" >CREÉ PAR</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for livre in livraisons %}
                                            {% if livre.etat == "valide" %}
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" data-toggle="toggle"
                                                               class="LIVRES"
                                                               value="{{ livre.id }}"></td>
                                                    <td>{{ livre.date|date('Y.m.d H.i.s') }}</td>
                                                    <td>
                                                        <a href="{{ path('editlivraison', {'id': livre.id, 'idchantier': livre.chantier.id}) }}">{{ livre.numlivre }}</a>
                                                    </td>
                                                    <td>{{ livre.intervenant.nom }}</td>
                                                    <td title="{{ livre.reference|striptags|raw }}">{{ livre.reference|striptags|raw }}</td>
                                                    <td>BONS DE LIVRAISON VALIDÉS | <span style="color:#dc3545 !important;">{{ livre.client.client}} - {{ livre.chantier.chantier }}</span></td>
                                                    <td class="text-left text-pri bolderrer" style="background-color: #E8E8E8 !important;"><i class="fa fa-user text-pri"></i>&nbsp;{{ livre.dobyuser.nom|upper }}&nbsp;{{ livre.dobyuser.prenoms|upper }}</td>

                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                    <br>
                                    <hr style="width: 100%; height: 2px; background-color: darkgrey">
                                    <br>
                                    <table class="table-striped table-bordered display nowrap"
                                           style="width: 100%" id="dataLIVRAISON2">
                                        <thead>
                                        <tr class="text-center bg-light">
                                            <th style="width: 10px !important;"></th>
                                            <th style="width: 80px !important;">DATE</th>
                                            <th>N° BON DE LIVRAISON</th>
                                            <th>INTERVENANT</th>
                                            <th>RÉFÉRENCE</th>
                                            <th>ETAT</th>
                                            <th style="background-color: #E8E8E8 !important;" >CREÉ PAR</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for livre in chantier.livraisons %}
                                            {% if livre.etat == "save" %}
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" data-toggle="toggle"
                                                               class="LIVRES2"
                                                               value="{{ livre.id }}"></td>
                                                    <td>{{ livre.date|date('Y.m.d H.i.s') }}</td>
                                                    <td>
                                                        <a href="{{ path('editlivraison', {'id': livre.id, 'idchantier': livre.chantier.id}) }}"
                                                           style="color: #dc3545 !important;">{{ livre.numlivre }}</a>
                                                    </td>
                                                    <td style="color: #dc3545 !important;">{{ livre.intervenant.nom|upper }}</td>
                                                    <td title="{{ livre.reference|striptags|raw }}">{{ livre.reference|striptags|raw }}</td>
                                                    <td>BONS DE LIVRAISON NON VALIDÉS <span style="color:#4e73df !important;">{{ livre.client.client}} - {{ livre.chantier.chantier }}</span></td>
                                                    <td class="text-left text-pri bolderrer" style="background-color: #E8E8E8 !important;"><i class="fa fa-user text-pri"></i>&nbsp;{{ livre.dobyuser.nom|upper }}&nbsp;{{ livre.dobyuser.prenoms|upper }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# FIN BON DE LIVRAISON #}

                    {# FACTURES #}
                    <div class="card shadow mb-4" style="margin-bottom: 20px">
                        <div id="headingSep">
                            <h5 class="mb-0">
                                <a class="btn bg-pri text-left text-white" data-toggle="collapse"
                                   data-target="#collapseSep"
                                   aria-expanded="true" aria-controls="collapseSep" style="width: 100%;">
                                    5- FACTURES<span class="badge badge-light float-right"
                                                     style="margin-top: 5px">{{ chantier.factures.count }}</span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseSep" class="collapse" aria-labelledby="headingSep"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div class="table-responsive">
                                    {% for message in app.flashes('errfact') %}
                                        <div class="alert alert-danger">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    {% for message in app.flashes('sufact') %}
                                        <div class="alert alert-success">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    <table class="table-striped table-bordered display nowrap"
                                           style="width: 100%" id="dataFACTURE">
                                        <thead>
                                        <tr class="text-center bg-light">
                                            <th style="width: 10px !important;"></th>
                                            <th style="width: 80px !important;">DATE</th>
                                            <th>N° FACTURE</th>
                                            <th>N° DEVIS</th>
                                            <th>RÉFÉRENCE</th>
                                            <th>TOTAL HT</th>
                                            <th>TOTAL TTC</th>
                                            <th style="width: 10px !important;">ETAT</th>
                                            <th style="background-color: #E8E8E8 !important;" >CREÉ PAR</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for facture in factures %}
                                            {% if facture.etat == 'valide' %}
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" data-toggle="toggle"
                                                               class="FACTURE"
                                                               value="{{ facture.id }}"></td>
                                                    <td>{{ facture.date|date('Y.m.d H.i.s') }}</td>
                                                    <td>
                                                        {% if facture.type == "non" %}
                                                            <a href="{{ path('editfacture', {'id': facture.id, 'idchantier': facture.chantier.id}) }}">
                                                                <span class="badge badge-pill badge-primary">V</span>
                                                                <span class="badge badge-pill badge-danger">FA</span> {{ facture.numfacture }}
                                                            </a>
                                                        {% else %}
                                                            <span
                                                                    class="badge badge-pill badge-primary">V</span>
                                                            <a href="{{ path('editfacture',{'id':facture.id,'idchantier':chantier.id}) }}">{{ facture.numfacture }}</a>
                                                        {% endif %}
                                                    </td>
                                                    <td><a href="{{ path('editdevis', {'id': facture.devis.id, 'idchantier': facture.chantier.id}) }}">{{ facture.devis.iddevis }}</a></td>
                                                    <td title="{{ facture.reference|striptags|raw }}">{{ facture.reference|striptags|raw }}</td>
                                                    <td class="text-right">{{ facture.devis.totalht|number_format(2, ',', ' ') }}</td>
                                                    <td class="text-right">{{ facture.devis.totalttc|number_format(2, ',', ' ') }}</td>
                                                    <td>FACTURES VALIDÉÉS | <span style="color:#dc3545 !important;">{{ facture.client.client}} - {{ facture.chantier.chantier }}</td>
                                                    <td class="text-left text-pri bolderrer" style="background-color: #E8E8E8 !important;"><i class="fa fa-user text-pri"></i>&nbsp;{{ facture.dobyuser.nom|upper }}&nbsp;{{ facture.dobyuser.prenoms|upper }}</td>

                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                                    <hr style="width: 100%; height: 2px; background-color: darkgrey">
                                    <br>
                                    <table class="table-striped table-bordered display nowrap"
                                           style="width: 100%" id="dataFACTURE2">
                                        <thead>
                                        <tr class="text-center bg-light">
                                            <th style="width: 10px !important;"></th>
                                            <th style="width: 80px !important;">DATE</th>
                                            <th>N° FACTURE</th>
                                            <th>N° DEVIS</th>
                                            <th>RÉFÉRENCE</th>
                                            <th>TOTAL HT</th>
                                            <th>TOTAL TTC</th>
                                            <th style="width: 10px !important;">ETAT</th>
                                            <th style="background-color: #E8E8E8 !important;" >CREÉ PAR</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for facture in chantier.factures %}
                                            {% if facture.etat == 'save' %}
                                                <tr>
                                                    <td class="text-center">
                                                        <input type="checkbox" data-toggle="toggle"
                                                               class="FACTURE2"
                                                               value="{{ facture.id }}"></td>
                                                    <td>{{ facture.date|date('Y.m.d H.i.s') }}</td>
                                                    <td>
                                                        {% if facture.type == "non" %}
                                                            <a href="{{ path('editfacture', {'id': facture.id, 'idchantier': facture.chantier.id}) }}">
                                                                <span class="badge badge-pill badge-secondary">V</span>
                                                                <span class="badge badge-pill badge-danger">FA</span> {{ facture.numfacture }}
                                                            </a>
                                                        {% else %}
                                                            <span
                                                                    class="badge badge-pill badge-secondary">V</span>
                                                            <a href="{{ path('editfacture',{'id':facture.id,'idchantier':chantier.id}) }}">{{ facture.numfacture }}</a>
                                                        {% endif %}
                                                    </td>
                                                    <td><a href="{{ path('editdevis', {'id': facture.devis.id, 'idchantier': facture.chantier.id}) }}">{{ facture.devis.iddevis }}</a></td>
                                                    <td title="{{ facture.reference|striptags|raw }}">{{ facture.reference|striptags|raw }}</td>
                                                    <td class="text-right">{{ facture.devis.totalht|number_format(2, ',', ' ') }}</td>
                                                    <td class="text-right">{{ facture.devis.totalttc|number_format(2, ',', ' ') }}</td>
                                                    <td>FACTURES NON VALIDÉÉS | <span style="color:#4e73df !important;">{{ facture.client.client}} - {{ facture.chantier.chantier }}</td>
                                                    <td class="text-left text-pri bolderrer" style="background-color: #E8E8E8 !important;"><i class="fa fa-user text-pri"></i>&nbsp;{{ facture.dobyuser.nom|upper }}&nbsp;{{ facture.dobyuser.prenoms|upper }}</td>

                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# FIN FACTURES #}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
